﻿@model HUDHealthcarePortal.Model.OPAViewModel 
<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<script src="/Scripts/jquery.fileupload.js"></script>
<script src="/Scripts/jquery.fileupload-ui.js"></script>
<script src="/Scripts/jquery.iframe-transport.js"></script>





<style>
    .specialContainer {
        display: inline-block;
        vertical-align: top;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #hold {
        display: block;
        padding: 10px 10px;
        width: 100%;
        max-height: 600px;
    }

    table#myDemoTable {
        width: 100%;
        max-height: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background: white;
        overflow-y: scroll;
        height: 600px;
        display: block;
    }

    .content,
    .header,
    .container {
        width: 100%;
        max-height: 100%;
    }


    .header {
        color: black;
        text-align: center;
    }

    .container {
        background: white;
    }

    .sidebar {
        width: 10%;
        background: white;
        color: white;
        float: left;
    }

    .content {
        width: 90%;
        position: relative;
    }

    h4 {
        margin: 0;
    }

    #myDemoTable table {
    }

    #myDemoTable thead {
        position: absolute;
        top: 1px;
        left: 0px;
        right: 0px;
    }

    #myDemoTable tbody {
        padding: 1.3em 0px 0px;
        margin: 0px;
        display: block;
    }

    #myDemoTable tr {
        width: 100%;
        display: block;
        margin-top: -2px;
    }

    #myDemoTable th {
        position: absolute;
    }

    #myDemoTable td {
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }

    td.col2,
    td.col3,
    td.col4,
    td.col5 {
        margin-left: -4px;
    }

    .col1 {
        width: 60%;
    }

    .col2 {
        width: 12%;
    }

    .col3 {
        width: 12%;
    }

    .col4 {
        width: 12%;
    }



    #myDemoTable a {
        display: block;
        width: 75px;
    }

    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }


    /*!
       * Helpers to hide text field in type = "file", and present buttons consistently.
       */

    /* Hide the file input using opacity */
    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        top: -100px;
    }

        [type=file] + label {
            font-weight: bold;
            border: 1px solid #CCC;
            border-radius: 3px;
            text-align: left;
            padding: 10px;
            margin: 0;
            left: 0;
            position: relative;
        }

        [type=file] + label {
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            left: 0em;
            top: 0.5em;
            /* Decorative */
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            [type=file] + label:hover {
                background: #3399ff;
            }

    [type=button] {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
    }

    [type=button] {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        width: 75px;
        cursor: pointer;
    }

    #myDemoTable a {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
        text-decoration: none;
    }

    #myDemoTable a {
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 75px;
        text-decoration: none;
        width: 20em;
        height: 2em;
    }


    #divSideBar a {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
        text-decoration: none;
    }

    #divSideBar a {
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 75px;
        text-decoration: none;
        width: 20em;
        height: 2em;
    }

        #divSideBar a:hover {
            background: #3399ff;
        }


    [type=button]:hover {
        background: #3399ff;
    }

    #myDemoTable a:hover {
        background: #3399ff;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <span class="col-md-4 text-right ">
            @Html.Label("Attach 1 or more documents to support your request")
        </span>
        <span class="col-md-4">

            <input  class="fileClass" id="file_3748e2ea-289a-40a6-9312-639e68360d98" name="file_3748e2ea-289a-40a6-9312-639e68360d98" type="file" value="" multiple="multiple">
            <label id="file_3748e2ea-289a-40a6-9312-639e68360d98" for="file_3748e2ea-289a-40a6-9312-639e68360d98"  class="fileClass"><strong> Attach </strong></label>

        </span>
    </div>
</div>
<hr />

   



