﻿@model Model.Production.FHANumberRequestViewModel
@using HUDHealthcarePortal.BusinessService
@{
    ViewBag.Title = "FHARequestLenderReadOnlyView";
}
<!-------------------------------------------------------------------------------------------------------------------------- -->
@*<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />*@
<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>
@*<script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>*@
<!-------------------------------------------------------------------------------------------------------------------------- -->

<style type="text/css">
    label.required:after {
        content: " *";
        color: red;
    }
</style>
<section id="fharequestformreadonly">
    @using (Html.BeginForm("Index", "FHARequest", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;" }))
    {
        @Html.HiddenFor(m => m.IsMidLargePortfolio, new { id = "txtMidLargePortfolio" })
        @Html.HiddenFor(m => m.IsAddressCorrect, new { id = "rbAddressCorrect" })
        @Html.HiddenFor(m => m.IsMasterLeaseProposed, new { id = "rbMasterLeaseProposed" })

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4 text-left">
                    @if (Model.RequestStatus == (int)RequestStatus.Approve)
                    {
                        <h4><b>&nbsp;&nbsp;&nbsp;FHA# Request Form (Approved)</b></h4>
                    }
                    else if (Model.RequestStatus == (int)RequestStatus.Deny)
                    {
                        <h4><b>&nbsp;&nbsp;&nbsp;FHA# Request Form (Denied)</b></h4>
                    }
                    else if (Model.RequestStatus == (int)RequestStatus.Cancel)
                    {
                        <h4><b>&nbsp;&nbsp;&nbsp;FHA# Request Form (Cancelled)</b></h4>
                    }
                    else if (RoleManager.IsProductionUser(UserPrincipal.Current.UserName) && Model.FhaRequestType == (int)ProductionView.Portfolio && Model.IsPortfolioCancelled)
                    {
                        <h4><b>&nbsp;&nbsp;&nbsp;FHA# Request Form (Cancelled)</b></h4>
                    }
                    else if (RoleManager.IsProductionUser(UserPrincipal.Current.UserName) && Model.FhaRequestType == (int)ProductionView.CreditReview && Model.IsCreditCancelled)
                    {
                        <h4><b>&nbsp;&nbsp;&nbsp;FHA# Request Form (Cancelled)</b></h4>
                    }
                    else
                    {
                        <h4><b>&nbsp;&nbsp;&nbsp;FHA# Request Form (Read-Only)</b></h4>
                    }
                </span>
            </div>
        </div>
        <br />
        <div class="container-fluid">
            @*New by venkatesh*@
            <div class="container-fluid">
                <div class="row">
                    <h4>
                        <span>
                            @Html.Label("FHA Number Insert")
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("FHA Number", new { @class = "required" })
                </span>
                <span class="col-md-1 text-left">
                    @Html.LabelForModel(Model.FHANumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Comments")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.InsertFHAComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>

            @if (Model.IsPortfolioRequired)
            {
                <hr />
                <div class="container-fluid">
                    <div class="row">
                        <h4>
                            <span>
                                @Html.Label("Update Portfolio Data")
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right">
                        @Html.Label("Mid/Large portfolio")
                    </span>
                    <span class="col-md-1 required">
                        @Html.LabelForModel(Model.IsMidLargePortfolio != null ? (Model.IsMidLargePortfolio.Value ? "Yes" : "No") : "(None)", new { title = "Is Mid/Large", @class = "fieldLabel" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right">
                        @Html.Label("Small portfolio")
                    </span>
                    <span class="col-md-1 required">
                        @Html.LabelForModel(Model.IsMidLargePortfolio != null ? (Model.IsMidLargePortfolio.Value ? "No" : "Yes") : "(None)", new { title = "Is Mid/Large", @class = "fieldLabel" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right">
                        @Html.Label("Portfolio Number", new { @class = "required" })
                    </span>
                    <span class="col-md-3 required">
                        @Html.LabelForModel(Model.Portfolio_Number.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right">
                        @Html.Label("Portfolio Name", new { @class = "required" })
                    </span>
                    <span class="col-md-3 required">
                        @Html.LabelForModel(Model.Portfolio_Name ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right">
                        @Html.Label("Comments")
                    </span>
                    <span class="col-md-3 required">
                        @Html.LabelForModel(Model.PortfolioComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            }
            @if (Model.IsCreditReviewRequired)
            {
            <hr />
            <div class="container-fluid">
                <div class="row">
                    <h4>
                        <span>
                            @Html.Label("Credit Approval Data")
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Letter", new { @class = "required" })
                </span>
                <span class="col-md-3 text-left">
                    <a onclick="event.preventDefault(); getFile(@Model.FileId);" href="#" style="text-decoration: underline;">@Model.CreditLetterFileName</a>
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Date Provided", new { @class = "required" })
                </span>
                <span class="col-md-3 text-left">
                    @Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.CreditReviewDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Comments")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.CreditreviewComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            }


           @if (Model.RequestStatus == (int)RequestStatus.Deny)
            {
            <hr />
            <div class="container-fluid">
                <div class="row">
                    <h4>
                        <span>
                            @Html.Label("Deny")
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Deny Comments", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.DenyComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            }

            @if (Model.RequestStatus == (int)RequestStatus.Cancel)
            {
            <hr />
            <div class="container-fluid">
                <div class="row">
                    <h4>
                        <span>
                            @Html.Label("Cancel")
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Cancel Comments", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.CancelComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            }

            @if (Model.IsPortfolioCancelled)
            {
            <hr />
            <div class="container-fluid">
                <div class="row">
                    <h4>
                        <span>
                            @Html.Label("Cancel - Update Portfolio Data")
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Cancel Comments", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.PortfolioCancelComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            }
            @if (Model.IsCreditCancelled)
            {
            <hr />
            <div class="container-fluid">
                <div class="row">
                    <h4>
                        <span>
                            @Html.Label("Cancel - Credit Approval Data")
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Cancel Comments", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.CreditCancelComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            }
            <hr />
            @*New by venkatesh*@
            <div class="row">
                <h4>
                    <span>
                        @Html.Label("Application General Information")
                    </span>
                </h4>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Project Name", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.ProjectName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("Borrower Type", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.SelectedBorrowerTypeName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Type of Project", new { @class = "required" })
                </span>
                <span class="col-md-2 required">
                    @Html.LabelForModel(Model.SelectedProjectTypeName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-2">
                    @Html.LabelForModel(Model.SelectedConstructionStageName ?? "", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-2 text-right">
                    @Html.Label("Proposed Loan Amount", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel("$" + Model.LoanAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Current FHA Project#")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.CurrentFHANumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("Re-enter Loan Amount", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel("$" + Model.ConfirmLoanAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Type of Current Loan(if 223a7)")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.SelectedCurrentLoanTypeName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("Proposed Interest Rate", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.ProposedInterestRate.ToString() +"%" ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right required">
                    @Html.Label("Property ID#", new { @class = "required" })
                </span>
                <span class="col-md-3">
                    @Html.LabelForModel(Model.PropertyId.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("")
                </span>
                <span class="col-md-3">

                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Type of Activity(if 223f)", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.SelectedActivityTypeName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("")
                </span>
                <span class="col-md-3 required">
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Type of Mortgage Insurance", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.SelectedMortgageInsuranceTypeName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("")
                </span>
                <span class="col-md-3 required">

                </span>
            </div>
        </div>
        @* #293 Hareesh*@
        @*<div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is the property address listed correctly?", new { @class = "required" })
                </span>
                <span class="col-md-1">
                    @Html.LabelForModel(Model.IsAddressCorrect != null ? (Model.IsAddressCorrect.Value ? "Yes" : "No") : "(None)", new { title = "Is Address Correct", @class = "fieldLabel" })
                </span>

               
                <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsAddressCorrect, false, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsAddressCorrect, true, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
            </div>
        </div>*@
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Project Street Address")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.PropertyStreetAddress ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("Project Zip Code")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.PropertyZip ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Project City")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.PropertyCity ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("Congressional District")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.CongressionalDtId.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Project State")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.SelectedStateName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("")
                </span>
                <span class="col-md-3 required">

                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Lender Name")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.LenderName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("Lender ID#")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.LenderId.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Lender Contact Name", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.LenderContactName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("")
                </span>
                <span class="col-md-3 required">

                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Lender Contact Email", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.LenderContactEmail ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("")
                </span>
                <span class="col-md-3 required">

                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Lender Contact Phone", new { @class = "required" })
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.LenderContactPhone ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
                <span class="col-md-3 text-right">
                    @Html.Label("")
                </span>
                <span class="col-md-3 required">

                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <h4>
                    <span>
                        @Html.Label("Project Characteristics")
                    </span>
                </h4>
            </div>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Skilled Nursing")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.SkilledNursingBeds.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Beds")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.SkilledNursingUnits.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Units")
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("Additional Financing Resoures")
            </span>
            <span class="col-md-1 text-right">
                @Html.Label("LIHTC")
            </span>
            <span class="col-md-1 required">
                @Html.CheckBoxFor(m => m.IsLIHTC, new { id = "lihtc", @disabled = true })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Assisted Living")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.AssistedLivingBeds.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Beds")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.AssistedLivingUnits.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Units")
            </span>
            <span class="col-md-2 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-2 text-right">
                @Html.Label("Tax-Exempt Bonds")
            </span>
            <span class="col-md-1 required">
                @Html.CheckBoxFor(m => m.IsTaxExempted, new { id = "taxExempted", @disabled = true })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Board & Care")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.BoardCareBeds.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Beds")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.BoardCareUnits.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Units")
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-1 text-right">
                @Html.Label("HOME")
            </span>
            <span class="col-md-1 required">
                @Html.CheckBoxFor(m => m.IsHome, new { id = "home", @disabled = true })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Memory Care")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.MemoryCareBeds.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Beds")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.MemoryCareUnits.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Units")
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-1 text-right">
                @Html.Label("CDBG")
            </span>
            <span class="col-md-1 required">
                @Html.CheckBoxFor(m => m.IsCDBG, new { id = "cdbg", @disabled = true })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Independent")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.IndependentBeds.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Beds")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.IndependentUnits.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Units")
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-1 text-right">
                @Html.Label("Other")
            </span>
            <span class="col-md-1 required">
                @Html.CheckBoxFor(m => m.IsOther, new { id = "other", @disabled = true })
            </span>
        </div>

        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Other")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.OtherBeds.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Beds")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.OtherUnits.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
            <span class="col-md-1 text-left">
                @Html.Label("Units")
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-1 text-right">

            </span>
            <span class="col-md-1 required">

            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("CMS Star Rating")
            </span>
            <span class="col-md-3 required">
                @Html.LabelForModel(Model.SelectedCmsStarRating ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
        </div>

        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Master Lease Proposed?", new { @class = "required" })
            </span>
            <span class="col-md-1">
                @Html.LabelForModel(Model.IsMasterLeaseProposed != null ? (Model.IsMasterLeaseProposed.Value ? "Yes" : "No") : "(None)", new { title = "Is Master lease", @class = "fieldLabel" })
            </span>
            @*<span class="col-md-1 text-right">
                    <label>Yes</label>
                    <span>
                        @Html.RadioButtonFor(m => m.IsMasterLeaseProposed, false, new { @id = "leaseYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                    </span>
                </span>
                <span class="col-md-1 text-right">
                    <label>No</label>
                    <span>
                        @Html.RadioButtonFor(m => m.IsMasterLeaseProposed, true, new { @id = "leaseNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;", disabled = true })
                    </span>
                </span>*@
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <h4>
                    <span>
                        @Html.Label("Projects with Common Control (whether part of a Small, Mid/Size or Large Portfolio)**")
                    </span>
                </h4>
            </div>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Is this property part of a new or existing portfolio?", new { @class = "required" })
            </span>
            <span class="col-md-1 text-left">
                @Html.LabelForModel(Model.SelectedPortfolioStatusName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Mid/Large portfolio")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.IsMidLargePortfolio != null ? (Model.IsMidLargePortfolio.Value ? "Yes" : "No") : "(None)", new { title = "Is Mid/Large", @class = "fieldLabel" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Small portfolio")
            </span>
            <span class="col-md-1 required">
                @Html.LabelForModel(Model.IsMidLargePortfolio != null ? (Model.IsMidLargePortfolio.Value ? "No" : "Yes") : "(None)", new { title = "Is Small", @class = "fieldLabel" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Portfolio Number")
            </span>
            <span class="col-md-3 required">
                @Html.LabelForModel(Model.Portfolio_Number.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Portfolio Name")
            </span>
            <span class="col-md-3 required">
                @Html.LabelForModel(Model.Portfolio_Name ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Lender Comments")
            </span>
            <span class="col-md-3 required">
                @Html.LabelForModel(Model.Comments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <table>
                    <tr>
                        <td>@Html.CheckBoxFor(m => m.IsDisclaimerAccepted, new { @class = "rbFakeClass", @style = "width:80px;margin-left:7px;", @disabled = "disabled", @checked = Model.IsDisclaimerAccepted })</td>
                        <td><label class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />

        @*<div class="container-fluid">
                <div class="row">
                    <h4>
                        <span>
                            @Html.Label("FHA Number Insert")
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("FHA Number", new { @class = "required" })
                </span>
                <span class="col-md-1 text-left">
                    @Html.LabelForModel(Model.FHANumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
            <div class="row">
                <span class="col-md-3 text-right">
                    @Html.Label("Comments")
                </span>
                <span class="col-md-3 required">
                    @Html.LabelForModel(Model.InsertFHAComments ?? "(None)", new Dictionary<string, object>() {{"class", "fieldLabel"}})
                </span>
            </div>*@
        @*if (Model.IsPortfolioRequired)
            {
                <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <h4>
                                <span>
                                    @Html.Label("Update Portfolio Data")
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Mid/Large portfolio")
                        </span>
                        <span class="col-md-1 required">
                            @Html.LabelForModel(Model.IsMidLargePortfolio != null ? (Model.IsMidLargePortfolio.Value ? "Yes" : "No") : "(None)", new { title = "Is Mid/Large", @class = "fieldLabel" })
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Small portfolio")
                        </span>
                        <span class="col-md-1 required">
                            @Html.LabelForModel(Model.IsMidLargePortfolio != null ? (Model.IsMidLargePortfolio.Value ? "No" : "Yes") : "(None)", new { title = "Is Mid/Large", @class = "fieldLabel" })
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Portfolio Number", new { @class = "required" })
                        </span>
                        <span class="col-md-3 required">
                            @Html.LabelForModel(Model.Portfolio_Number.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Portfolio Name", new { @class = "required" })
                        </span>
                        <span class="col-md-3 required">
                            @Html.LabelForModel(Model.Portfolio_Name ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Comments")
                        </span>
                        <span class="col-md-3 required">
                            @Html.LabelForModel(Model.PortfolioComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
            }*@
        @*if (Model.IsCreditReviewRequired)
            {
                <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <h4>
                                <span>
                                    @Html.Label("Credit Approval Data")
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Letter", new { @class = "required" })
                        </span>
                        <span class="col-md-3 text-left">
                            <a href="/FHARequest/DownloadTaskFile/?taskfileid=@Model.FileId" style="text-decoration: underline;">@Model.CreditLetterFileName</a>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Date Provided", new { @class = "required" })
                        </span>
                        <span class="col-md-3 text-left">
                            @Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.CreditReviewDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Comments")
                        </span>
                        <span class="col-md-3 required">
                            @Html.LabelForModel(Model.CreditreviewComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                }


                if (Model.RequestStatus == (int)RequestStatus.Deny)
                {
                    <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <h4>
                                <span>
                                    @Html.Label("Deny")
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Deny Comments", new { @class = "required" })
                        </span>
                        <span class="col-md-3 required">
                            @Html.LabelForModel(Model.DenyComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                }

                if (Model.RequestStatus == (int)RequestStatus.Cancel)
                {
                    <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <h4>
                                <span>
                                    @Html.Label("Cancel")
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Cancel Comments", new { @class = "required" })
                        </span>
                        <span class="col-md-3 required">
                            @Html.LabelForModel(Model.CancelComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                }

                if (Model.IsPortfolioCancelled)
                {
                    <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <h4>
                                <span>
                                    @Html.Label("Cancel - Update Portfolio Data")
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Cancel Comments", new { @class = "required" })
                        </span>
                        <span class="col-md-3 required">
                            @Html.LabelForModel(Model.PortfolioCancelComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                }
                if (Model.IsCreditCancelled)
                {
                    <hr />
                    <div class="container-fluid">
                        <div class="row">
                            <h4>
                                <span>
                                    @Html.Label("Cancel - Credit Approval Data")
                                </span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-md-3 text-right">
                            @Html.Label("Cancel Comments", new { @class = "required" })
                        </span>
                        <span class="col-md-3 required">
                            @Html.LabelForModel(Model.CreditCancelComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                }*@
        
        if (Model.IsLenderPAMReport)
        {
            <span class="col-md-1 text-right">
                @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod Lender PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM")'" />
            </span>
            <br />
            <br />

        }
        else if (Model.IsMyTask && !Model.IsPAMReport)
        {
            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.ActionLink("Return to My Production Tasks", "Index", "ProductionMyTask", new { style = "text-decoration:underline" })
                </span>
            </div>
        }
        else if (Model.IsGroupTask)
        {
            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.ActionLink("Return to Lender Group Tasks", "Index", "ProductionGroupTask", new { style = "text-decoration:underline" })
                </span>
            </div>
        }

        else if (Model.IsQueue)
        {
            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.ActionLink("Return to Production Queue", "Index", "ProductionQueue", new { style = "text-decoration:underline" })
                </span>
            </div>
        }

    }
</section>
<div class="row">

    @if (Model.IsPAMReport)
    {
        <div class="container-fluid" style="padding-top: 15px">

            <span class="col-md-1 text-right">
               
    <button id="btnreturn" type="reset" class="btn btn-info btn-sm" value="Return to PAM Report" onclick="location.href='@Url.Action("PAMIndex", "ProdPam", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'">Return to PAM Report</button>
                @*<button id="btnreturn" type="reset" class="btn btn-info btn-sm" value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdPam", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'">Return to PAM Report</button>*@
            </span>


        </div>
    }

</div>
<script>

    function getFile(fileid) {
        // alert();
        window.open("/OPAForm/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
    }

    $(document).ready(function () {
        // debugger;
        if ($('#txtMidLargePortfolio').val() === "True") {
            $('#rbMidLargePortfolio').prop('checked', true);
        } else if ($('#txtMidLargePortfolio').val() === "False") {
            $('#rbSmallPortfolio').prop('checked', true);
        }

        if ($('#txtMidLargePortfolio').val() === "True") {
            $('#rbMidLargeSection').prop('checked', true);
        } else if ($('#txtMidLargePortfolio').val() === "False") {
            $('#rbSmallSection').prop('checked', true);
        }
        if ($('#rbAddressCorrect').val() === "True") {
            $('#rbYes').prop('checked', true);
        } else if ($('#rbAddressCorrect').val() === "False") {
            $('#rbNo').prop('checked', true);
        }

        if ($('#rbMasterLeaseProposed').val() === "True") {
            $('#leaseYes').prop('checked', true);
        } else if ($('#rbMasterLeaseProposed').val() === "False") {
            $('#leaseNo').prop('checked', true);
        }

    });
</script>
