﻿@using HUDHealthcarePortal.BusinessService
<script type="text/javascript">
    function userSelected(target) {
        $('#dialogCommon').dialog('close');
        if ($(target).val() == 'I Agree')
        {
            $('#hfAgreementAccepted').val('true');
            $('#hfIsUploadTermConfirmed').val('true');
            if ($(".rbFakeClass")[0]) { // confirmed from lender form upload page
                if ($("#rbSubmit").attr("checked"))
                    {
                        $('#btnSubmit').click();
                    }
                else {
                    $('#btnUpload').click();
                }
            } else { // confirmed from operator form upload page
                $('#btnSubmit').click();
            }
            //$('#btnUpload').click();
        }
        else
        {
            $('#hfAgreementAccepted').val('false');
        }
        return false;
    }
</script>
<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div>
            <p></p>
            @if (RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName))
            {
                <p>I do hereby certify that the key data elements entered into this portal are accurate to the best of my knowledge, information and belief – with the caveat that my entry of the key data elements is based upon the financial data contained on the financial statement submitted to me by the operator.</p>
                <p><b>Warning:</b> Any person who knowingly presents a false, fictitious, or fraudulent statement or claim in a matter within the jurisdiction of the U.S. Department of Housing and Urban Development is subject to criminal penalties, civil liability, and administrative sanctions. </p>
            }
            else
            {
                <p></p>
                <p>I do hereby certify that the financial information uploaded is true and correct to the best of my knowledge, information and belief; further, I understand that in the event that I have knowingly and willfully provided any false information, I will be liable for punishment in accordance with all applicable laws and statutes.</p>
                <p><b>Warning:</b> Any person who knowingly presents a false, fictitious, or fraudulent statement or claim in a matter within the jurisdiction of the U.S. Department of Housing and Urban Development is subject to criminal penalties, civil liability, and administrative sanctions.</p>
            }
        </div>
    </div>

    <br />

    <div class="row">
        <span class="col-md-offset-2 col-md-2">
            <input id="btnOk" type="submit" name="agreeOrNot" class="form-control" value="I Agree" onclick="userSelected(this)">
        </span>
        <span class="col-md-offset-2 col-md-2">
            <input id="btnCancel" type="submit" name="agreeOrNot" class="form-control" value="Cancel" onclick="userSelected(this)">
        </span>
    </div>
</div>




