﻿@model Model.Production.ProdPAMReportStatusGridViewModel

<script src="~/Scripts/jquery.mask.js"></script>

<style>
    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

@using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "modal-form", id = "SaveHUDPamReportFilterDetails" }))
{
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Date From", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.hudPamReportFilters.FromDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", id = "FromDate" })

            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Date To", new { @class = "required" })
            </span>
            <span class="col-md-3 " style="margin-left: -20px;">
                @Html.TextBoxFor(m => m.hudPamReportFilters.ToDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", id = "ToDate" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Project Name", new { @class = "required" })
            </span>
            <span class="col-md-3">
                <input type="text" id="AllPamReportProjectNames" value="@Model.hudPamReportFilters.ProjectName" />
                @Html.HiddenFor(m => m.hudPamReportFilters.ProjectName, new { id = "txtProjectName" })
                @* @Html.DropDownListFor(m => m.hudPamReportFilters.ProjectName, Model.hudPamReportFilters.AllProjectName, "Select Project Name", new { @class = "form-control" })*@
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("FHA Number", new { @class = "required" })
            </span>
            <span class="col-md-3 " style="margin-left: -20px;">
                <input type="text" id="PamReportallFHANumbers" value="@Model.hudPamReportFilters.FHANumber" />
                @Html.HiddenFor(m => m.hudPamReportFilters.FHANumber, new { id = "txtFha" })
                @* @Html.DropDownListFor(m => m.hudPamReportFilters.FHANumber, Model.hudPamReportFilters.AllFHANumber, "Select FHA Number", new { @class = "form-control" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("LoanType", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.hudPamReportFilters.LoanType, Model.hudPamReportFilters.AllLoanType, "Select Loan Type", new { @class = "form-control" })
            </span>
            @*<span class="col-md-3 text-right ">
                    @Html.Label("FHA Number Request", new { @class = "required" })
                </span>
                <span class="col-md-3" style="margin-left: -20px;">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.FHANumberRequest, Model.hudPamReportFilters.AllFHANumberRequest, "Select FHA Number Request", new { @class = "form-control" })
                </span>*@

        </div>
        <div class="row">

            <span class="col-md-3 text-right ">
                @Html.Label("Status", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Status, Model.hudPamReportFilters.AllStatus, "Select Status Type", new { @class = "form-control" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Project Stage", new { @class = "required" })
            </span>
            <span class="col-md-3 text-left" style="margin-left: -20px;">
                @Html.DropDownListFor(model => model.hudPamReportFilters.ProjectStage, Model.hudPamReportFilters.AllProjectStage, "Select Project Stage", new { @class = "form-control" })
            </span>
        </div>

        @*<div class="row">
                <span class="col-md-3 text-right ">
                    @Html.Label("Corporate Credit Review", new { @class = "required" })
                </span>
                <span class="col-md-3">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.CorporateCreditReview, Model.hudPamReportFilters.AllCorporateCreditReview, "Select Corporate Credit Review", new { @class = "form-control" })
                </span>
                <span class="col-md-3 text-right ">
                    @Html.Label("Portfolio Number Assignment", new { @class = "required" })
                </span>
                <span class="col-md-3" style="margin-left: -20px;">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.PortfolioNumberAssignment, Model.hudPamReportFilters.AllPortfolioNumberAssignment, "Select Portfolio Number Assignment", new { @class = "form-control" })
                </span>
            </div>*@
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Project Status", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Underwriter, Model.hudPamReportFilters.AllUnderwriter, "Select Underwriter", new { @class = "form-control" })
            </span>

            <span class="col-md-3 text-right ">
                @Html.Label("Appraiser", new { @class = "required" })
            </span>
            <span class="col-md-3" style="margin-left: -20px;">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Appraiser, Model.hudPamReportFilters.AllAppraiser, "Select Appraiser", new { @class = "form-control" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Environmentalist", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Environmentalist, Model.hudPamReportFilters.AllEnvironmentalist, "Select Environmentalist", new { @class = "form-control" })
            </span>

            <span class="col-md-3 text-right ">
                @Html.Label("Title & Survey", new { @class = "required" })
            </span>
            <span class="col-md-3" style="margin-left: -20px;">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Title_Survey, Model.hudPamReportFilters.AllTitle_Survey, "Select Title & Survey", new { @class = "form-control" })
            </span>
        </div>
        @*<div class="row">
                <span class="col-md-3 text-right ">
                    @Html.Label("Executed Documents", new { @class = "required" })
                </span>
                <span class="col-md-3">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.ExecutedDocuments, Model.hudPamReportFilters.AllExecutedDocuments, "Select Executed Documents", new { @class = "form-control" })
                </span>
            </div>*@
        <div class="row">

            @*<span class="col-md-3 text-right ">
                    @Html.Label("Master Lease Number Assignment", new { @class = "required" })
                </span>
                <span class="col-md-3 text-left" style="margin-left: -20px;">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.MasterLeaseNumberAssignment, Model.hudPamReportFilters.AllMasterLeaseNumberAssignment, "Select Master Lease Number Assignment", new { @class = "form-control" })
                </span>*@

        </div>
    </div>
    <div class="container-fluid" style="padding-top: 15px">
        <div class="row">
            <span class="col-md-5 text-right">
                <button id="btnHUDPamGetData" class="btn btn-default" style="border-color: #999">
                    Filter
                </button>
            </span>
            <span class="col-md-1 text-right">
                <button id="btnHUDPRFSave" class="btn btn-default" style="border-color: #999">
                    Save
                </button>
            </span>
            <span class="col-md-1 text-right">
                <button id="btnHUDPRFClear" class="btn btn-default"
                        style="border-color: #999">
                    Clear
                </button>
                @*<button  class="btn btn-default"
                            style="border-color: #999" onclick="ResetFilterResults()">
                        Clear
                    </button>*@
            </span>
        </div>
    </div>
    <div class="row" style="margin-left:20px;width: 1200px;">
        <span style="float: right; margin-left: 80px">
            @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", "ExportProdPAMReportV3", "ExcelExport", (object)Model.hudPamReportFilters, new { @class = "excelExport" }, null)

            @*@Html.ActionLink("Excel Export", "ExportProdPAMReportV3", "ExcelExport")*@
            @*<input id="ExclIcon" class="excelExport" href="@Url.Action("ExportProdPAMReportV3", "ExcelExport")" type="submit" style="background-image:url('/Images/icon_excelBg.jpg')"/>*@
            @*<img alt="Export to Excel" src="/Images/icon_excelBg.jpg">*@
        </span>

    </div>
}
@* Hareesh*@
<script>
        var autocompleteTextBox = $('#PamReportallFHANumbers');
        var FHApossibleValues = @Html.Raw(Json.Encode(Model.hudPamReportFilters.TotalAvailableFHANumbersListItem));

</script>
@*<script src="/Scripts/Shared/autocomplete.js"></script>*@

<script>
         var autocompleteTextBoxs = $('#AllPamReportProjectNames');
         var AllpossibleValues = @Html.Raw(Json.Encode(Model.hudPamReportFilters.TotalAvailableProjectNamesListItem));
</script>



@* hareesh*@
@*<script src="/Scripts/Shared/autocomplete.js"></script>*@
<script src="~/Scripts/FHAautoComplete.js"></script>
<script>
    $(document).ready(function () {
        $('#PamReportallFHANumbers').mask("999-99999");
        $('.datepicker').datepicker();
        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function(event, ui) {
            searchFhaNumber = ui.item.value;
            autocompleteMatch(searchFhaNumber, FHApossibleValues);
        });

        autocompleteTextBoxs.on('autocompleteselect', function(event, ui) {
            selectedProjectName = ui.item.value;
            autocompleteMatchs(selectedProjectName, AllpossibleValues);
        });

        });

</script>



<script>
    //$('#btnHUDPRFClear').click(function (e) {
    //    e.preventDefault();


    //    $('select option:selected').removeAttr('selected');
    //    $('#PamReportallFHANumbers').val('');
    //    $('#AllPamReportProjectNames').val('');

    //     $('#FromDate').val('');

    //     $('#ToDate').val('');
    //     alert(0);
    //     jQuery("#grid").jqGrid().trigger("reloadGrid");
    //     alert(1);
    //     //$("#SaveHUDPamReportFilterDetails").trigger('reset');


    //});
    //$('select option:selected').removeAttr('selected');
        //$('#FromDate').datepicker('update', '');


        //$('#FromDate').val('');

        //$('#ToDate').val("");
       // $("#SaveHUDPamReportFilterDetails").trigger('reset');
        //$('#SaveHUDPamReportFilterDetails')[0].reset();
        //$('#SaveHUDPamReportFilterDetails')[1].reset();
        //$("#ProjectName")[0].selectedIndex = 0;
        //$("#FHANumber")[0].selectedIndex = 0;
        //$("#LoanType")[0].selectedIndex = 0;
        //$("#Status")[0].selectedIndex = 0;
        //$("#FHANumberRequest")[0].selectedIndex = 0;
        //$("#CorporateCreditReview")[0].selectedIndex = 0;
        //$("#PortfolioNumberAssignment")[0].selectedIndex = 0;
        //$("#MasterLeaseNumberAssignment")[0].selectedIndex = 0;
        //$("#Underwriter")[0].selectedIndex = 0;
        //$("#Environmentalist")[0].selectedIndex = 0;
        //$("#Title_Survey")[0].selectedIndex = 0;
        //$("#Appraiser")[0].selectedIndex = 0;
        //$("#ExecutedDocuments")[0].selectedIndex = 0;


    //$('#ExclIcon').click(function (e) {
    //    //debugger;

    //    e.preventDefault();
    //    $.ajax({
    //        url: '/ExcelExport/ExportProdPAMReportV3/',
    //        data: $('#SaveHUDPamReportFilterDetails').serialize(),
    //        type: 'GET',
    //        success: function (response) {

    //        },
    //        error: function (xhr, status, p3, p4) {

    //            var err = "Error " + " " + status + " " + p3 + " " + p4;
    //            if (xhr.responseText && xhr.responseText[0] == "{")
    //                err = JSON.parse(xhr.responseText).Message;
    //            console.log(err);
    //        }
    //    });
    //    //var url = "/ExcelExport/ExportProdPAMReportV3?result=" + $('#SaveHUDPamReportFilterDetails').serialize() ;
    //    //$('#ExclIcon').attr("href", url);
    //});

    $('#btnHUDPamGetData').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/ProdPAM/GetPAMReportResultsV3' ,
            data: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':searchFhaNumber}) +'&'+ $.param({'selectedProjectNames':selectedProjectName}),
            type: 'POST',
            success: function (response) {
                jQuery("#grid").jqGrid().setGridParam({
                    url: '@Url.Action("GetPAMReportResultsV3", "ProdPam")',
                    datatype: 'json',
                    postData: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':searchFhaNumber}) +'&'+ $.param({'selectedProjectNames':selectedProjectName})
                }).trigger("reloadGrid");
            },
            error: function (xhr, status, p3, p4) {

                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    });


    $('#btnHUDPRFSave').click(function (e) {
        e.preventDefault();
        // debugger;

        $.ajax({
            url: '/ProdPAM/SaveHUDPamReportFilterDetails/',
            data: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':searchFhaNumber})+'&'+ $.param({'selectedProjectNames':selectedProjectName}),
            type: 'POST',
            success: function (response) {
                if (response === "Saved") {
                    alert("Information Saved Successfully");
                    return false;
                }
                else if (response === "Updated") {
                    alert("Information Updated Successfully");
                    return false;
                }
                else if (response === "Fail") {
                    alert("Unable to Update/Save Information");
                    return false;
                }

            },
            error: function (xhr, status, p3, p4) {

                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    });
</script>



<script>
    $('#btnHUDPRFClear').click(function (e) {
        e.preventDefault();
        $('#PamReportallFHANumbers').val('');
        $('#AllPamReportProjectNames').val('');

        $('#FromDate').val('');

        $('#ToDate').val('');

        $.ajax({
            url: '/ProdPAM/GetPAMReportResultsV3' ,
            data: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':""}) +'&'+ $.param({'selectedProjectNames':""}),
            type: 'POST',
            success: function (response) {
                jQuery("#grid").jqGrid().setGridParam({
                    url: '@Url.Action("GetPAMReportResultsV3", "ProdPam")',
                    datatype: 'json',
                    postData: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':""}) +'&'+ $.param({'selectedProjectNames':""})
                }).trigger("reloadGrid");
            },
            error: function (xhr, status, p3, p4) {

                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    });
</script>



