﻿@model Model.Production.DocumentTypeModel
@{
    Layout = null;
}
<style type="text/css">
    .well {
        background: #d9edf7;
    }

    .close {
        opacity: 100;
    }
</style>
<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Scripts/jquery-multiselect/BootstarpAnimation.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>
<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" style="color:red" data-dismiss="modal">&times;</button>
            <h3 class="text-center heading faa-horizontal faa-slow animated">Change Document Name</h3>
        </div>


        @using (Html.BeginForm("changeDoumentType", "ProductionApplication", FormMethod.Post, new { @class = "modal-form", id = "myForm" }))
        {
            @Html.HiddenFor(m => m.FileIdlist)
            @Html.HiddenFor(m => m.TaskInstanceId)
            @Html.HiddenFor(m => m.groupTaskID)

            @Html.HiddenFor(m => m.groupTaskID)
            @Html.HiddenFor(m => m.TaskId)


            <div id="errorMsg" style="display: none" class="col-lg-offset-4">
                <h4 style="color: red;">Invalid Inputs</h4>
            </div>
            <div class="modal-body form-horizontal " style="height:150px;">

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Folder Name</label>
                        <div class="col-md-8">

                            @Html.ListBox("FromFolder", null, new { multiple = "multiple", name = "FromFolder" })

                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Files</label>
                        <div class="col-md-8">

                            @Html.ListBox("ListOfFiles", null, new { multiple = "multiple", name = "FileList" })

                        </div>
                    </div>


                </div>
                @*<div class="row">

                        <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-fw fa-map-marker faa-bounce animated"></i></button>
                    </div>*@

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Document Name</label>
                        <div class="col-md-8">

                            @Html.DropDownList("DocTypeList", null, new { @class = "form-control" })

                        </div>
                    </div>


                </div>



            </div>

            <div class="modal-footer">
                <div class="col-sm-1 form-group pull-left">

                </div>

                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>

            </div>
        }
    </div>
    <!-- /.modal-content -->
</div>

<script>

    var PLMReport = (function () {
        var progChange = false;
        var settings = window.settingsObject;
        var listBoxToString = function (listBox, all) {
            //  debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if (listBox == null) { return ""; }

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };

        var listboxText = function (listBox, all) {
            // debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if (listBox == null) { return ""; }

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.text);
                }
            }
            return options.join(",");
        };



        return {
            InitView: function () {



                // debugger;
                $("#ListOfFiles").multiselect({




                    enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    , maxHeight: 400
                     , nonSelectedText: 'Select Files'
                     , includeSelectAllOption: true
                    , onDeselectAll: function () {

                    }
                   , onSelectAll: function () {
                       // debugger;
                       var arry = listBoxToString('ListOfFiles', true);


                       //var array = arry.split(',');
                       $('#FileIdlist').val('');
                       $('#FileIdlist').val(arry);



                   }
                                           ,
                    onChange: function (element, checked) {
                        // debugger;
                        if (checked) {

                            var arry = listBoxToString('ListOfFiles', false);
                            $('#FileIdlist').val('');
                            $('#FileIdlist').val(arry);
                        }
                        else {


                        }
                    }


                });

                $("#FromFolder").multiselect({

                    enableCaseInsensitiveFiltering: true
                 , filterPlaceholder: 'Search'
                 , maxHeight: 400
                  , nonSelectedText: 'Select Folder'
                  , includeSelectAllOption: true
                 , onDeselectAll: function () {

                 }
                , onSelectAll: function () {
                    var arry = listBoxToString('FromFolder', true);

                    var folderkeys = arry.split(',');
                    PLMReport.RefreshFilesbyFolder(folderkeys, 'Files')
                    PLMReport.RefreshDocTypesbyFolder(folderkeys, 'Files')

                }
                                        ,
                    onChange: function (element, checked) {
                        if (checked) {

                            var arry = listBoxToString('FromFolder', false);
                            var folderkeys = arry.split(',');
                            PLMReport.RefreshFilesbyFolder(folderkeys, 'Files')
                            PLMReport.RefreshDocTypesbyFolder(folderkeys, 'Files')
                        }
                        else {


                        }
                    }


                });



            },
            RefreshFilesbyFolder: function (generic, type) {

                var data = new FormData();
                data.append("FoldeKeys", generic);
                data.append("TaskInstanceId", $("#TaskInstanceId").val());


                // Get the data from the single request
                $.ajax({
                    url: '/ProductionApplication/GetFilesToChangeDocTypeForSelectedFolder',
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {

                        PLMReport.RepopulatebyFileID(response);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },
            RefreshDocTypesbyFolder: function (generic, type) {

                var data = new FormData();
                data.append("FoldeKeys", generic);
                data.append("TaskInstanceId", $("#TaskInstanceId").val());


                // Get the data from the single request
                $.ajax({
                    url: '/ProductionApplication/GetDocTypesForSelectedFolder',
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {

                        PLMReport.RepopulatebyDocTypeID(response);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },

            RepopulatebyFileID: function (response) {
                $("#ListOfFiles").empty();
                for (var i = 0; i < response.temp.length; i++) {
                    if ($("#ListOfFiles option[value='" + response.temp[i].Value + "']").length == 0) {
                        $("#ListOfFiles").append('<option value="' + response.temp[i].Value + '" >' + response.temp[i].Text + '</option>');
                    }
                }

                //$("#AvailableFolders").multiselect("rebuild");
                $("#ListOfFiles").multiselect("rebuild");
                $('button[class*=multiselect]').css('width', '200px');
                $('input[type=checkbox]').css("float", "none");
            },
            RepopulatebyDocTypeID: function (response) {
                $("#DocTypeList").empty();
                for (var i = 0; i < response.temp.length; i++) {
                    if ($("#DocTypeList option[value='" + response.temp[i].Value + "']").length == 0) {
                        $("#DocTypeList").append('<option value="' + response.temp[i].Value + '" >' + response.temp[i].Text + '</option>');
                    }
                }


            },


        }
    }());

    $(document).ready(function () {
        // debugger;
        PLMReport.InitView();
        //  debugger;
        $('button[class*=multiselect]').css('width', '200px');

        $('input[type=checkbox]').css("float", "none");


    });



</script>

<script type="text/javascript">
    function reloadGrid() {
        location.reload();
        $("#fileUploadGrid").trigger("reloadGrid");
    }
    $(document).on('submit', '#myForm', function(event){

        event.preventDefault();

      //  debugger;
        var arry = $('#FileIdlist').val();
        var options = $('#FromFolder > option:selected');
        if (arry && options.length>0)

        {

            var url = '@Url.Action("changeDoumentType", "ProductionApplication")';
            $.ajax({
                url: url,
                 type:'GET',
                 data: { taskFiles: arry, docTypeId: $("#DocTypeList").val(), taskinstanceId: $("#TaskInstanceId").val(), grouptaskinstanceId: $("#groupTaskID").val(), taskId: $("#TaskId").val(), redirectFrom: "RAIRequest" },
                    success: function () {
                    $('#sucess_alert').alert();
                    $('#sucess_alert').fadeTo(1000, 500).slideUp(500, function () { $('#sucess_alert').slideUp(500) });
                    reloadGrid();
                    $('#dialogDiv').modal('toggle');
                },
                error: function (data) {
                    alert("Error in Changing Document Name");
                },

            });
        }
        else
        {
            alert("Please select a source folder or  file to continue");
        }


    });

</script>