﻿@model Model.ReportModel
<script type="text/javascript">
    $(document).ready(
        function () {
            $("#bcHolder").text("Home > Financial Analysis > ");
            $("#bcHolder").append("<a title='My Project Detail Reports' href='/ProjectDetailReport/Index'>My Project Detail Reports</a> > Project Detail Report > Project Exception Report");

            styleGrid();
            GetUserPreference();
            $('#TotalProp').text('@Model.ReportHeaderModel.TotalProperties.ToString()');
            $('#TotalEx').text('@Model.ReportHeaderModel.TotalPropertieswithException.ToString()');
            $('#TotalPropFooter').text('@Model.ReportHeaderModel.TotalProperties.ToString()');
            var total = 0;
        }
    );
    function GetUserPreference() {
        $.getJSON('@Url.Action("GetPDRUserPrefrence","UserPreference")', function (result) {
            $.each(result,
                function (index) {
                    var startingColumn = 3;
                    var prdColumnId = result[index].PDRColumnID;
                    hideColumn(startingColumn + prdColumnId);

                });

        });
    }
    function hideColumn(columnIndex) {
        $('.webGrid td:nth-child(' + (columnIndex) + '),th:nth-child(' + (columnIndex) + ')').hide();
    }
    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }

    function _CalbackPaginate() {

        gridUpdateCallBack();
        styleGrid();
        GetUserPreference();
    }
</script>
@{
    var grid = new WebGrid(Model.ReportGridModelList, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "_CalbackPaginate");

}

@*<div class="row">
        <div style="float:right;">
            <div>
                @if (Model.ReportGridModelList.Count > 0)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
                }
                @if (Model.ReportGridModelList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
                }
            </div>
        </div>
    </div>*@

<script type="text/javascript">

    $(document).ready(
        function () {

           gridUpdateCallBack();
        }
    );

    function gridUpdateCallBack() {
      

    //    var sample = $('#gridContent table thead tr th')[8].innerText;
    //    if ($('#gridContent table thead tr th')[6].innerText == 'Revenue Percentage Change') {

    //        $('#gridContent table thead tr th')[6].innerHTML = $('#gridContent table thead tr th')[6].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Current Qtrly Operating Rev - Previous Qtrly Operating Rev) / previous Qtrly Operating Rev)*100'/>";
    //    }

    //    if ($('#gridContent table thead tr th')[8].innerText == 'NOI Percentage Change') {

    //        $('#gridContent table thead tr th')[8].innerHTML = $('#gridContent table thead tr th')[8].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Current Qtrly NOI - Previous Qtrly NOI) / previous Qtrly NOI)*100'/>";
    //    }

    //    //if ($('#gridContent table thead tr th')[9].innerText == 'Current Quarter Cumulative NOI') {

    //        $('#gridContent table thead tr th')[9].innerHTML = $('#gridContent table thead tr th')[9].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Cumulative Rev - Cumulative Exp)'/>";
    //   // }

    //    if ($('#gridContent table thead tr th')[10].innerText == 'DSRC Percentage Change') {

    //        $('#gridContent table thead tr th')[10].innerHTML = $('#gridContent table thead tr th')[10].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Current Qtrly DSCR - Previous Qtrly DSCR) / previous Qtrly DSCR)*100'/>";
    //    }

    //    //if ($('#gridContent table thead tr th')[11].innerText == 'Currrent Quarter Cumulative DSCR') {

    //        $('#gridContent table thead tr th')[11].innerHTML = $('#gridContent table thead tr th')[11].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Total Revenue - expenses) / Fha insured principal & interest Payment + MIP)'/>";
    //    //}

    //    if ($('#gridContent table thead tr th')[12].innerText == 'ADR Percentage Change') {

    //        $('#gridContent table thead tr th')[12].innerHTML = $('#gridContent table thead tr th')[12].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Current Qtrly ADR - Previous Qtrly ADR) / Previous Qtrly ADR)*100'/>";
    //    }

    //    if ($('#gridContent table thead tr th')[13].innerText == 'Currrent Quarter Cumulative ADR') {

    //        $('#gridContent table thead tr th')[13].innerHTML = $('#gridContent table thead tr th')[13].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Total reveneue from excel field / Acutal number of resident days from excel field)'/>";
    //    }


        var tbl = $("#gridContent").parent().find('table > tbody > tr:first');
        $('<tr><td><b> </b></td> <td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalNoiError + '</b></font></td>  <td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalOpRevError +'</b></font></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalDSCRError +'</b></font></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td>  <td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalADRError +' </b></font></td><td><b> </b></td><td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalColError +' </b></font></td>  </tr>').insertBefore(tbl);;


    
    }
</script>
<style>
    .Highlight {
        /*background-color: #FFF600;*/
    }
</style>
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();
         gridColumns.Add(grid.Column("PropertyID", header: "Project ID",
                format:
                @<text>
                    @if (item.PropertyID != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.PropertyID.ToString())
                        }

                        else
                        {
                            @Html.Raw((string)item.PropertyID.ToString())
                        }
                    }


                </text>));
        gridColumns.Add(grid.Column("FhaNumber", header: "FHA Number",
            format:
            @<text>

                @if (item.FhaNumber != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.FhaNumber)

                    }

                    else
                    {
                        @Html.Raw((string)item.FhaNumber)
                    }
                }


            </text>));

        gridColumns.Add(grid.Column("ProjectName", header: "Project Name",
            format:
            @<text>
                @if (item.ProjectName != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.ProjectName)
                    }

                    else
                    {
                        @Html.Raw((string)item.ProjectName)
                    }
                }


            </text>));


        gridColumns.Add(grid.Column("PortfolioNumber", header: "Portfolio Number",
            format:
            @<text>

                @if (item.PortfolioNumber != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.PortfolioNumber)
                    }

                    else
                    {
                        @Html.Raw((string)item.PortfolioNumber)
                    }
                }


            </text>));

        gridColumns.Add(grid.Column("PortfolioName", header: "Portfolio Name",
            format:
            @<text>

                @if (item.PortfolioName != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.PortfolioName)
                    }

                    else
                    {
                        @Html.Raw((string)item.PortfolioName)
                    }
                }


            </text>));

        gridColumns.Add(grid.Column("CreditReview", header: "Credit Review",
            format:
            @<text>

                @if (item.CreditReview != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.CreditReview)
                    }

                    else
                    {
                        @Html.Raw((string)item.CreditReview)
                    }
                }


            </text>));



        gridColumns.Add(grid.Column("PeriodEnding", header: "Period Ending",
            format:
            @<text>

                @if (item.PeriodEnding != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.PeriodEnding)
                    }

                    else
                    {
                        @Html.Raw((string)item.PeriodEnding)
                    }
                }


            </text>));
        gridColumns.Add(grid.Column("MonthsInPeriod", header: "Months In Period",
            format:
            @<text>

                @if (item.MonthsInPeriod != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.MonthsInPeriod.ToString())
                    }

                    else
                    {
                        @Html.Raw((string)item.MonthsInPeriod.ToString())
                    }
                }


            </text>));

        gridColumns.Add(grid.Column("UnPaidBalance", header: "Unpaid Principal Balance",
            format:
            @<text>

                @if (item.UnPaidBalance != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw(item.UnPaidBalance != null ? HtmlHelperExt.CurrencyFormatterV2(item.UnPaidBalance, "0.00") : "")
                    }

                    else
                    {
                        @Html.Raw(item.UnPaidBalance != null ? HtmlHelperExt.CurrencyFormatterV2(item.UnPaidBalance, "0.00") : "")
                    }
                }


            </text>));

        gridColumns.Add(grid.Column("CumulativeRevenue", header: "Total Revenue",
            format:
            @<text>

                @if (item.CumulativeRevenue != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeRevenue, "0.00"))
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeRevenue, "0.00"))
                    }
                }


            </text>));

        gridColumns.Add(grid.Column("CumulativeExpenses", header: "Total Operating Expenses",
            format:
            @<text>
                @if (item.CumulativeExpenses != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeExpenses, "0.00"))
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeExpenses, "0.00"))
                    }
                }

            </text>));


        gridColumns.Add(grid.Column("fhainsuredprincipalInterestpayment", header: "FHA Insured Principal & Interest Payment",
            format:
            @<text>

                @if (item.fhainsuredprincipalInterestpayment != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.fhainsuredprincipalInterestpayment, "0.00"))
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.fhainsuredprincipalInterestpayment, "0.00"))
                    }


                }
            </text>));

        gridColumns.Add(grid.Column("MIPCumulative", header: "MIP",
            format:
            @<text>
                @if (item.MIPCumulative != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.MIPCumulative, "0.00"))
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.MIPCumulative, "0.00"))
                    }
                }
            </text>));


        gridColumns.Add(grid.Column("CumulativeResidentDays", header: "Actual Number of Resident Days",
            format:

            @<text>
                @if (item.CumulativeResidentDays != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.CumulativeResidentDays.ToString())
                    }

                    else
                    {
                        @Html.Raw((string)item.CumulativeResidentDays.ToString())
                    }
                }
            </text>));

        gridColumns.Add(grid.Column("ServiceName", header: "Servicer Name",
            format:
            @<text>
                @if (item.ServiceName != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.ServiceName)
                    }

                    else
                    {
                        @Html.Raw((string)item.ServiceName)
                    }
                }
            </text>));

        gridColumns.Add(grid.Column("HUD_WorkLoad_Manager_Name", header: "Workload Manager",
            format:
            @<text>

                @if (item.HUD_WorkLoad_Manager_Name != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.HUD_WorkLoad_Manager_Name)
                    }

                    else
                    {
                        @Html.Raw((string)item.HUD_WorkLoad_Manager_Name)
                    }
                }

            </text>));
        gridColumns.Add(grid.Column("HUD_Project_Manager_Name", header: "Account Executive",
            format:
            @<text>
                @if (item.HUD_Project_Manager_Name != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.HUD_Project_Manager_Name)
                    }

                    else
                    {
                        @Html.Raw((string)item.HUD_Project_Manager_Name)
                    }
                }

            </text>));


        gridColumns.Add(grid.Column("QuarterlyFHAPI", header: "QuarterlyFHAPI",
            format:
            @<text>
                @if (item.QuarterlyFHAPI != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyFHAPI, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyFHAPI, "0.00"))
                    }


                }
            </text>));



        //  gridColumns.Add(grid.Column("LenderName", "Lender Name", (item) => item.LenderName));








        // gridColumns.Add(grid.Column("UnitsInFacility", "Units in Facility", (item) => item.UnitsInFacility));
        gridColumns.Add(grid.Column("NOICumulative", header: "NOI Cumulative",
            format:
            @<text>
                @if (item.NOICumulative != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.NOICumulative, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(item.NOICumulative != null ? HtmlHelperExt.CurrencyFormatterV2(item.NOICumulative, "0.00") : "")

                    }
                }

            </text>));


        gridColumns.Add(grid.Column("QuaterlyNoi", header: "Qtrly NOI",
            format:
            @<text>
                @if (item.QuaterlyNoi != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuaterlyNoi, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuaterlyNoi, "0.00"))
                    }
                }

            </text>));


        gridColumns.Add(grid.Column("NOIQuaterbyQuater", header: "NOI Quarter/Quarter",
            format:
            @<text>
                @if (item.NOIQuaterbyQuater != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.NOIQuaterbyQuater, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.NOIQuaterbyQuater, "0.00"))
                    }
                }

            </text>));




        gridColumns.Add(grid.Column("NOIPercentageChange", header: "NOI Percentage Change",
            format:
            @<text>
                @if (item.NOIPercentageChange != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.NOIPercentageChange, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.NOIPercentageChange, "0.00"))
                    }
                }

            </text>));







        gridColumns.Add(grid.Column("QuaterlyOperatingRevenue", header: "Qtrly  Rev",
            format:
            @<text>
                @if (item.QuaterlyOperatingRevenue != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuaterlyOperatingRevenue, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuaterlyOperatingRevenue, "0.00"))
                    }
                }
            </text>));


        gridColumns.Add(grid.Column("QuarterlyOperatingExpense", header: "Qtrly Operating  Exp",
            format:
            @<text>
                @if (item.QuarterlyOperatingExpense != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyOperatingExpense, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyOperatingExpense, "0.00"))
                    }
                }
            </text>));


        gridColumns.Add(grid.Column("RevenueQuarterbyQuarter", header: "Rev Quarter/Quarter",
            format:
            @<text>
                @if (item.RevenueQuarterbyQuarter != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.RevenueQuarterbyQuarter, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.RevenueQuarterbyQuarter, "0.00"))
                    }
                }
            </text>));



        gridColumns.Add(grid.Column("RevenuePercentageChange", header: "Rev Percentage Change",
            format:
            @<text>

                @if (item.RevenuePercentageChange != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.RevenuePercentageChange, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.RevenuePercentageChange, "0.00"))
                    }
                }

            </text>));


        gridColumns.Add(grid.Column("DebtCoverageRatio2", header: "Cumulative DSCR",
            format:
            @<text>

                @if (item.DebtCoverageRatio2 != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.DebtCoverageRatio2, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.DebtCoverageRatio2, "0.00"))
                    }
                }
            </text>));


        gridColumns.Add(grid.Column("QuarterlyDSCR", header: "Qrtly DSCR",
            format:
            @<text>
                @if (item.QuarterlyDSCR != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyDSCR, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyDSCR, "0.00"))
                    }
                }

            </text>));




        gridColumns.Add(grid.Column("DSCRDifferencePerQuarter", header: "DSCR Difference Per Quarter",
            format:
            @<text>

                @if (item.DSCRDifferencePerQuarter != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.DSCRDifferencePerQuarter, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.DSCRDifferencePerQuarter, "0.00"))
                    }
                }
            </text>));


        gridColumns.Add(grid.Column("DSCRPercentageChange", header: "DSCR Percentage Change",
            format:
            @<text>
                @if (item.DSCRPercentageChange != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.DSCRPercentageChange, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.DSCRPercentageChange, "0.00"))
                    }
                }

            </text>));





        gridColumns.Add(grid.Column("QuarterlyResidentDays", header: "Qrtly Resident Days",
            format:
            @<text>
                @if (item.QuarterlyResidentDays != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + (string)item.QuarterlyResidentDays.ToString() + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw((string)item.QuarterlyResidentDays.ToString())
                    }
                }
            </text>));


        gridColumns.Add(grid.Column("AverageDailyRateRatio", header: "Cumulative Average Daily Rate (ADR)",
            format:
            @<text>

                @if (item.AverageDailyRateRatio != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.AverageDailyRateRatio, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.AverageDailyRateRatio, "0.00"))
                    }
                }
            </text>));



        gridColumns.Add(grid.Column("ADRperQuarter", header: "Qtrly Average Daily Rate (ADR)",
            format:
            @<text>
                @if (item.ADRperQuarter != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.ADRperQuarter, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.ADRperQuarter, "0.00"))
                    }
                }
            </text>));


        gridColumns.Add(grid.Column("ADRDifferencePerQuarter", header: "ADR Difference Per Quarter",
            format:
            @<text>
                @if (item.ADRDifferencePerQuarter != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.ADRDifferencePerQuarter, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.ADRDifferencePerQuarter, "0.00"))
                    }
                }
            </text>));


        gridColumns.Add(grid.Column("ADRPercentageChange", header: "ADR Percentage Change",
            format:
            @<text>
                @if (item.ADRPercentageChange != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.ADRPercentageChange, "0.00") + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.ADRPercentageChange, "0.00"))
                    }
                }
            </text>));





        gridColumns.Add(grid.Column("QuarterlyMIP", header: "QuaterlyMIP",
            format:
            @<text>

                @if (item.QuarterlyMIP != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" +
                                  HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyMIP, "0.00") + "</i></font>")
                    }

                    else
                    {
                        @Html.Raw(
                            HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyMIP, "0.00"))
                    }
                }
            </text>));



        gridColumns.Add(grid.Column("RowWiseErrorchar", header: "Exception Count",
            format:
            @<text>
                @if (item.RowWiseErrorchar != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw("<font color='#00008B'><i>" + (string)item.RowWiseErrorchar + "</i> </font>")
                    }

                    else
                    {
                        @Html.Raw((string)item.RowWiseErrorchar)
                    }
                }

            </text>));



        gridColumns.Add(grid.Column("DataInserted", header: "Date Inserted",
            format:
            @<text>
                @if (item.DataInserted != null)
                {
                    if (item.Ismissing != null && item.Ismissing == 1)
                    {
                        @Html.Raw((string)item.DataInserted.ToString())
                    }

                    else
                    {
                        @Html.Raw((string)item.DataInserted.ToString())
                    }
                }
            </text>));




    }

    @grid.GetHtml(tableStyle: "webGrid",
             headerStyle: "header_row",
    rowStyle: "item_row",
    alternatingRowStyle: "item_alt_row",
    selectedRowStyle: "select",
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

    columns: gridColumns.ToArray())

    @if (Model.ReportGridModelList.Count > 0)
    {

    }
    else
    {
        <p style="margin-left: 20px;">No Records Found</p>
    }

</div>


@*<div id="gridContent">
    @{
         
        var gridColumns = new List<WebGridColumn>();
         gridColumns.Add(grid.Column("FhaNumber", "FHA Number", (item) => @Html.Raw((string)item.FhaNumber)));
         gridColumns.Add(grid.Column("ProjectName", "Project Name", (item) => @Html.Raw((string)item.ProjectName)));
         gridColumns.Add(grid.Column("PeriodEnding", "Period Ending", (item) => item.PeriodEnding));
         gridColumns.Add(grid.Column("MonthsInPeriod", "Months In Period", (item) => item.MonthsInPeriod));
         gridColumns.Add(grid.Column("HUD_WorkLoad_Manager_Name", "Workload Manager", (item) => item.HUD_WorkLoad_Manager_Name));
         gridColumns.Add(grid.Column("HUD_Project_Manager_Name", "Account Executive", (item) => item.HUD_Project_Manager_Name));
                         
         gridColumns.Add(grid.Column("RevenuePercentageChange", "Revenue Percentage Change",
             format:
                @<text>
                    @if (item.RevenuePercentageChange != null)
                    {    
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.RevenuePercentageChange, "0.00") + "</i> </font>")
                        }
                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.RevenuePercentageChange, "0.00"))
                        }                       
                    }
             </text>));


         gridColumns.Add(grid.Column("CumulativeRevenue", "Current Quarter Cumulative Revenue", 
             format:
                 @<text>
                    @if (item.CumulativeRevenue != null)
                    {  
                         if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.CumulativeRevenue, "0.00") + "</i> </font>")
                        }
                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeRevenue, "0.00"))
                        }                        
                    }
            </text>));

         gridColumns.Add(grid.Column("NOIPercentageChange", "NOI Percentage Change",
              format:
                 @<text>
                    @if (item.NOIPercentageChange != null)
                    {  
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.NOIPercentageChange, "0.00") + "</i> </font>")
                        }
                         else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.NOIPercentageChange, "0.00"))
                        } 
                      
                   }
            </text>));

         gridColumns.Add(grid.Column("NOICumulative", "Current Quarter Cumulative NOI ", 
             format:
                 @<text>
                    @if (item.NOICumulative != null)
                    { 
                        
                         if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.NOICumulative, "0.00") + "</i> </font>")
                        }
                         else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.NOICumulative, "0.00"))
                        } 
                     
             
                }
            </text>));

         gridColumns.Add(grid.Column("DSCRPercentageChange", "DSRC Percentage Change",
             
             
              format:
                 @<text>
                    @if (item.DSCRPercentageChange != null)
                    { 
                        
                         if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.DSCRPercentageChange, "0.00") + "</i> </font>")
                        }
                         else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.DSCRPercentageChange, "0.00"))
                        } 
                     
                }
            </text>));
            


         gridColumns.Add(grid.Column("DebtCoverageRatio2", "Currrent Quarter Cumulative DSCR ",
             
              format:
                 @<text>
                    @if (item.DebtCoverageRatio2 != null)
                    { 
                        
                         if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.DebtCoverageRatio2, "0.00") + "</i> </font>")
                        }
                         else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.DebtCoverageRatio2, "0.00"))
                        } 
                }
            </text>));
             

         gridColumns.Add(grid.Column("ADRPercentageChange", "ADR Percentage Change",
             
             
             format:
                 @<text>
                    @if (item.ADRPercentageChange != null)
                    { 
                        
                         if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.ADRPercentageChange, "0.00") + "</i> </font>")
                        }
                         else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.ADRPercentageChange, "0.00"))
                        } 
                                            
                }
            </text>));
             
             
             

         gridColumns.Add(grid.Column("AverageDailyRateRatio", "Currrent Quarter Cumulative ADR", 
             
              
             format:
                 @<text>
                    @if (item.AverageDailyRateRatio != null)
                    { 
                        
                         if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.AverageDailyRateRatio, "0.00") + "</i> </font>")
                        }
                         else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.AverageDailyRateRatio, "0.00"))
                        } 
                                 
                }
            </text>));
             



}

    @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",

                columns: gridColumns.ToArray())

    @if (Model.ReportGridModelList.Count > 0)
    {

    }
    else
    {
        <p style="margin-left: 20px;">No Records Found</p>
    }

</div>*@