﻿@using Core
@model Model.ReportModel
@{
    ViewBag.Title = "SuperUserMissingReportDetail";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#yearList").change(function () {
            var url = '@Url.Action("GetProjectDetailReportForSuperUser", "ProjectDetailReport")';
            var selectedYear = $("#yearList").val();
            $("#year").val(selectedYear);
            $.ajax({
                url: url,
                data: { year: selectedYear },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                success: function (data) {
                    {
                        $("#dvSuperUserReport").html('');
                        $("#dvSuperUserReport").html(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
            return false;

        });
    });

</script>

<script>
    $(document).ready(function () {
       // debugger;


        // var temp = $(".breadcrumb a[title$='My Project Detail Reports']").css({ "color": "inherit", "text-decoration": "none", "pointer-events": "none" });

        var text = $(".breadcrumb").html();
        if (text.indexOf("Exception") >= 0) {
            //Replace Error Text
            var errortext = $(".breadcrumb").html();
            var errortext = errortext.replace('\n         &gt; \n    Exception Report WLM Level\n\n', '');
            $(".breadcrumb").html(errortext);
            $(".breadcrumb a[title$='Project Exception Report']").replaceWith("Project Exception Report");

        }
        else {
            //var text = text.replace('\n         &gt; \n    Project Detail Report HighLevel\n\n', '');
            ////text= text.replace('</a>\n         &gt; \n        <a title=\"My Project Detail Reports\" style=\"color: inherit; text-decoration: none; pointer-events: none;\" href=\"/ProjectDetailReport/Index\">My Project Detail Reports</a>', 'My Project Detail Reports');
            //$(".breadcrumb").html(text);
            //$(".breadcrumb a[title$='My Project Detail Reports']").replaceWith("My Project Detail Reports");
        }



    });
</script>
<style>
    .well {
        background-color: #b29d85;
        border-bottom: 2px groove lightblue;
        border-right: 2px groove lightblue;
        margin-left: 2px;
    }

    h3 {
        margin-bottom: 2px;
        color: darkblue;
        /*text-transform: uppercase;*/
        margin-left: 2px;
    }

    .header {
        text-shadow: inherit;
    }
</style>

<div class="container-fluid">

    <div class="portlet-title">
        <h3>Project Exception Report</h3>
    </div>
    <div class="row well">
        <div class="row">
            <div class="col-sm-6 form-group">
                <div class="control-label col-sm-5">
                    @Html.Label("Report Name: ")
                </div>
                <div class="col-sm-7">
                    <span class="header">@Html.DisplayName(EnumType.GetEnumDescription(Model.ReportHeaderModel.ReportType))</span>
                </div>
            </div>

            <div class="col-sm-6 form-group">
                <div class="control-label col-sm-5">
                    @Html.Label("Workload Manager: ")
                </div>
                <div class="col-sm-7">
                    <span class="header">
                        @if (Model.ReportGridModelList.Count > 0)
                        {
                            @Html.DisplayName(Model.ReportGridModelList[0].HUD_WorkLoad_Manager_Name)
                            
                        }

                        else
                        {
                            @Html.DisplayName(UserPrincipal.Current.FullName)
                        }
                    </span>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <div class="control-label col-sm-5">
                    @Html.Label("Report Created By: ")
                </div>
                <div class="col-sm-7">
                    <span class="header">
                        @Html.DisplayName((Model.ReportHeaderModel.CreatedBy.ToString()))
                    </span>
                </div>
            </div>

            <div class="col-sm-6 form-group">
                <div class="control-label col-sm-5">
                    @Html.Label("Report Generated as of: ")
                </div>
                <div class="col-sm-7">
                    <span class="header">
                        @DateTime.Today.AddDays(-1).ToShortDateString()
                    </span>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <div class="control-label col-sm-5">
                    @Html.Label("Projects with Exceptions #: ")
                </div>
                <div class="col-sm-7">
                    <span class="header">
                        @Html.DisplayName((Model.ReportHeaderModel.TotalPropertieswithException.ToString()))
                    </span>
                </div>
            </div>

        </div>
    </div>
        @*<div class="row">
            <div class="row">
                <div class="container-fluid">
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Report Name: ")
                        </span>
                        <span class="col-md-4">
                            @Html.DisplayName(EnumType.GetEnumDescription(Model.ReportHeaderModel.ReportType))
                        </span>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Workload Manager: ")
                        </span>
                        <span class="col-md-4">
                            @if (Model.ReportGridModelList.Count > 0)
                            {
                                @Html.DisplayName(Model.ReportGridModelList[0].HUD_WorkLoad_Manager_Name)
                                //@Html.HiddenFor(m => m.ReportHeaderModel.HudWorkloadManagerEmailAddress, new { @id = "wlmEmail" })
                            }

                            else
                            {
                                @Html.DisplayName(UserPrincipal.Current.FullName)
                            }
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Report Created By: ")
                        </span>
                        <span class="col-md-4">
                            @Html.DisplayName((Model.ReportHeaderModel.CreatedBy.ToString()))
                        </span>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Report Generated as of: ")
                        </span>
                        <span class="col-md-4">
                            @DateTime.Today.AddDays(-1).ToShortDateString()
                        </span>
                    </div>
                </div>


                <div class="container-fluid">
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Total Number of Projects with Exceptions: ")
                        </span>
                        <font color="red">
                            <span class="col-md-4">
                                @Html.DisplayName((Model.ReportHeaderModel.TotalPropertieswithException.ToString()))
                            </span>
                        </font>
                    </div>
                </div>

            </div>
        </div>*@

        <div class="row">
            <div style="float:right;">
                <div>
                    @if (Model.ReportGridModelList.Count > 0)
                    {
                        @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
                    }
                    @if (Model.ReportGridModelList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
                    {
                        @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div style="overflow-x: auto;overflow-y: auto;">
                <div id="dvSuperUserReport" class="col-md-12">
                    @Html.Partial("~/Views/ProjectDetailReport/_SuperUserErrorReport.cshtml", Model)
                </div>
            </div>

            <div class="row">
                <span class="col-md-4 text-left">

                    <b>Total Number of Projects with Exceptions: </b>

                </span><span class="col-md-1 text-left"> <font color="red"<b>@Html.DisplayName((Model.ReportHeaderModel.TotalPropertieswithException.ToString()))</b></font></span>

            </div>

        </div>
    </div>
