﻿
<style type="text/css">
    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }
</style>

@*karri#264*@
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-2" align="left">
        Application Type
    </div>

    <div class="col-lg-3">
        FHA Number / Project Name
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-1">

    </div>
</div>
<div class="row">
    <div class="col-lg-1">
        <h5>Search Filters:</h5>
    </div>
    <div class="col-lg-2" align="left">
        @Html.DropDownList("ApplicationType", null, new { @class = "form-control", id = "completed_appType1", data_placeholder = "Choose Application..." })
    </div>

    <div class="col-lg-3" align="left">
        <input type="text" id="ddlCompletedTasksFHAProjName" class="form-control" style="width:400px;" />
    </div>
    <div class="col-lg-1" align="right">
        <input type="button" class="btn btn-default" id="btnCompletedTasksSearch" value="Search" />
    </div>
    <div class="col-lg-1" align="left">
        <input type="button" class="btn btn-default" id="btnCompletedTasksCancel" value="Reset" />
    </div>
</div>

@*karri#264*@
<script>

    var autocompleteAssignedTaskTextBox = $('#ddlCompletedTasksFHAProjName');

    var possibleValuesAssignedTasksValues = @Html.Raw(Json.Encode(ViewBag.CompletedSearchableData));
</script>
<script src="~/Scripts/Shared/autocomplete_PQAssignedtasks.js"></script>

<div id="div_CompletedTask">

    <table id="CompletedTask"></table>
    <div id="pager3"></div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        var type = $('#completed_appType1').val();
        //var status = $('#StatusID').val();
        "use strict";
        var $grid = $("#CompletedTask");
        //alert("Hello");
        $grid.jqGrid({

            //data: data,
            //datatype: "local",
            url: '@Url.Action("GetAllCompletedProductionTasks", "ProductionQueue")',

            postData: { applicationType: type, status: 19 },
            datatype: 'local',
            // added Prod Type Selected hareesh
            colNames: ['Task Name', 'Action','Page Type', 'Loan type','Prod Type Selected', 'Date Added', 'Status', 'Assigned By', 'Assigned To', 'Lender', 'Type','Comment' ,'Project Details', 'Last Updated'],
            colModel: [
               {
                    name: "TaskName", index: "TaskName", width: 220, align: 'left',
                    //type: 'link',
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.TaskName != null) {

                           //return ' style=" text-decoration: underline;Color:blue"';
                       }
                   },
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.TaskName == null) {
                           return "NA";
                       }
                       else {

                           if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                               return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                           }
                           else {
                               return '<a>' + rowObject.TaskName + '</a>';
                           }
                       }
                   }

               },

                { name: "TaskInstanceId", idex: "TaskInstanceId", hidden: true, width: 200 },
                { name: "PageTypeId", idex: "PageTypeId", hidden: true, width: 120 },
                   { name: "LoanType", idex: "LoanType", width: 170 },
                      // added Prod hareesh
                {
                    name: "ProdDDLBType", index: "ProdDDLBType", width: 200,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "FHA"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "Produciton Application"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "Single Stage"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "2 Stage Initial"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "2 Stage Final"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "Draft Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                            return "Executed Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "closing advances"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "closing completion"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "construction mgt"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "Form 290"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "Amendment"
                    }
                },
                { name: "StartTime", idex: "StartTime", width: 110, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                 { name: "Status", index: "Status", width: 150 },
                { name: "AssignedBy", index: "AssignedBy", width: 170},
                { name: "AssignedTo", idex: "AssignedTo", width: 170 },
                { name: "Lender", width: 120 },
                {
                    name: "Type", index: "Type", width: 100,
                    formatter: function (cellvalue, options, rowObject) {
                        @*if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "<span class='badge' style='color: whitesmoke;'> FHA</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "<span class='badge' style='color: whitesmoke;'> APP</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "<span class='badge' style='color: whitesmoke;'> Single Stage</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Initial</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Final</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "<span class='badge' style='color: whitesmoke;'> closing</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "<span class='badge' style='color: whitesmoke;'> closing advances</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "<span class='badge' style='color: whitesmoke;'>closing completion</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "<span class='badge' style='color: whitesmoke;'> construction mgt</span>"
                         else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "<span class='badge' style='color: whitesmoke;'> Form 290</span>"*@
                         if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "<span class='badge' style='color: whitesmoke;'> FHA</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "<span class='badge' style='color: whitesmoke;'> APP</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "<span class='badge' style='color: whitesmoke;'> Single Stage</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Initial</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Final</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "<span class='badge' style='color: whitesmoke;'> Draft Closing</span>"
                             else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                            return "<span class='badge' style='color: whitesmoke;'> Executed Closing</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "<span class='badge' style='color: whitesmoke;'> closing advances</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "<span class='badge' style='color: whitesmoke;'>closing completion</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "<span class='badge' style='color: whitesmoke;'> construction mgt</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "<span class='badge' style='color: whitesmoke;'> Form 290</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "<span class='badge' style='color: whitesmoke;'>Amendment</span>"
                    }

                },
                {
                    name: 'Comments', index: 'Comments', width:80,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                            return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.TaskInstanceId + "\",\"" + '@((Int32)PageType.FhaRequest)' + "\")';></span>";
                        } else {
                            return "";
                        }
                    }
                },
                {
                    name: 'SPData', index: 'SPData', width: 110,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId > '@((Int32)PageType.FhaRequest)' && rowObject.PageTypeId != '@((Int32)PageType.Form290)' )
                            //return "<span class='glyphicon glyphicon-share' onclick='sharepointData(\"" +
                            //         rowObject.TaskInstanceId +
                            //         "\")';></span>";
                            return "<span onclick='sharepointData(\"" +
                                rowObject.TaskInstanceId +
                                "\")';> <img src=\'../Content/images/ProjectDetails_Image.png\'></span>";
                        else return "";

                    }
                },
                { name: "ModofiedOn", index: "ModofiedOn", width: 120, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } }

            ],
            pager: "#pager3",
            rowNum: 40,
            rowList: [10, 20, 30,40],

            rownumbers: true,
            loadonce: false,
            caption: "Completed Production Tasks",
            height: "500px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            cmTemplate: { sortable: false },
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            width: 750,
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },
            //scroll: 1,
            onSelectRow: function(rowid) {

                return false;
            },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
              //  debugger;
                var subgrid_table_id, pager_id;
                var Type = 'FHA Request';
                subgrid_table_id = subgrid_id+"_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
                var selectedRow = $(this).getRowData(row_id).TaskInstanceId;
                var selectedProductionType = $(this).getRowData(row_id).ProdDDLBType; //#84 Contains Project type value   new hareesh
                var selectedProdViewCreaedDate = $(this).getRowData(row_id).StartTime; //#84 Contains Project type value new hareesh

                //alert(selectedProductionType);
                //alert(selectedProdViewCreaedDate);

                if ($(this).getRowData(row_id).Type.indexOf("FHA") == -1) {
                    Type = 'View';
                    stat = true;
                }
                //alert(1);
                jQuery("#" + subgrid_table_id).jqGrid({
                    url: '@Url.Action("GetFHARequestDetail", "ProductionQueue")',
                    // url: '/ProductionTask/GetFHARequestDetail/?TaskId=' + 123,
                    postData: { taskInstanceId: selectedRow , prdType: selectedProductionType, viewsCrdDate: selectedProdViewCreaedDate }, // added parameters hareesh
                    datatype: 'json',
                    colNames: [Type, 'Status', 'Modified On', 'Assigned To', 'Assigned By'],
                    colModel: [
                        //{ name: "id", idex: "id", width: 150 },
                       { name: "FhaType", index: "FhaType", width: 250 },
                        { name: "Status", idex: "Status", width: 220 },
                        { name: "ModifiedOn", idex: "ModifiedOn", width: 220, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                        { name: "AssignedTo", idex: "AssignedTo", width: 220 },
                        { name: "AssignedBy", index: "AssignedBy", width: 250 }


                    ],
                    height: 'auto',
                    autowidth:true,
                    jsonReader: { repeatitems : false, root:"attribute" }
                });
                jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });

            }



        });
        $grid.jqGrid("navGrid", "#pager3",
            { add: false, edit: false, del: false }, {}, {}, {},
            { multipleSearch: false, multipleGroup: false });

    });
     
    
     function comments(fhaRequestInstanceId, requestType) {
        $('#dialogContent').load('@Url.Action("GetComments", "ProductionQueue")', { fhaRequestId: fhaRequestInstanceId, type: requestType }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }
</script>

@*karri#264*@
<script>
    $('#btnCompletedTasksSearch').click(function () {
        var appType = document.getElementById("completed_appType1").value;
        var fhaOrProjName = document.getElementById("ddlCompletedTasksFHAProjName").value;

        jQuery("#CompletedTask").jqGrid().setGridParam({ url: '@Url.Action("GetAllCompletedProductionTasks", "ProductionQueue")', datatype: 'json', postData:
                 { applicationType: appType, fhaOrProjName: fhaOrProjName }
        }).trigger("reloadGrid");


    });

    $('#btnCompletedTasksCancel').click(function () {
        document.getElementById("completed_appType1").value = 0;
       document.getElementById("ddlCompletedTasksFHAProjName").value = null;

        jQuery("#CompletedTask").jqGrid().setGridParam({ url: '@Url.Action("GetAllCompletedProductionTasks", "ProductionQueue")', datatype: 'json', postData:
                 { applicationType: 0, fhaOrProjName: null }
        }).trigger("reloadGrid");


    });
</script>