﻿@{
    ViewBag.Title = "GroupTaskView";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

@*<script src="~/Views/Production/ProductionGroupTask/LenderGroupTask.js"></script>*@

@*karri#205*@
<style type="text/css">
    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    
</style>

@*karri#205*@
<div class="container" style="width:1259px; border:groove;">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-3" align="left" style="margin-left:40px;">
            Project Action Name
        </div>
        @*<div class="col-lg-2">

        </div>*@
       @* Siddesh*@
        @*<div class="col-lg-2" align="left" style="margin-left:22px;">
            FHA Number
        </div>*@
        @* Added by siddesh #265*@
        <div class="col-lg-2" align="left" style="margin-left: 22px;">
            FHA Number
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <h5>Search Filters:</h5>
        </div>
        <div class="col-lg-3" align="left">
            <input type="text" id="ddlProjName" value="@ViewData["BindingProjActionName"]" class="form-control" style="width:240px;" />
        </div>
        @*Fha Number Siddesh*@
        @*<div class="col-lg-2" align="left">
            <input type="text" id="ddlProjName" value="@ViewData["BindingProjActionName"]" class="form-control" style="width:191px;" />
        </div>*@
        @* Added by siddesh #265*@
        <div class="col-lg-2" align="left">
            <input type="text" id="ddlFHANumbers" value=@ViewData["BindingFHANumber"] class="form-control" style="width:191px;" />
        </div>
        <div class="col-lg-2" align="right">
            <input type="button" class="btn btn-default" value="Search"  style="margin-left:151px;" onclick="FilterResults()" />
        </div>
        <div class="col-lg-2" align="left">
            <input type="button" class="btn btn-default" value="Reset"  style="margin-left:78px;" onclick="ResetFilterResults()" />
        </div>
    </div>
</div>

@*karri#205*@
<script>

    var autocompleteTextBox = $('#ddlProjName');

    var possibleValues = @Html.Raw(Json.Encode(ViewBag.ProjActionNamesList));
</script>
@* Added by siddesh #265*@
<script>
    var autocompleteTextBox1 = $('#ddlFHANumbers');
    var possibleValues1 = @Html.Raw(Json.Encode(ViewBag.FHAnumberList));
</script>

<script src="/Scripts/Shared/autocomplete.js"></script>
@* Added by siddesh #265*@
<script src="/Scripts/Shared/Prodgrouptaskfhanumberlist.js"></script>

<div>
    <table id="LenderGroupTaskGrid"></table>
    <div id="pager"></div>


</div>
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        $("#LenderGroupTaskGrid").jqGrid({

            url: "/ProductionGroupTask/GetProdGroupTaskGridContent",
            datatype: 'json',
            mtype: "GET",

            colNames: ['Id', 'GroupTaskid', 'Project Action Name', 'Status', 'Role', 'In Use', 'Date & Time created','Submited Date','UnLock'],
            colModel: [
                { key: true, hidden: true, name: 'Id', index: 'Id', editable: false },
                { key: true, hidden: true, name: 'GroupTaskid', index: 'GroupTaskid', editable: false },
              {
                  name: "ProjectActionName", index: "ProjectActionName", width: 200, align: 'left', sortable: true, type: 'link',
                  cellattr: function (cellvalue, options, rowObject) {
                      if (rowObject.ProjectActionName != null) {

                          return ' style=" text-decoration: underline;Color:blue"';
                      }
                  },
                  formatter: function (cellvalue, options, rowObject) {

                      if (rowObject.ProjectActionName == null) {
                          return "NA";
                      }
                      else {

                          return '<a href="/ProductionGroupTask/GetGroupTaskDetail/?taskId=' + rowObject.GroupTaskid + '">' + rowObject.ProjectActionName + '</a>';

                       
                         

                      }
                  }

              },
                { Key: false, name: 'Status', index: 'Status', editable: false },
                { Key: false, name: 'role', index: 'role', editable: false },
                { Key: false, name: 'InUseuser', index: 'InUseuser', editable: false },
                { Key: false, name: 'CreatedOn', index: 'CreatedOn', editable: true, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
             
                { Key: false, name: 'ServicerSubmissionDate', index: 'ServicerSubmissionDate', editable: false,formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },

                {
                    name: "UnLock", index: "UnLock", width: 200, align: 'left', sortable: true, type: 'link',
                    cellattr: function (cellvalue, options, rowObject) {
                        if (rowObject.UnLock != "UnLock") {

                            return ' style=" text-decoration: underline;Color:blue"';
                        }
                    },
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.UnLock == null) {
                            return "";
                        }
                        else {

                            return '<a href="/ProductionGroupTask/Unlock/?taskId=' + rowObject.GroupTaskid + '">' + rowObject.UnLock + '</a>';




                        }
                    }

                }],
            pager: jQuery('#pager'),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            caption: 'Group Task',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
            loadComplete: function() {
                //debugger;
            },
            loadError: function (xhr,status,error)
            {
               // debugger;

            },
            autowidth: true,
            multiselect: false

        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false },




  {
      //Delete options
      zIndex: 100,
      url: '/TodoList/Delete',
      closeOnEscape: true,
      CloseAfterEdit: true,
      recreateForm: true,
      msg: "Are you sure you want to delete this task?",
      afterComplete: function (response) {
          if (response.responseText) {
              alert(response.responseText);
          }

      }
  })

    });


</script>

@*karri#205*@
<script>
    function FilterResults() {

        var lookupprojactionname = document.getElementById("ddlProjName").value;
      @* Added by siddesh #265*@
        var lookupFHANumber = document.getElementById("ddlFHANumbers").value;

        location.href = '@Url.Action("Index", "ProductionGroupTask")?projActName=' + lookupprojactionname+'  &&fhanumber=' +lookupFHANumber;

        @*location.href = '@Url.Action("MyTasks", "Task")?var1=' + firstname + '&name=' + username;*@
    }
    // Implemented by hareesh
    function ResetFilterResults()
    {
        var lookupprojname = document.getElementById("ddlProjName").value;
         @* Added by siddesh #265*@
        var lookupFHANumber = document.getElementById("ddlFHANumbers").value;
        location.href = '@Url.Action("Index", "ProductionGroupTask")';
        //alert();

    }
</script>