﻿@using System.Web.Mvc.Html
@model HUDHealthcarePortal.Model.AssetManagement.ReserveForReplacementFormModel

@{
	ViewBag.Title = "";
}




<section id="r4rform" style="width:1200px;height:1150px;">

	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">   </span>
			<h4 style="text-align:center;"><b>R4R Change Approval Amount Form</b></h4>
		</div>
	</div>

	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("FHA Project Number")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.FHANumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>

	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Approved Amount")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.TotalApprovedAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>

	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Change Approved Amount")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.ChangeApprovedAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>
	
	<hr />
	<div class="container-fluid">
		<div class="row">
			<span class="col-md-4 text-right">
				@Html.Label("Re-Enter Change Approved Amount")
			</span>
			<span class="col-md-4">
				@Html.LabelForModel(Model.ChangeApprovedAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
			</span>
		</div>
	</div>


</section>




