﻿<script type="text/javascript">

$(document).ready(
    function () {
        styleGrid();
    });

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
        $(".webGrid th").each(function () {
            if ($.trim($(this).text().toString().toLowerCase()) === "{checkall}") {
                $(this).text('');
                $("<input />", { type: "checkbox", id: "cbSelectAll", value: "" }).appendTo($(this));
                $(this).append("<span style='color:black;'> </span>");
            }
        });

        function Rtainid(input, ischecked) {
            //debugger
            if (input !== undefined) {
                //retainsort = localStorage.getItem("retainsort");
                if (retainsort == '') {
                    retainsort = input + "_" + ischecked;
                }
                else {
                    if (retainsort.indexOf(input) >= 0) {
                        if (!ischecked) {
                            retainsort = retainsort.replace(input + "_true", input + "_false");
                        }
                        else {
                            retainsort = retainsort.replace(input + "_false", input + "_true");
                        }
                    }
                    else {
                        retainsort += "," + input + "_" + ischecked;
                    }
                }
            }
        }

        $('.webGrid').find("input:checkbox").each(function () {
            //debugger;
            if ('@TempData["IsSelectAll"]' == "True") {
                this.checked = true;
                ischecked = this.checked;
                var str = $(this).attr("id").split("_");
                var id = str[1];
               
                //retainsort = localStorage.getItem("retainsort");
                Rtainid(str[1], ischecked);
            } else {
                if ('@TempData["IsSelected"]' != "True") {
                    this.checked = false;
                    ischecked = this.checked;
                    var str = $(this).attr("id").split("_");
                    var id = str[1];
                   // debugger;
                  //  retainsort = localStorage.getItem("retainsort");
                    Rtainid(str[1], ischecked);
                }
            }
          //  SearchResult();
        });
    }
</script>

@{
    var grid = new WebGrid(canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    grid.Bind(Model.TaskDetailPerAeList.Entities, autoSortAndPage: false, rowCount: Model.TaskDetailPerAeList.TotalRows);
}

<div class="row" style="margin-left:20px; width:1200px;">
    @if (Model != null && Model.TaskDetailPerAeList != null && Model.TaskDetailPerAeList.Entities != null && Model.TaskDetailPerAeList.Entities.Count > 0)
    {
        <h4> Task Details Per Account Executive</h4>
    }
    <input type="hidden" id="pagevalue" value='@TempData["page"]'/>
    <div id="gridContent">
        @{
            var gridColumns = new List<WebGridColumn>();
            gridColumns.Add(grid.Column("IsSelected", style: "description", header: "{checkall}",
               format: (item) =>
               {
                   bool t = item.IsSelected ?? true;
                   return new HtmlString("<span>" + Html.CheckBoxFor(x => t, new { @id = "Reassign_" + item.TaskInstanceId, @class = "selectTask" }) + "</span>");
               }));
            gridColumns.Add(grid.Column("PropertyName", "Name", (item) => ((object)item.FhaNumber != null && (object)item.PropertyName != null) ? (object)((object)item.PropertyName.ToString() + "(" + (object)item.FhaNumber.ToString() + ")") : Html.Raw(string.Empty), style: "descriptLeft"));
            gridColumns.Add(grid.Column("TaskName", "Task Name", (item) => (object)item.TaskName != null ? (object)item.TaskName.ToString() : Html.Raw(string.Empty), style: "descriptLeft"));
            gridColumns.Add(grid.Column("DateSubmitted", "Date Submitted", (item) => item.DateSubmitted == null ? "NA" : String.Format("{0:MM/dd/yyyy}", item.DateSubmitted)));
            gridColumns.Add(grid.Column("DateAssigned", "Date Re-Assigned", (item) => item.DateAssigned == null ? "NA" : String.Format("{0:MM/dd/yyyy}", item.DateAssigned)));
            gridColumns.Add(grid.Column("AccountExecutiveName", "Account Executive", (item) => item.AccountExecutiveName, style: "descriptLeft"));
            gridColumns.Add(grid.Column("Status", "Status", (item) => item.TaskStatus));
            gridColumns.Add(grid.Column("TaskAge", "Age of Task", (item) => item.TaskAge));


        }
        @if (Model != null && Model.TaskDetailPerAeList != null && Model.TaskDetailPerAeList.Entities != null && Model.TaskDetailPerAeList.Entities.Count > 0)
        {
            @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                htmlAttributes: new {id = "checkableGrid"},
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",
                columns: gridColumns.ToArray());
        }
        else
        {
            <p style="margin-left:20px; text-align :center">No Records found</p>
        }
    </div>
</div>
