﻿@using Elmah.ContentSyndication
@model PaginateSortModel<TaskReAssignmentViewModel>

<script type="text/javascript">
    $(document).ready(
function () {
    styleGrid();
    $("#dialogNotesDetail").dialog({
        title: 'Notes Detail',
        autoOpen: false,
        resizable: true,
        height: '500',
        width: '680',
        show: { effect: 'fade' },
        modal: true,
        draggable: true,
        closeOnEscape: false,
        close: function (event, ui) {
            $(this).dialog("close");
        },
        open: function (event, ui) {
            $(this).load('../Task/TaskNotesDetail', { id: g_modal_paramId });
            if ('@TempData["bShowCloseBtn"]' == "False")
                $(".ui-dialog-titlebar-close").hide();
        },
    });
}
);

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
        $('.webGrid').fixedHeaderTable({ height: '490', width: '1260', fixedColumn: true, footer: true, themeClass: 'fixedHeader' });
    }
</script>

@*karrinew*@
<style type="text/css">
    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    }
</style>

@*karrinew*@
<div class="container" style="width:992px; border:groove;">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2" align="left">
            FHA Number
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <h5>Search Filters:</h5>
        </div>
        <div class="col-lg-2" align="left">
            <input type="text" id="ddlFHANumbers" value=@ViewData["BindingFHANumber"] class="form-control" style="width:140px;" />
        </div>
        <div class="col-lg-2" align="right">
            <input type="button" class="btn btn-default" value="Search" onclick="FilterResults()" />
        </div>
        <div class="col-lg-2" align="left">
            <input type="button" class="btn btn-default" value="Reset" onclick="ResetFilterResults()" />
        </div>
    </div>
</div>

@*karrinew*@
<script>

    var autocompleteTextBox = $('#ddlFHANumbers');

    var possibleValues = @Html.Raw(Json.Encode(ViewBag.FHAList));
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>

@{
    var grid = new WebGrid(canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    grid.Bind(Model.Entities, autoSortAndPage: false, rowCount: Model.TotalRows);
}
<div id="dialogNotesDetail"></div>
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();

        gridColumns.Add(grid.Column("ItemName", "Name", format: (item) => string.IsNullOrEmpty(item.ItemName) ? new MvcHtmlString(String.Empty) : Html.ActionLink(((object)item.ItemName) + " (" + ((object)item.FHANumber).ToString() + ")", "GetTaskDetail", "Task", new { id = item.TaskId, fromTaskReAssignment = true, reAssignedTo = item.ReAssignedTo, @style = "text-decoration:underline" }, null)));
        gridColumns.Add(grid.Column("TaskName", "Action", style: "description"));
        gridColumns.Add(grid.Column("Status", "Status", format: (item) =>
        {
            if (item.Status == FormUploadStatus.Done)
            {
                return Html.Raw("<img src=\"../Content/images/stop.png\" />");
            }
            if (item.Status == FormUploadStatus.AssignedToOther)
            {
                return Html.Raw("<img src=\"../Content/images/pause.png\" />");
            }
            return Html.Raw("<img src=\"../Content/images/play.png\" />");
        }
            ));
        gridColumns.Add(grid.Column("MyStartTime", "Last Updated Time", style: "description"));
        gridColumns.Add(grid.Column("FromAE", "From AE", style: "description"));
        gridColumns.Add(grid.Column("AssignedBy", "Assigned By", style: "description"));
        gridColumns.Add(grid.Column("AssignedTo", "Assigned To", style: "description"));
        gridColumns.Add(grid.Column("ReAssignedTo", "Re-Assigned To", style: "description"));
        gridColumns.Add(grid.Column("ReAssignedByName", " Re-Assigned By", style: "description"));
        gridColumns.Add(grid.Column("CreatedOn", " Re-Assigned On", style: "description"));
        gridColumns.Add(grid.Column("Notes", "Current Notes", format: (item) => string.IsNullOrEmpty(item.Notes) ? new MvcHtmlString(String.Empty) : HtmlHelperExt.PopupLink("dialogNotesDetail", HtmlHelperExt.TruncateToString(((object)item.Notes).ToString(), 30), item.TaskInstanceId.ToString(), item.Notes)));
        gridColumns.Add(grid.Column("Notes", "Historic Notes", format: (item) => HtmlHelperExt.PopupImageLink("dialogNotesDetail", "Notes History", item.TaskInstanceId.ToString(), "/Content/images/comments.png", "Notes History")));
        //hiding the due date column - user story 589
        //gridColumns.Add(grid.Column("DueDate", "Due Date", style: "description"));
        gridColumns.Add(grid.Column("HasOpenedByMe", "Has Opened", style: "description"));
        gridColumns.Add(grid.Column("Duration", "Duration", format: (item) =>
        {
            if (item.Status == FormUploadStatus.Done)
            {
                return Html.Raw("<label>Complete (" + (item.StartTime.Date - item.WaitingStartTime.Date).Days + " days)</label>");
            }
            return Html.Raw("<label>In Process (" + (DateTime.UtcNow.Date - item.CreatedOn.Date).Days + " days)</label>");
        }
        ));
    }
    @if (Model.Entities.Any())
    {
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
               mode: WebGridPagerModes.All,
               firstText: "<< First",
               previousText: "< Prev",
               nextText: "Next >",
               lastText: "Last >>",

                columns: gridColumns.ToArray())
    }
    else
    {
        <p style="margin-left:20px;">@(string.IsNullOrEmpty(ViewBag.EmptyMessage) ? "No data found." : @ViewBag.EmptyMessage)</p>
    }
</div>
@*@section Styles {
        <link href="@Url.Content("~/Content/webGrid.css")" rel="stylesheet" type="text/css" />
    }*@

@*karri#205*@
<script>
    function FilterResults() {

        var fhanuber = document.getElementById("ddlFHANumbers").value;
        if(fhanuber.length < 6)
            return false;

        location.href = '@Url.Action("MyReAssignmentTasks", "TaskReAssignment")?lookupFHANumber=' + fhanuber;

        @*location.href = '@Url.Action("MyTasks", "Task")?var1=' + firstname + '&name=' + username;*@
    }
    // Implemented by hareesh
    function ResetFilterResults()
    {
        var fhanuber = document.getElementById("ddlFHANumbers").value;
        if(fhanuber.length <= 0)
            return false;

        location.href = '@Url.Action("MyReAssignmentTasks", "TaskReAssignment")';
        //alert();

    }
</script>