﻿@model HUDHealthcarePortal.Model.OPAViewModel
@using HUDHealthcarePortal.BusinessService

@{
    Layout = null;
}
<link href="../../Content/formUpload.css" rel="stylesheet">
<style>
    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }
</style>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Attachements</h4>

            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <strong>Are you Sure you want to Delete the selected Attachments?</strong>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="deleteAttachment1">Yes</button>
            </div>
        </div>
    </div>
</div>
<div id="uploadbtn" class="container-fluid" style="padding-top: 15px;display:none;">
	@Html.Label("Firm Commitment Letter")
	<input class="fileClass" id="file_FWP" name="FWP" type="file" value="FWP" multiple="multiple">
	<label id="file_FWP" for="file_FWP" class="fileClass"><strong> Attach </strong></label>
    @*<label id="BtnDelete"  class="btn btn-danger"><strong> Delete Attachments </strong></label>*@
    @*<button type="button" class="btn btn-danger" id="BtnDelete"> Delete Attachments </button>*@
    
</div>
@*Naveen 235*@
<div id="deletebtn" class="container-fluid" style="padding-top: 15px;display:none;">
   <button type="button" class="btn btn-danger" id="BtnDelete" style="margin-left:1004px"> Delete Attachments </button>
</div>
<div id="uploadtemlate" class="container-fluid" style="padding-top: 15px;display:none;">
	@Html.Label("Firm Amendment")
	@*<button id="btnGenTempl1" type="reset" class="btn btn-primary btn-sm" value="Request Firm Commitmen"><span class="ui-button-text">Generate Amendment Template</span></button>*@
	<button id="btnGenTempl" type="reset" class="btn btn-primary btn-sm" onclick='        Signature(); return false;'>Generate Amendment Template</button>

</div>
@*<div id="dialog2" title="Generate template"></div>*@
<div id='dialogDiv' class='modal fade in'>
	<div id='dialogContent'></div>
</div>
<div class="container-fluid" style="padding-top: 15px">
    <div id="attachtext" class="row">


        <span class="col-md-12 ">
            @Html.Label("*", new { style = "color: red;" })
            <i> All files attached at the same time must not exceed 1 GB.  Please make sure the files you are attaching are in the accepted format. (.gif, .doc, .docx, .pdf, .xls, .xlsx).</i>
        </span>
        
    </div>

    

    @*<div class="row">

            <span class="col-md-12 ">
                @if (!RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName))
                {
                    <button id="btnReqFirm" type="reset" class="btn btn-primary btn-sm" value="Request Firm Commitmen"><span class="ui-button-text">Request Firm Commitment</span></button>
                }
            </span>
        </div>*@

</div>

<div class="container-fluid " style="padding-top: 15px">
    <style>
        .fileClass {
            width: 100px !important;
            padding: 5px !important;
        }
    </style>
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
    @*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
    @*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
    <script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

    <link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

    <div id="WorkProductDiv" style="width:700px">
        <table id="opacontent"></table>
        <div id="opapager"></div>
    </div>
    <div class="container-fluid" style="padding-top: 15px;padding-left:0px">

        @if (!RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName))
        {
            if (Model.pageTypeId == ((Int32)PageType.Amendments))
            {

                if (RoleManager.IsProductionUser(UserPrincipal.Current.UserName))
                {
                    <button type="reset" class="btn btn-primary btn-sm" onclick="sendEmailToProdWlmUser('@Model.TaskInstanceId');return false;">Send Email </button>}
                if (RoleManager.IsProductionWLM(UserPrincipal.Current.UserName))
                {
                    @*<button type="reset" class="btn btn-primary btn-sm" onclick="sendEmailToLender('@Model.TaskInstanceId');return false;">Send amendment confirmation to <span class="badge">Lender</span></button>*@
                    <button type="reset" class="btn btn-primary btn-sm" onclick="sendEmailToLender('@Model.TaskInstanceId');return false;">Send email to <span class="badge">Closer</span></button>}

            }
            else
            {
                <button id="btnReqFirm" type="reset" class="btn btn-primary btn-sm" value="Request Firm Commitmen"><span class="ui-button-text">Request Firm Commitment</span></button>
            }
        }

    </div>
    @*<div id="FinalAEGriDiv" style="width:700px">
            <table id="finalopacontent"></table>
            <div id="opapager"></div>
        </div>*@

    <script>
        //Naveen 235 (Commented)
        //function handleDeleteFileFWP(id) {
        //    //debugger;
        //    var childFileId = id;
        //    $("#spinner").attr('class', 'overlay');
        //    $.ajax({
        //        type: "POST",
        //        url: "/OPAForm/Deletefile/?taskfileid=" + childFileId,

        //        contentType: false,
        //        processData: false,
        //        cache: false,
        //        success: function (result) {
        //            //    debugger;
        //            if (result === "Success") {
        //                alert("File Deleted Successfully");
        //                jQuery('#opacontent').trigger('reloadGrid');
        //            }
        //        },
        //        error: function (xhr, status, p3, p4) {
        //            //  debugger;
        //            var err = "Error " + " " + status + " " + p3 + " " + p4;
        //            if (xhr.responseText && xhr.responseText[0] == "{")
        //                err = JSON.parse(xhr.responseText).Message;
        //            console.log(err);
        //        }
        //    });
        //}

    </script>

    <script>
    $(document).ready(
		function () {

			if ('@Model.pageTypeId' == 18) {
			    document.getElementById('uploadbtn').style.display = 'none';
			    document.getElementById('deletebtn').style.display = 'none';
				document.getElementById('uploadtemlate').style.display = 'block';
			}
			else
			{
			    document.getElementById('uploadbtn').style.display = 'block';
			    document.getElementById('deletebtn').style.display = 'block';
				document.getElementById('uploadtemlate').style.display = 'none';

			}

		    var grid = $("#opacontent"), i;

            // debugger;
            $("#opacontent").jqGrid({

                url: "/OPAForm/GetOPAWorkProduct?taskInstanceId=" + $("#TaskGuid").val() + "&fileType=" + "FWP" + "",
                datatype: 'json',
                mtype: 'POST',

                colNames: ['File Name', 'File Size(KB)', 'Role', 'Uploaded By', 'Uploaded On', 'Remove Attachment'],
                colModel: [

                    {
                        Key: false, name: 'FileName', index: 'FileName', width: 250, type: 'link',
                        cellattr: function (cellvalue, options, rowObject) {
                            if (rowObject.FileName != null) {

                                return ' style="text-decoration: underline"';
                            }
                        },
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.FileName == null) {
                                return "NA"
                            }
                            else {
                                //karri#68
                                //return '<a  href="/OPAForm/DownloadTaskFile/?taskfileid=' + rowObject.FileId + '">' + rowObject.FileName + '</a>';
                                return '<a onclick="event.preventDefault(); getFile(' + (rowObject.FileId) + ');" href="#" >' + rowObject.FileName + '</a>';
                            }
                        }
                    },

                    {
                        name: 'FileSize', index: 'FileSize', editable: false, width: 200,

                    },
                    { Key: false, name: 'RoleName', index: 'RoleName', editable: false, width: 200 },
                    { Key: false, name: 'UploadedBy', index: 'UploadedBy', editable: false, width: 200 },
                    { Key: false, name: 'UploadTime', index: 'UploadTime', editable: true, width: 250, formatter: 'date', formatoptions: { newformat: 'm/d/Y' }, sorttype: "date" },
                    //Naveen 235
                    { Key: false, name: 'FileId', index: 'FileId', hidden: true, editable: false, width: 200 },
                    //{
                    //    Key: false, name: 'FileId', index: 'FileId', width: 150, sortable: false,
                    //    formatter: function (cellvalue, options, rowObject) {

                    //        if (rowObject.FileName == null) {
                    //            return "NA"
                    //        }
                    //        else {
                    //            // return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                    //            return "<img src='/Content/images/delete.jpg' id='" +  rowObject.FileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                    //        }
                    //    },
                    //    formatoptions: {
                    //        keys: true,
                    //        editformbutton: true
                    //    }

                    //},
                ],

                pager: jQuery('#opapager'),
                cellEdit: false,
                cellsubmit: 'clientArray',
                rowNum: 10,
                //loadonce: true,
                //Naveen 235
                multiselect: true,
                rowList: [10, 20, 30, 40],
                shrinkToFit: false,
                height: '100%',
                viewrecords: true,
                gridview: true, autoencode: true,
                width: 1200,

                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },
                loadComplete: function (data) {
                    //debugger;
                    @*if (@Model.RequestStatus == 2)
                    {
                        jQuery("#opacontent").jqGrid('hideCol', 'FileId');
                        jQuery("#opacontent").setGridWidth('1100');
                    }

                    if (@Model.RequestStatus == 1 && @Model.columnVisibility == 1)
                    {

                        jQuery("#opacontent").jqGrid('hideCol', 'FileId');
                        jQuery("#opacontent").setGridWidth('1100');
                    }*@

                },
                //autowidth: true,
                //Naveen 235
                //multiselect: false,
                multiselect: true,

                onPaging: function (pgButton) {
                    //debugger;
                    var isGoodToGo = true;
                    for (ifile = 0; ifile < fileListUpdate.length; ifile++) {

                        if (fileListUpdate[ifile].ReqAdditionalInfo && fileListUpdate[ifile].Comments.length <= 0) {
                            $("#" + fileListUpdate[ifile].rowId + "_raiComments").addClass('errorClass');
                            isGoodToGo = false;
                        }
                        else {
                            $("#" + fileListUpdate[ifile].rowId + "_raiComments").removeClass('errorClass');
                        }

                    };


                },

                //Hareesh Added
                beforeSelectRow: function (rowid, e) {
                    var cbsdis = $("tr#" + rowid + ".jqgrow > td > input.cbox:disabled", grid[0]);
                    if (cbsdis.length === 0) {
                        return true;    // allow select the row
                    } else {
                        return false;   // not allow select the row
                    }
                },

                //Commented by hareesh
                //beforeSelectRow: function (rowid, e) {
                //    //debugger;
                //    var $self = $(this),
                //    p = $self.jqGrid("getGridParam"),
                //    $td = $(e.target).closest("tr.jqgrow>td"),
                //    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                //    cmName = cm != null ? cm.name : null;

                //    if (cmName === "FileId") {
                //       // debugger;
                //        handleDeleteFileFWP(e.target.id);
                //        //var deleteElements = document.getElementsByClassName('deleteLinkClass');
                //        //for (var i = 0; i < deleteElements.length; i++) {
                //        //    deleteElements[i].addEventListener('click',
                //        //        handleDeleteFile, false);
                //        //}

                //    }
                //    return false;
                //}

            }).navGrid('#pager', { edit: false, add: false, del: false, search: true, refresh: true });
        });





    function Removefile(taskFileId, groupTaskInstanceId) {

        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/Removefile/TaskGuid?=' + $('#TaskGuid').val(),
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                TaskGuid: TaskGuid,
                lendercomment: lendercomment


            },
            cache: false,
            type: 'POST',
            success: function (response) {
                // debugger;

                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                alert('File successfully deleted');
                $("h4:first").html('');

                $("#isAgreementRequiredErrorMessage").hide();
            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });
    }

        //Naveen 235
        var fileIdsToDelete = null;
        $("#BtnDelete").click(function getSelectedRows() {
            var grid = $("#opacontent");
            var rowKey = grid.getGridParam("selrow");

            var myGrid = $('#opacontent'), i, rowData, fileIds = [],
            rowIds = myGrid.jqGrid("getDataIDs"),
            n = rowIds.length;

            if (!rowKey)
                alert("No rows are selected");
            else {
                var selectedIDs = grid.getGridParam("selarrrow");
                //var result = "";
                for (var i = 0; i < selectedIDs.length; i++) {
                    //result += selectedIDs[i] + ",";
                    rowData = myGrid.jqGrid("getRowData", rowIds[i]);
                    fileIds.push(rowData.FileId);
                }

                //alert(result);

                if (fileIds.length > 0) {
                    fileIdsToDelete = fileIds;
                    $('#myModal1').modal('show');
                    //handleDeleteFileFWP(fileIdsToDelete);
                }
                else {
                    alert("Please Select row to delete!")
                }
            }
        });

        //Naveen 235
        $("#deleteAttachment1").click(function () {
            $('#myModal1').modal('hide');
            handleDeleteFileFWP(fileIdsToDelete);
        });

        //Naveen 235
        function handleDeleteFileFWP(id) {
            var ids = JSON.stringify(id);
            var url = '@Url.Action("Deletefile", "OPAForm")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { taskfileid: id.toString() },
                success: function () {
                    alert("File Deleted Successfully")
                    jQuery('#opacontent').trigger('reloadGrid');
                    //window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();
                }
                    ,
                error: function (data) {
                    alert("Error on Deleting Files");
                },

            });
        }
    </script>

</div>
