﻿@using HUDHealthcarePortal.BusinessService
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<style type="text/css">
    .ui-jqgrid {
        font-family: Arial;
    }

    .well {
        padding: 10px;
        background: #d9edf7;
    }

    .ui-jqgrid > .ui-jqgrid-view {
        font-size: 12px;
    }

        .ui-jqgrid > .ui-jqgrid-view button {
            font-size: 10px;
        }

        .ui-jqgrid > .ui-jqgrid-view a {
            color: #428bca;
            font-weight: bolder;
        }

    tr.jqgroup td {
        font-weight: bold !important;
        color: black;
    }

    .ui-icon {
        font-size: 40px;
    }

    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    
    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

@*karri#205*@
<div class="container" style="width:1257px; border:groove;">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-3" align="left" style="margin-left:-59px">
            Project Name
        </div>
        <div class="col-lg-3" style="margin-left:-59px">
            Production Type
        </div>
        @*Added by siddesh #329*@
        <div class="col-lg-2" style="margin-left:-59px;">
            FHA Number
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <h5>Search Filters:</h5>
        </div>
        <div class="col-lg-3" align="left">
            <input type="text" id="ddlProjName" value="@ViewData["BindingProjName"]" class="form-control" style="width:228px; margin-left:-116px;" />
        </div>
        <div class="col-lg-3" align="left">
            <input type="text" id="ddlProductionTaskType" value="@ViewData["BindingProdTaskType"]" class="form-control" style="width:236px;margin-left:-154px;" />
        </div>
        @*Added by siddesh #329*@
        <div class="col-lg-3" align="left">
            <input type="text" id="ddlFHANumbers" value="@ViewData["BindingFHANumber"]" class="form-control" style="width:220px;margin-left:-220px;" />
        </div>
        <div class="col-lg-2" align="right" style="margin-top:-35px;margin-right: 110px;margin-left:866px;">

            <input type="button" class="btn btn-default" value="Search" onclick="FilterResults()" />
        </div>
        <div class="col-lg-2" align="left" style="margin-top:-35px;margin-left:1117px;">
            <input type="button" class="btn btn-default" value="Reset" onclick="ResetFilterResults()" />
        </div>
    </div>
</div>

@*karri#205*@
<script>

    var autocompleteTextBox = $('#ddlProjName');

    var possibleValues = @Html.Raw(Json.Encode(ViewBag.ProjNamesList));
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>

@*karri#205*@
<script>

    @*var autocompleteTextBox = $('#ddlProjName');
    var possibleValues = @Html.Raw(Json.Encode(ViewBag.FHAList));*@

    var filtertextbox2 = $('#ddlProductionTaskType');
    var filterbox2Possiblevalues = @Html.Raw(Json.Encode(ViewBag.ProdTypeList));
</script>
<script src="/Scripts/Shared/autocomplete_filter2.js"></script>
@* Added by siddesh #329 *@
<script>
    var filtertextbox4 = $('#ddlFHANumbers');
    var filterbox4Possiblevalues = @Html.Raw(Json.Encode(ViewBag.FHAnumberList));
</script>
@* Added by siddesh #329 *@
<script src="~/Scripts/Shared/ProductiongrouptaskindexFHAnumberList.js"></script>


<div id="div_myTask">
    <table id="prodMyTaskGrid"></table>
    <div id="pager"></div>

</div>
<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>

@*<div id="dialogCommon"></div>*@
<script type="text/javascript">

jQuery("#prodMyTaskGrid").jqGrid({
    url: '@Url.Action("GetMyTasks","ProductionMyTask")',
	datatype: "json",
	colNames: ['ParentChildInstanceId', 'groupid', 'ProductionTaskType', 'StatusId', 'FhaRequestType', 'TaskName', 'Status', 'Lender', 'Task/Role', 'Assigned To', 'Last updated', 'Comments', 'Project Details', 'Duration'],
        colModel: [
	       {
	            name: 'ParentChildInstanceId', index: 'ParentChildInstanceId', hidden: true
	       },
           {
                name: 'groupid', index: 'groupid', hidden: true
           },
           {
			   name: 'ProductionTaskType', index: 'ProductionTaskType', width: 150, align: 'left',
			   sorttype: function (cellvalue, rowObject) {
				   return cellvalue ? cellvalue : rowObject.LastUpdated;
				}
			},
            {
                name: 'StatusId', index: 'StatusId', hidden: true
            },
           {
               name: 'FhaRequestType', index: 'FhaRequestType', hidden: true, width: 55
           },
   		 {
                 name: "TaskName", index: "TaskName", width: 150, align: 'left', sortable: true, type: 'link',
   		     cellattr: function (cellvalue, options, rowObject) {
   		       //  debugger;
   		         if (rowObject.TaskName != null) {

   		             return ' style=" text-decoration: underline;Color:blue"';
   		         }
   		     },
   		     formatter: function (cellvalue, options, rowObject) {
   		         if (rowObject.TaskName == null) {
   		             return "NA";
   		         }
   		         else {
   		             if (rowObject.ProductionTaskType === "FHA# REQUEST") {
   		                 return '<a href="/ProductionMyTask/GetProductionTaskDetail?parentChildInstanceId=' + (rowObject.ParentChildInstanceId) + '&fhaRequestType=' + (rowObject.FhaRequestType) + '">' + rowObject.TaskName + '</a>';
                             }
                             else if (rowObject.ProductionTaskType ==="FORM 290") {
                                return  '<a href="/ProductionMyTask/GetForm290Task?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '">' + rowObject.TaskName + '</a>';
                             }
                             else {
   		                     return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '">' + rowObject.TaskName + '</a>';
		                 }
		            }
   		     }

   		 },
   		//{ name: 'name', index: 'name asc, invdate', width: 100 },
        {
            name: 'Status', index: 'Status', width: 70,
            formatter: function (cellvalue, options, rowObject) {

                //if (rowObject.StatusId === 17 || rowObject.StatusId === 22) {
                if (rowObject.StatusId === 17 ) {
                    return "<img src=\"../Content/images/play.png\" />";
                }
                else if (rowObject.StatusId === 22 && rowObject.FhaRequestType == 16) {
                    return "<img src=\"../Content/images/play.png\" />";
                }
                else if (rowObject.StatusId === 23 && rowObject.FhaRequestType == 16) {
                    return "<img src=\"../Content/images/stop.png\" />";
                }
                else if (rowObject.StatusId === 23 && rowObject.FhaRequestType == 17) {
                    return "<img src=\"../Content/images/play.png\" />";
                }
                else if (rowObject.StatusId === 18){
                    if ('@RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName)' === "True") {
                        return "<img src=\"../Content/images/pause.png\" />";
                    }
                    return "<img src=\"../Content/images/play.png\" />";
                }
                else if (rowObject.StatusId === 20) {
                    return "<img src=\"../Content/images/pause.png\" />";
                }
                else if (rowObject.StatusId === 21 || rowObject.StatusId === 23) {
                    return "<img src=\"../Content/images/stop.png\" />";
                }
                else if (rowObject.StatusId === 16 ) {
                    return "<img src=\"../Content/images/pause.png\" />";
                }
                else {
                    return "<img src=\"../Content/images/stop.png\" />";
                }
            }
        },
   		{ name: 'LenderName', index: 'LenderName', width: 150 },
   		{ name: 'ProductionType', index: 'ProductionType', width: 150 },
   		{ name: 'AssignedTo', index: 'AssignedTo', width: 150 },
   		{ name: 'LastUpdated', index: 'LastUpdated', width: 90, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
	       {
                   name: 'Comments', index: 'Comments', width: 90,
	           formatter: function (cellvalue, options, rowObject) {
	               if (rowObject.ProductionTaskType === "FHA# REQUEST") {
	                   return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.FhaRequestInstanceId + "\",\"" + rowObject.FhaRequestType + "\")';></span>";
                       } else {
	                   return "";
	               }
	           }
	       },
           {
               name: 'SPData', index: 'SPData', width: 90,
               formatter: function (cellvalue, options, rowObject) {
                       if ((rowObject.ProductionTaskType === "APPLICATION REQUEST" || rowObject.ProductionTaskType === "CONSTRUCTION SINGLE STAGE"
                           || rowObject.ProductionTaskType === "CONSTRUCTION TWO STAGE INITIAL" || rowObject.ProductionTaskType === "CONSTRUCTION TWO STAGE FINAL" ||
                           rowObject.ProductionTaskType === "CONSTRUCTION MANAGEMENT" || rowObject.ProductionTaskType === "NON-CONSTRUCTION EXECUTED CLOSING" || rowObject.ProductionTaskType === "NON-CONSTRUCTION DRAFT CLOSING" ||
						   rowObject.ProductionTaskType === "CLOSING TWO STAGE INITIAL" || rowObject.ProductionTaskType === "CLOSING TWO STAGE FINAL"
						   || rowObject.ProductionTaskType === "AMENDMENTS REQUEST") && rowObject.Status != "RAI")
                        /*"<span class='glyphicon glyphicon-share' onclick='sharepointData(\"" +*/
						   return "<span onclick='sharepointData(\"" + rowObject.groupid +
							   "\",\"" + rowObject.orderby +
							   "\")';> <img src=\'../Content/images/ProjectDetails_Image.png\'></span>";
					   else return "";

               }
           },



       { name: 'DurationLeft', index: 'DurationLeft', width: 80}
   	],
   	pager: "#pager",
   	rowNum: 40,
   	rowList: [10, 20, 30, 40, 50],

   	loadonce: false,
        caption: "Production Tasks Assigned To Me",
   	height: "500px",
   	autowidth: true,
   	autoheight: true,
   	shrinkToFit: true,
	sortname: 'LastUpdated',//'name',
   	sortorder: 'asc',
   	autoencode: true,
   	gridview: true,
    ignoreCase: true,

   	//width: 750,
    //loadonce:true,
   	grouping: true,
   	groupingView: {
   	    groupField: ['ProductionTaskType'],
   	    groupColumnShow: [false],
   	    groupText: [
                    "Production Type: <b>{0}</b>"
   	    ],
   	    groupOrder: ["desc"],
   	    groupSummary: [false],
   	    groupCollapse: false,
   	    groupDataSorted: true
	},
   	emptyrecords: 'No records to display',
   	jsonReader: {
   	    root: "rows",
   	    page: "page",
   	    total: "total",
   	    records: "records",
   	    repeatitems: false
   	},

    //scroll: 1,
   	onSelectRow: function (rowid) {

   	    return false;
   	},

});
    jQuery("#prodMyTaskGrid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false, search: false });

    function comments(fhaRequestInstanceId, requestType) {
        $('#dialogContent').load('@Url.Action("GetComments","ProductionMyTask")', { fhaRequestId: fhaRequestInstanceId, type: requestType }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

	}

    function sharepointData(id, orderby) {
        var closingStatus = false;
        $.getJSON('@Url.Action("ClosingCompleted", "ProductionQueue")', { taskInstanceId: id }, function (result) {
            closingStatus = result;
			loadSharepoint(result, id, orderby);
        });

	}

	function loadSharepoint(ClosingAppStatus, id, orderby) {
        if (!ClosingAppStatus) {
			$('#dialogContent').load('@Url.Action("GetSharepointDateView", "ProductionQueue")', { taskInstanceId: id, pOrderBy: orderby }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
        }
        else {
            var loading = function () { $("#spinner").attr('class', 'overlay'); };
            setTimeout(loading, 1000)
            window.location = null;
            window.location = "@Url.Action("GetSharepointForPdf", "ProductionQueue")" + "?taskInstanceId=" + id;

        }
    }
    @*$(document).ready(function () {
        if ('@TempData["PasswordExpires"]' == 'True') {
            // debugger;
            $('#dialogCommon').dialog('open');
        }
        $('#dialogCommon').dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == 'True' ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == 'True' ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == 'True' ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog('close');
            },
            open: function (event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == 'False')
                    $('.ui-dialog-titlebar-close').hide();
    }
        });


    });*@


</script>

@*karri#205*@
<script>
    function FilterResults() {

        var lookupprojname = document.getElementById("ddlProjName").value;
        var lookupprodtype = document.getElementById("ddlProductionTaskType").value;
        @* Added by siddesh #329 *@
        var lookupFHAnumber = document.getElementById("ddlFHANumbers").value;

        location.href = '@Url.Action("Index", "ProductionMyTask")?projName=' + lookupprojname + '&&prodTaskType=' + lookupprodtype +'&&FHANumbers=' + lookupFHAnumber;

        @*location.href = '@Url.Action("MyTasks", "Task")?var1=' + firstname + '&name=' + username;*@
    }
    // Implemented by hareesh
    function ResetFilterResults()
    {
        var lookupprojname = document.getElementById("ddlProjName").value;
        var lookupprodtype = document.getElementById("ddlProductionTaskType").value;
        @* Added by siddesh #329*@

        var lookupFHAnumber = document.getElementById("ddlFHANumbers").value;
        location.href = '@Url.Action("Index", "ProductionMyTask")';
        //alert();

    }
</script>

@*karri#205*@
<style type="text/css">
    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    }
</style>