﻿@using HUDHealthcarePortal.BusinessService
@{
    ViewBag.Title = "MyTaskLenderView";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<style type="text/css">
    .well {
        padding: 10px;
        background: #d9edf7;
    }
    .badge {
        color: #3c763d;
        top: 1px;
        right: -3px;
        background-color: #73aad3;
    }
   
     .ui-jqgrid {
        font-family: Arial;
    }

        .ui-jqgrid > .ui-jqgrid-view {
            font-size: 12px;
        }

            .ui-jqgrid > .ui-jqgrid-view button {
                font-size: 10px;
            }

            .ui-jqgrid > .ui-jqgrid-view a {
                color: #428bca;
                font-weight: bolder;
            }
</style>

@*karri#205*@
<style type="text/css">
    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    }
</style>

@*karri#205*@
<div class="container" style="width:1397px; border:groove;">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-3" align="left" style="margin-left:-59px">
            Project Name
        </div>
        <div class="col-lg-3" style="margin-left:-59px">
            Production Type
        </div>
        @* Added by siddesh #265*@
        <div class="col-lg-2" style="margin-left:-59px;">
            FHA Number
        </div>

        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <h5>Search Filters:</h5>
        </div>
        <div class="col-lg-3" align="left">
            <input type="text" id="ddlProjName" value="@ViewData["BindingProjName"]" class="form-control" style="width:228px; margin-left:-116px;" />
        </div>
        <div class="col-lg-3" align="left">
            <input type="text" id="ddlProductionTaskType" value="@ViewData["BindingProdTaskType"]" class="form-control" style="width:236px;margin-left:-154px;" />
        </div>
        @* Added by siddesh #265*@
        <div class="col-lg-3" align="left">
            <input type="text" id="ddlFHANumbers" value="@ViewData["BindingFHANumber"]" class="form-control" style="width:220px;margin-left:-220px;" />
        </div>
        <div class="col-lg-2" align="left" style="margin-top:-35px;margin-left:765px;">
            <input type="button" class="btn btn-default" value="Search" onclick="FilterResults()" />
        </div>
        <div class="col-lg-2" align="left" style="margin-top:-35px;margin-left:1117px;">
            <input type="button" class="btn btn-default" value="Reset" onclick="ResetFilterResults()" />
        </div>
    </div>
</div>

@*karri#205*@
<script>

    var autocompleteTextBox = $('#ddlProjName');

    var possibleValues = @Html.Raw(Json.Encode(ViewBag.ProjNamesList));
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>

@*karri#205*@
<script>

    @*var autocompleteTextBox = $('#ddlProjName');
    var possibleValues = @Html.Raw(Json.Encode(ViewBag.FHAList));*@

    var filtertextbox2 = $('#ddlProductionTaskType');
    var filterbox2Possiblevalues = @Html.Raw(Json.Encode(ViewBag.ProdTypeList));
</script>
@* Added by siddesh #265*@
<script>
    var filtertextbox3 = $('#ddlFHANumbers');
    var filterbox3Possiblevalues = @Html.Raw(Json.Encode(ViewBag.FHAnumberList));
</script>

<script src="/Scripts/Shared/autocomplete_filter2.js"></script>
@* Added by siddesh #265*@
<script src="~/Scripts/Shared/autocompleteFHAnumberlist.js"></script>

    <div id="MyTask">     
        <table id="LendersMyTask"></table>
        <div id="pager"></div>

    </div>
    <div id='dialogDiv' class='modal fade in'>
        <div id='dialogContent'></div>
    </div>
    <script type="text/javascript">

    $(document).ready(function () {
        "use strict";

        var $grid = $("#LendersMyTask");
        $grid.jqGrid({

            url: '@Url.Action("GetMyTasks","ProductionMyTask")',
            datatype: 'json',
            colNames: ['FhaRequestInstanceId', 'ParentChildInstanceId', 'StatusId', 'ProductionTaskType', 'FhaRequestType', 'Task Name', 'Project Name', 'Status', 'Lender', 'Type', 'Assigned To', 'Last updated', 'Comments', 'Duration', 'Ready for Application'],
            colModel: [
                   {
                       name: 'FhaRequestInstanceId', index: 'FhaRequestInstanceId', hidden: true, width: 55
                   },
                    {
                        name: 'ParentChildInstanceId', index: 'ParentChildInstanceId', hidden: true, width: 55
                    },
                    {
                        name: 'StatusId', index: 'StatusId', hidden: true, width: 55
                    },
                   {
                       name: 'ProductionTaskType', index: 'ProductionTaskType', width: 150, align: 'left'
                   },
                   {
                       name: 'FhaRequestType', index: 'FhaRequestType', hidden: true, width: 55
                   }
                   ,
                 {
                     name: "TaskName", index: "TaskName", width: 250, align: 'left', sortable: true, type: 'link',
                     cellattr: function (cellvalue, options, rowObject) {
                         if (rowObject.TaskName != null) {

                             return ' style=" text-decoration: underline;Color:blue"';
                         }
                     },
                     formatter: function (cellvalue, options, rowObject) {
                         if (rowObject.TaskName == null) {
                             return "NA";
                         }
                         else {                             
                             if (rowObject.ProductionTaskType === "FHA# REQUEST") {
                                 //debugger;
                                 return '<a href="/ProductionMyTask/GetProductionTaskDetail?parentChildInstanceId=' + (rowObject.ParentChildInstanceId) + '&fhaRequestType=' + (rowObject.FhaRequestType) + '">' + rowObject.TaskName + '</a>';
                             } else {
                                 return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.ParentChildInstanceId) + '">' + rowObject.TaskName + '</a>';
                             }


                         }
                     }

                 },
                 {
                     name: 'ProjectName', index: 'ProjectName', width: 150, align: 'left'
                 },
                //{ name: 'name', index: 'name asc, invdate', width: 100 },
                {
                    name: 'Status', index: 'Status', width: 70,

                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.StatusId === 17) {
                            return "<img src=\"../Content/images/pause.png\" />";
                        }

                        else if (rowObject.StatusId === 20) {
                            return "<img src=\"../Content/images/play.png\" />";
                        }
                        else if (rowObject.StatusId === 21) {
                            return "<img src=\"../Content/images/stop.png\" />";
                        }

                        else if (rowObject.StatusId === 18 || rowObject.StatusId === 16) {
                            if ('@RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName)' === "True" && rowObject.StatusId === 18) {
                                return "<img src=\"../Content/images/pause.png\" />";
                            }
                            return "<img src=\"../Content/images/play.png\" />";
                        }
                        else {
                            return "<img src=\"../Content/images/stop.png\" />"
                        }


                    }
                },
                { name: 'LenderName', index: 'LenderName', width: 200 },
                { name: 'ProductionType', index: 'ProductionType', width: 150 },
                { name: 'AssignedTo', index: 'AssignedTo', width: 200 },
                { name: 'LastUpdated', index: 'LastUpdated', width: 130, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                   {
                       name: 'Comments', index: 'Comments', width: 90,
                       formatter: function (cellvalue, options, rowObject) {
                           if (rowObject.ProductionTaskType === "FHA# REQUEST") {
                               return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.FhaRequestInstanceId + "\",\"" + rowObject.FhaRequestType + "\")';></span>";
                           } else {
                               return "";
                           }
                       }
                   },



               { name: 'DurationDays', index: 'DurationDays', width: 80 },

            {
                name: 'IsReadyForApplication', index: 'IsReadyForApplication', width: 200, formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.FhaRequestType == 4) {
                        if (rowObject.IsReadyForApplication == 'Yes') {
                            return '<p style="Background-color: #4CAF50;"><Strong>' + rowObject.IsReadyForApplication + '</Strong></p>';
                        }
                        else {
                            return '<p style="Background-color: #d9534f;"><Strong>' + rowObject.IsReadyForApplication + '</Strong></p>';
                        }
                    }

                    else {
                        return '';
                    }
                }
            }
            ],
            pager: "#pager",
            rowNum: 40,
            rowList: [10, 20, 30, 40, 50],

            rownumbers: true,
            loadonce: false,
            caption: "Production My Task",
            height: "500px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            sortname: 'name',
            sortorder: 'asc',
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            width: 750,
            grouping: true,
            groupingView: {
                groupField: ["ProductionTaskType"],
                groupColumnShow: [false],
                groupText: [
                            "Production Type: <b>{0}</b>"
                ],
                groupOrder: ["desc"],
                groupSummary: [false],
                groupCollapse: false,
                groupDataSorted: true
            },

            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },

            //scroll: 1,
            onSelectRow: function (rowid) {

                return false;
            },

        });

        $grid.jqGrid("navGrid", "#pager",
        { add: false, edit: false, del: false }, {}, {}, {},
        { multipleSearch: false, multipleGroup: false });
        $('#LendersMyTask').jqGrid('setGridWidth', '1400');

    });

    function comments(fhaRequestInstanceId, requestType) {
        $('#dialogContent').load('@Url.Action("GetComments","ProductionMyTask")', { fhaRequestId: fhaRequestInstanceId, type: requestType }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }
    </script>

@*karri#205*@
<script>
    function FilterResults() {

        var lookupprojname = document.getElementById("ddlProjName").value;
        var lookupprodtype = document.getElementById("ddlProductionTaskType").value;
     @* Added by siddesh #265*@  
        var lookupFHAnumber = document.getElementById("ddlFHANumbers").value;

        location.href = '@Url.Action("Index", "ProductionMyTask")?projName=' + lookupprojname + '&&prodTaskType=' + lookupprodtype +'&&FHANumbers=' + lookupFHAnumber;
        

        @*location.href = '@Url.Action("MyTasks", "Task")?var1=' + firstname + '&name=' + username;*@
    }
    // Implemented by hareesh
    function ResetFilterResults()
    {
        var lookupprojname = document.getElementById("ddlProjName").value;
        var lookupprodtype = document.getElementById("ddlProductionTaskType").value;
        @* Added by siddesh #265*@
        var lookupFHAnumber = document.getElementById("ddlFHANumbers").value;
        location.href = '@Url.Action("Index", "ProductionMyTask")';
        //alert();

    }
</script>