﻿@model UploadStatusModelUI
<div class="container-fluid" style="width:960px;">
    <div class="row">
        <div class="col-md-8">
            <span style="float:right;margin-top:-15px;" class="content-wrapper">
                @if (Model.UploadStatuses.Count > 0 && !string.IsNullOrEmpty(ViewBag.ExcelExportAction))
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
                }
                @if (Model.UploadStatuses.Count > 0 && !string.IsNullOrEmpty(ViewBag.PrintAction) && Core.WebUiConstants.ShowPrintIcon)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
                }
            </span>
            @Html.Partial("_UploadStatusGrid", Model.UploadStatuses)
        </div>
        <div class="col-md-4">
            @Html.Partial("_UploadStatusPie", Model.ChartModel)
        </div>
    </div>
</div>
