﻿@using HUDHealthcarePortal.BusinessService
@using HUDHealthcarePortal.BusinessService
@model List<UploadStatusDetailModel>
@{
    ViewBag.Title = "Upload Status Detail";
}
<style type="text/css">
    .webGrid .descriptLeft {
        width: 350px;
        text-align: left;
    }

    .webGrid .descriptNum {
        width: 120px;
        text-align: right;
    }
</style>
<script type="text/javascript">
    $(document).ready(
        function () {
            styleGrid();

            var selectedquarter = '@TempData["SelectedQuarter"]';
            var receivedcnt = '@TempData["Received"]';
            var missingcnt = '@TempData["Missing"]';
            var strValue = selectedquarter.split("/");
            var reportingPeriod = "";
            if (strValue.length > 0) {
                if (strValue[0] == "3") {
                    reportingPeriod = "Q1 " + strValue[1];
                } else if (strValue[0] == "6") {
                    reportingPeriod = "Q2 " + strValue[1];
                } else if (strValue[0] == "9") {
                    reportingPeriod = "Q3 " + strValue[1];
                } else if (strValue[0] == "12") {
                    reportingPeriod = "Q4 " + strValue[1];
                }
            }
            var labelValue = $("#reportingPeriodLabel").text() + reportingPeriod;
            $("#reportingPeriodLabel").text(labelValue);
            var receivedLabelValue = $("#reportingReceivedLabel").text() + receivedcnt;
            $("#reportingReceivedLabel").text(receivedLabelValue);
            var missingLabelValue = $("#reportingMissingLabel").text() + missingcnt;
            $("#reportingMissingLabel").text(missingLabelValue);
        }
    );

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }
</script>
<div >
    @if (TempData["SelectedQuarter"] != null)
    {
        @Html.Label("Reporting Period: ", new { id = "reportingPeriodLabel", style = "padding-left: 5px;" })
    }
    @if (TempData["Received"] != null)
    {
        @Html.Label("Received: ", new { id = "reportingReceivedLabel", style = "padding-left: 5px;" })
    }
    @if (TempData["Missing"] != null)
    {
        @Html.Label("Missing: ", new { id = "reportingMissingLabel", style = "padding-left: 5px;" })
    }
    <div style="float:right;margin-right:0px; margin-bottom: 5px;" class="content-wrapper">
        @if (Model.Count() > 0 && !string.IsNullOrEmpty(ViewBag.ExcelExportAction))
        {
            @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
        }
        @if (Model.Count() > 0 && !string.IsNullOrEmpty(ViewBag.PrintAction) && Core.WebUiConstants.ShowPrintIcon)
        {
            @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
        }
    </div>
</div>
@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 12,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    grid.Pager(WebGridPagerModes.NextPrevious);}
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("Lender_Name", "Lender Name", style: "descriptLeft"));
        gridColumns.Add(grid.Column("ProjectName", "Project Name", style: "descriptLeft"));
        gridColumns.Add(grid.Column("FHANumber", "FHA Number", style: "descriptNum"));
        gridColumns.Add(grid.Column("UserName", "Uploaded by", style: "descriptNum"));
        gridColumns.Add(grid.Column("DateInserted", "Uploaded on", (item) => ((System.DateTime?)item.DateInserted).ToMyTimeFromUtc(), style: "descriptNum"));
        gridColumns.Add(grid.Column("ReceivedYN", "Received", style: "descriptNum"));
    }
    @if (Model.Count > 0)
    {
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
            //displayHeader: Model.Count > 0 ? true : false,
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",
                columns: gridColumns.ToArray())
    }
    else
    {
        <p style="margin-left:20px;">@(string.IsNullOrEmpty(ViewBag.EmptyMessage) ? "No data found." : @ViewBag.EmptyMessage)</p>
    }
</div>
