﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - HUD Healthcare Portal</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")     
        
    </head>
    <body>
            <header>
                <div style="min-width: 1024px; position: relative;">
                    <div class="center-hud-image">
                        <table style=" width: 1000px">
                            <tr>
                                <td>
                                    <img src="~/Images/HUD_Header_Logo.jpg" />
                                </td>
                                <td></td>
                                <td style="text-align:right;">
                                    <div class="top-row-label">
                                        Version @Html.CurrentVersion()
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div class="center-content-login">
                    @RenderBody()
                    </div>
                </section>
        </div>
        <br />
        <br />
    <br/>
        <br />
        <br />
       
        <footer>
            <div class="content-wrapper">
                <table >
                    <tr>
                        <td>
                            <img src="~/Images/LineHCP.jpg" />
                        </td>
                    </tr>
                    <br />

                    <tr style="text-align:center">
                        <td>
                            <p>Powered by Peniel Solutions LLC - @DateTime.Now.ToLongDateString()</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <span id="siteseal">
                                <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=9k5NI2uZ1R3LKAISpVyHr7o0BBzHhe8tfLBHuHrgkqqMJQBraGSzDJRQ3zfQ"></script>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </footer>

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
</body>
</html>
