﻿@using HUDHealthcarePortal.BusinessService
@using System.Collections.Generic
@using System.Linq
<style type="text/css">
    .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .nav {
        border: 1px solid #0C1D7D;
        background-color: #0C1D7D;
    }

        .nav > li > a {
            display: inline;
            color: #fff;
            font-size: 12px;
        }

            .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active, .nav > li > a:visited {
                text-decoration: none;
                background-color: transparent;
                opacity: 1;
                visibility: visible;
                z-index: 250;
            }

        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background-color: transparent;
        }

    .dropdown-menu > li > a {
        font-size: 12px;
    }
    /*$bgDefault : #e74c3c; $bgHighlight : #c0392b; $colDefault : #ecf0f1; $colHover : #ffbbbc;*/
    /* navbar */

    /* title */
    .navbar-default .navbar-brand {
        color: #777;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5E5E5E;
        }
    /* link */
    .navbar-default .navbar-nav > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #333;
        }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        /*background-color: #D5D5D5;*/
        background-color: #5E5E5E;
    }
    /* caret */
    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #777;
        border-bottom-color: #777;
    }

    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #333;
        border-bottom-color: #333;
    }

    .navbar-default .navbar-nav > .open > a .caret,
    .navbar-default .navbar-nav > .open > a:hover .caret,
    .navbar-default .navbar-nav > .open > a:focus .caret {
        border-top-color: #555;
        border-bottom-color: #555;
    }
    /* mobile version */
    .navbar-default .navbar-toggle {
        border-color: #DDD;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #DDD;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #CCC;
        }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }
</style>

<script>

    var intervalID;

    function showTime() {
        //alert(@ViewData["userid"]);
       // var data = new FormData();
        //data.append("userid", @ViewData["userid"]);

        clearInterval(intervalID);

        $.ajax({
            url: '@Url.Action("getMyHDNotifications", "HelpDesk")',
            //data: data,
            contentType: false,
            dataType: 'json',
            processData: false,
            cache: false,
            async: true,
            type: 'POST',
            enctype: 'multipart/form-data',

            success: function (result) {

                if (result.returnvalue) {

                    if (result.data != "")
                        alert(result.data);
                    //status = true;
                }
                else {
                    alert("Please contact Help Desk");
                    //status = false;
                }

                intervalID = setInterval(showTime, 30000);
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }

    function stopClock() {
        clearInterval(intervalID);
    }

    var intervalID = setInterval(showTime, 30000);


    //setTimeout(myFunction, 60000);
    //function myFunction() {
    //    setTimeout(myFunction, 60000);
    //   alert('Hello');
    //}

</script>

@helper  BuildMenu()
{
//  var listMenuRestricts =   RoleManager.GetMenuRestrictedMenuLenders();
var menus = new List<MenuNodeModel>();
menus.Add(new MenuNodeModel("Home", "Home", "Index", "", "All", 1));
menus.Add(new MenuNodeModel("232 Healthcare Portal Training", "Home","RedirectToTraining","Home", "All", 2));
menus.Add(new MenuNodeModel("Loan Servicing documents, checklist and instructions", "Home", "RedirectToDocuments",  "Home", "All", 2));
menus.Add(new MenuNodeModel("News", "Rss", "Index", "Home", "All", 2));
menus.Add(new MenuNodeModel("Landing", "Home", "Landing", "Home", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,Attorney,Reviewer", 1));
menus.Add(new MenuNodeModel("Log Out", "Account", "LogOff", "Home", "All", 2));
//menus.Add(new MenuNodeModel("Active Users", "AWSRerports", "GetReports", "Home", "HUDAdmin", 2));
//menus.Add(new MenuNodeModel("Active Users", "AWSRerports", "GetReports", "Home", "HUDAdmin", 2));// HDReports


//menus.Add(new MenuNodeModel("Tasks", "Task", "MyTasks", "", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,LenderAdmin,LenderAccountManager,BackupAccountManager,AccountExecutive,LenderAccountRepresentative,Servicer,OperatorAccountRepresentative,Attorney,Reviewer,InternalSpecialOptionUser", 1));
//menus.Add(new MenuNodeModel("My Tasks", "Task", "MyTasks", "Tasks", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,LenderAdmin,LenderAccountManager,BackupAccountManager,AccountExecutive,LenderAccountRepresentative,Servicer,OperatorAccountRepresentative,Attorney,Reviewer,InternalSpecialOptionUser", 2));
//menus.Add(new MenuNodeModel("My ReAssigned Tasks", "TaskReAssignment", "MyReAssignmentTasks", "Tasks", "AccountExecutive,InternalSpecialOptionUser", 3));

menus.Add(new MenuNodeModel("Tasks", "Task", "MyTasks", "", "SuperUser,Administrator,HUDAdmin,WorkflowManager,LenderAdmin,LenderAccountManager,BackupAccountManager,AccountExecutive,LenderAccountRepresentative,Servicer,OperatorAccountRepresentative,Attorney,Reviewer,ProductionUser,ProductionWlm,InspectionContractor,InternalSpecialOptionUser", 1));
menus.Add(new MenuNodeModel("My Asset Management Tasks", "Task", "MyTasks", "Tasks", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,LenderAdmin,LenderAccountManager,BackupAccountManager,AccountExecutive,LenderAccountRepresentative,Servicer,OperatorAccountRepresentative,Attorney,InternalSpecialOptionUser", 2));
menus.Add(new MenuNodeModel("My ReAssigned Tasks", "TaskReAssignment", "MyReAssignmentTasks", "Tasks", "AccountExecutive,InternalSpecialOptionUser", 2));
menus.Add(new MenuNodeModel("My Production Tasks", "ProductionMyTask", "Index", "Tasks", "ProductionWlm,LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,ProductionUser,Reviewer,ProductionWlm,InspectionContractor", 2));

//uncomment this for internal external group task 
//menus.Add(new MenuNodeModel("Group Tasks", "GroupTask", "Index", "", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,AccountExecutive,HUDAdmin,HUDDirector,InternalSpecialOptionUser,InternalAccountExecutive", 1));
menus.Add(new MenuNodeModel("Group Tasks", "GroupTask", "Index", "", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 1));
menus.Add(new MenuNodeModel("My Asset Management Group Tasks", "GroupTask", "Index", "Group Tasks", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));
menus.Add(new MenuNodeModel("My Production Group Tasks", "ProductionGroupTask", "Index", "Group Tasks", "LenderAccountManager,InspectionContractor,BackupAccountManager,LenderAccountRepresentative", 2));
//menus.Add(new MenuNodeModel("Intnal/External Group Tasks", "InternalExternalGroupTask", "Index", "Group Tasks", "AccountExecutive,HUDAdmin,HUDDirector,InternalSpecialOptionUser,InternalAccountExecutive", 2));


menus.Add(new MenuNodeModel("Financial Analysis", "FormUpload", "Index", "", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,LenderAdmin,LenderAccountManager,BackupAccountManager,AccountExecutive,LenderAccountRepresentative,InternalSpecialOptionUser,ProductionWlm", 1));
//Hidden as per HUD requirement. Plesae don't remove it as it might be added back later.
//Removed roles for Batch File Upload: ,SuperUser,Administrator,LenderAdmin,Servicer
//Removed roles for BatchFileUPload,ServicerFOrm and MyUploadReport:Administrator,HUDAdmin,AccountExecutive,Attorney,HUDDirector,WorkflowManager - Per April for Demo: 11/4/2016
menus.Add(new MenuNodeModel("Batch File Upload", "ExcelUpload", "ExcelUploadView", "Financial Analysis", "SuperUser,BackupAccountManager,LenderAccountManager,LenderAccountRepresentative,Servicer", 2));
//   menus.Add(new MenuNodeModel("Servicer/Operator Data Input Form", "FormUpload", "Index", "Financial Analysis", "SuperUser,LenderAdmin,LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,Servicer,OperatorAccountRepresentative", 2));
menus.Add(new MenuNodeModel("My Upload Report", "ExcelUploadView_", "ReportExcelUpload", "Financial Analysis", "SuperUser,LenderAdmin,LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,Servicer", 2));
menus.Add(new MenuNodeModel("Upload Status", "ExcelUploadView_", "UploadStatusReport", "Financial Analysis", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,LenderAdmin,LenderAccountManager,BackupAccountManager,AccountExecutive,LenderAccountRepresentative,Servicer,Attorney,InternalSpecialOptionUser", 2));

//karrinew
menus.Add(new MenuNodeModel("My Reports", "ExcelUploadView_", "ViewExcelUploadPageSort", "Financial Analysis", "All", 2));
//  menus.Add(new MenuNodeModel("Project Report", "ExcelUploadView_", "ViewExcelUploadPageSort", "My Reports", "All", 3));

menus.Add(new MenuNodeModel("My Project Detail Reports", "ExcelUploadView_", "ViewExcelUploadPageSort", "Financial Analysis", "All", 2));

menus.Add(new MenuNodeModel("Project Detail Report", "ProjectDetailReport", "Index", "My Project Detail Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,LenderAdmin,LenderAccountManager,BackupAccountManager,AccountExecutive,LenderAccountRepresentative,InternalSpecialOptionUser", 3));
// menus.Add(new MenuNodeModel("Project Exception Report", "ProjectDetailReport", "IndexError", "My Project Detail Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,AccountExecutive,InternalSpecialOptionUser", 3));
//menus.Add(new MenuNodeModel("Point and Time Report", "ProjectDetailReport", "IndexPT", "My Project Detail Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,AccountExecutive,WorkflowManager,InternalSpecialOptionUser", 3));
//menus.Add(new MenuNodeModel("AE Current Quarter Report", "ProjectDetailReport", "IndexCurrentQuarter", "My Project Detail Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,AccountExecutive", 3));

// menus.Add(new MenuNodeModel("Workload Mgmt Report", "ProjectReport", "IndexProject", "My Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager", 3));
// menus.Add(new MenuNodeModel("Large Loan Report", "ProjectReport", "IndexLargeLoan", "My Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,AccountExecutive", 3));
//menus.Add(new MenuNodeModel("Ratio Exceptions Report", "ProjectReport", "IndexRatioExceptions", "My Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,AccountExecutive", 3));

//Missing Project Report now visible to Admin/Dir/AE/WLM
//menus.Add(new MenuNodeModel("Missing Project Report", "MissingProjectReport", "Index", "My Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,AccountExecutive", 3));
//Missing Project Report hidden of AE/WLM/Dir - HUD Request for Lender Testing
// menus.Add(new MenuNodeModel("Missing Project Report", "MissingProjectReport", "Index", "My Reports", "SuperUser,Administrator,HUDAdmin", 3));
//menus.Add(new MenuNodeModel("Risk Summary", "Chart", "Index", "My Reports", "Administrator,HUDAdmin,SuperUser,HUDDirector,Attorney", 3));
//menus.Add(new MenuNodeModel("Property With Multiple Loans", "MultiLoan", "Index", "My Reports", "SuperUser,Administrator,HUDAdmin", 3));
//menus.Add(new MenuNodeModel("Portfolio Risk Summary", "Portfolio", "Index", "My Reports", "SuperUser,Administrator,HUDAdmin", 3));
// menus.Add(new MenuNodeModel("Ad Hoc", "AdhocReport", "Index", "My Reports", "SuperUser,Administrator,HUDAdmin", 3));
//Hiding Asset Management from Production Release 06/26/2015


menus.Add(new MenuNodeModel("Asset Management", "Home", "NotFound", "", "SuperUser,Administrator,BackupAccountManager,HUDAdmin,AccountExecutive,Attorney,HUDDirector,WorkflowManager,LenderAccountManager,LenderAccountRepresentative,Servicer,InternalSpecialOptionUser,InternalAccountExecutive", 1));
menus.Add(new MenuNodeModel("Reserve for Replacement Submission Form", "ReserveForReplacement", "Index", "Asset Management", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,Servicer", 2));
menus.Add(new MenuNodeModel("Non-Critical Repair", "Home", "NotFound", "Asset Management", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));
menus.Add(new MenuNodeModel("Non-Critical Repair Request Escrow Form", "NonCriticalRepairsRequest", "Index", "Non-Critical Repair", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));


menus.Add(new MenuNodeModel("Non-Critical Repair Request Escrow Extension Form", "NonCriticalRequestExtension", "Index", "Non-Critical Repair", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
// menus.Add(new MenuNodeModel("Project Action Form", "ProjectActionRequest", "Index", "Asset Management", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,Servicer", 2));

menus.Add(new MenuNodeModel("Project Action Request Form", "OPAForm", "Index", "Asset Management", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,Servicer", 3));
//menus.Add(new MenuNodeModel("Test Document Checklist Form", "TestChecklistUpload", "Index", "Asset Management", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,Servicer", 2));

//Internal External Task

//menus.Add(new MenuNodeModel("Create Task", "InternalExternalTask", "CreateTask", "Asset Management", "WorkflowManager,AccountExecutive,HUDAdmin,HUDDirector,InternalSpecialOptionUser,InternalAccountExecutive", 2));

menus.Add(new MenuNodeModel("Lender PAM Report", "LenderPAMReport", "Index", "Asset Management", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));// User Story 1904

menus.Add(new MenuNodeModel("PAM Report", "PAMReport", "Index", "Asset Management", "WorkflowManager,AccountExecutive,HUDAdmin,HUDDirector,InternalSpecialOptionUser,InternalAccountExecutive", 3));


menus.Add(new MenuNodeModel("Production", "Home", "NotFound", "", "ProductionWlm,Administrator,HUDAdmin,WorkflowManager,LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,ProductionUser,Reviewer,InspectionContractor,HUDAdmin,AccountExecutive", 1));
menus.Add(new MenuNodeModel("Temporary Task Reassignment", "ProdTaskReassignment", "Index", "Production", "HUDAdmin,ProductionWlm", 2));
menus.Add(new MenuNodeModel("FHA# Request", "FHARequest", "Index", "Production", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));
menus.Add(new MenuNodeModel("Initiate IRR Request", "FHARequest", "InitiateIrrRequest", "Production", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));

//menus.Add(new MenuNodeModel("Lender Group Tasks", "ProductionGroupTask", "Index", "Production", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));
//menus.Add(new MenuNodeModel("My Production Tasks", "ProductionMyTask", "Index", "Production", "ProductionWlm,LenderAccountManager,BackupAccountManager,LenderAccountRepresentative,ProductionUser,Reviewer", 2));
menus.Add(new MenuNodeModel("Production Queue", "ProductionQueue", "Index", "Production", "ProductionWlm,Administrator,HUDAdmin,ProductionUser,WorkflowManager", 2));
menus.Add(new MenuNodeModel("Application Process", "ProductionApplication", "Index", "Production", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));
menus.Add(new MenuNodeModel("Construction Application Process", "ProductionConstruction", "Index", "Production", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));
menus.Add(new MenuNodeModel("Single Stage", "ProductionConstruction", "SingleStageConstruction", "Construction Application Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
menus.Add(new MenuNodeModel("Initial Stage", "ProductionConstruction", "InitialStageConstruction", "Construction Application Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
menus.Add(new MenuNodeModel("Final Stage", "ProductionConstruction", "FinalStageConstruction", "Construction Application Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));

//   menus.Add(new MenuNodeModel("Initiate Inspection Report", "Home", "Index", "Production", "InspectionContractor", 3));
menus.Add(new MenuNodeModel("Initiate Inspection Report", "ProductionConstructionMgmnt", "Index", "Production", "InspectionContractor", 3));

menus.Add(new MenuNodeModel("Closing Process", "ProductionClosing", "Index", "Production", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));
menus.Add(new MenuNodeModel("Non-Construction Draft Closing", "ProductionClosing", "DraftClosing", "Closing Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
//menus.Add(new MenuNodeModel("Non-Construction Executed Closing", " ClosingForAllExceptConstruction", "ClosingForAllExceptConstruction", "Closing Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
menus.Add(new MenuNodeModel("Non-Construction Executed Closing", "ProductionClosing", "ClosingForAllExceptConstruction", "Closing Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
menus.Add(new MenuNodeModel("Construction Initial Closing", "ProductionClosing", "ClosingForConstructionInsuredAdvances", "Closing Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
menus.Add(new MenuNodeModel("Construction Final Closing", "ProductionClosing", "ClosingforInsuredUponCompletion", "Closing Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
//menus.Add(new MenuNodeModel("Pam Filters", "ProdPAM", "HUDPamReportFilters", "Closing Process", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 3));
menus.Add(new MenuNodeModel("Amendments", "Amendments", "Index", "Production", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));

//menus.Add(new MenuNodeModel("Project Detail Report", "ProjectDetailReport", "Index", "My Project Detail Reports", "SuperUser,Administrator,HUDAdmin,HUDDirector,WorkflowManager,LenderAdmin,LenderAccountManager,BackupAccountManager,AccountExecutive,LenderAccountRepresentative,InternalSpecialOptionUser", 3));


menus.Add(new MenuNodeModel("Production PAM Report", "ProdPAM", "PAMIndex", "Production", "ProductionUser,ProductionWlm,HUDAdmin,AccountExecutive", 2));
//menus.Add(new MenuNodeModel("Production PAM Report", "ProdPAM", "Index", "Production", "ProductionUser,ProductionWlm,HUDAdmin,AccountExecutive", 2));
menus.Add(new MenuNodeModel("Loan Committee Scheduler", "LoanCommitteeScheduler", "Index", "Production", "ProductionUser,ProductionWlm,HUDAdmin", 2));
menus.Add(new MenuNodeModel("FHA# Aging Report", "FHARequest", "GetAgingFHAReport", "Production", "ProductionUser,ProductionWlm,HUDAdmin", 2));
menus.Add(new MenuNodeModel("Production Lender PAM Report", "ProdLenderPAM", "Index", "Production", "LenderAccountManager,BackupAccountManager,LenderAccountRepresentative", 2));
menus.Add(new MenuNodeModel("Data Download", "Adhoc", "Index", "Production", "HUDAdmin", 2));



menus.Add(new MenuNodeModel("Administration", "Account", "DoNothing", "", "All", 1));
menus.Add(new MenuNodeModel("Manage User", "Account", "ListUsers", "Administration", "SuperUser,Administrator,HUDAdmin,LenderAccountManager,BackupAccountManager", 2));
menus.Add(new MenuNodeModel("Register", "Account", "RegisterUserStep1", "Administration", "SuperUser,Administrator,HUDAdmin,LenderAccountManager,BackupAccountManager", 2));
menus.Add(new MenuNodeModel("Change Password", "Account", "ChangePasswordFromMenu", "Administration", "All", 2));
//karri;menu item for users to View/Save/Update the password hints
//30082019
//menus.Add(new MenuNodeModel("Set/View Password Hints", "Account", "ViewChangePasswordHints", "Administration", "All", 2));
menus.Add(new MenuNodeModel("Web Signature", "Account", "ChangeSignature", "Administration", "ProductionUser,ProductionWlm", 2));
menus.Add(new MenuNodeModel("R4R Change Approved Amount", "ReserveForReplacement", "R4RChangeApprovedAmount", "Administration", "HUDAdmin,SuperUser", 2));
//  menus.Add(new MenuNodeModel("Question Data Entry", "Account", "QuestionDataEntryIndex", "Administration", "SuperUser,Administrator,HUDAdmin,LenderAccountManager,BackupAccountManager", 2));
//   menus.Add(new MenuNodeModel("Data Entry Form", "Account", "DataEntryFormForQuestionsIndex", "Administration", "SuperUser,Administrator,HUDAdmin,LenderAccountManager,BackupAccountManager", 2));
menus.Add(new MenuNodeModel("Temporary Task Reassignment", "TaskReassignment", "Index", "Administration", "SuperUser,Administrator,HUDAdmin,WorkflowManager", 2));
//naveen
//menus.Add(new MenuNodeModel("Loans Data(Upload)", "Account", "UploadLaonasData11", "Administration", "All", 2));
//karri:#149
menus.Add(new MenuNodeModel("Help Desk", "HelpDesk", "Index", "", "All", 1));
menus.Add(new MenuNodeModel("Create Ticket", "HelpDesk", "CreateTicket", "Help Desk", "All", 2));
menus.Add(new MenuNodeModel("View Tickets", "HelpDesk", "GetMyTickets", "Help Desk", "All", 2));
menus.Add(new MenuNodeModel("View MyNotifications", "HelpDesk", "MyNotifications", "Help Desk", "All", 2));//HDNOTIFICATIONS
                                                                                                           //menus.Add(new MenuNodeModel("Help Desk Reports", "HelpDesk", "GetHelpDeskReports", "Help Desk", "All", 2));// HDReports
                                                                                                           //written by siddesh 28082019//
menus.Add(new MenuNodeModel("HelpDesk Reports", "HelpDesk", "GetHelpDeskReports", "Help Desk", "AccountExecutive,WorkflowManager,Attorney,InternalSpecialOptionUser,ProductionUser,ProductionWlm,Reviewer,Administrator,HUDAdmin,HUDDirector,SuperUser", 2));// HDReports


//karri??
menus.Add(new MenuNodeModel("Upload 232Portfolio", "Account", "Upload232PortFolio", "Administration", "SuperUser", 2));
//menus.Add(new MenuNodeModel("Upload R4R files", "ReserveForReplacement", "UploadR4RFiles", "Administration", "All", 2));
//menus.Add(new MenuNodeModel("Home", "Home", "Index", "", "All", 1));
//menus.Add(new MenuNodeModel("232 Healthcare Portal Training", "Home", "RedirectToTraining", "Home", "All", 2));

menus.Add(new MenuNodeModel("Reports", "AWSRerports", "Index",  "", "HUDAdmin", 1));


menus.Add(new MenuNodeModel("Active Users", "AWSRerports",  "GetReports", "Reports", "HUDAdmin", 2));
menus.Add(new MenuNodeModel("Loans Report", "AWSRerports", "LoansReport", "Reports", "HUDAdmin", 2));


menus.Add(new MenuNodeModel("Contact Us", "Home", "Index", "", "All", 1));

menus.Add(new MenuNodeModel("Contact Info", "Home", "Contact", "Contact Us", "All", 2));


//written on 07/05/2019
menus.Add(new MenuNodeModel("Upload Files", "Home", "Index", "", "All", 1));


    @:<div class="navbar" style="width:100%;"><div><ul class="nav nav-pills">

if (HUDHealthcarePortal.BusinessService.RoleManager.IsUserLenderRole(HUDHealthcarePortal.Core.UserPrincipal.Current.UserName) && HUDHealthcarePortal.BusinessService.RoleManager.IsMenuRestricted(HUDHealthcarePortal.Core.UserPrincipal.Current.LenderId.Value, "Asset Management"))
{
    menus.Remove(menus.Find(a => a.Title == "Asset Management"));
    menus.Remove(menus.Find(a => a.Title == "Reserve for Replacement Submission Form"));
    menus.Remove(menus.Find(a => a.Title == "Non-Critical Repair"));
    menus.Remove(menus.Find(a => a.Title == "Non-Critical Repair Request Escrow Extension Form"));
    menus.Remove(menus.Find(a => a.Title == "Project Action Request Form"));

}

if (RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName) && RoleManager.IsMenuRestricted(UserPrincipal.Current.LenderId.Value, "Production"))
{
    menus.Remove(menus.Find(a => a.Title == "Temporary Task Reassignment"));
    menus.Remove(menus.Find(a => a.Title == "Production PAM Report"));
    menus.Remove(menus.Find(a => a.Title == "FHA# Aging Report"));
    menus.Remove(menus.Find(a => a.Title == "Production Lender PAM Report"));
    menus.Remove(menus.Find(a => a.Title == "FHA# Request"));
    menus.Remove(menus.Find(a => a.Title == "Initiate IRR Request"));
    menus.Remove(menus.Find(a => a.Title == "Application Process"));
    menus.Remove(menus.Find(a => a.Title == "Construction Application Process"));
    menus.Remove(menus.Find(a => a.Title == "Closing Process"));
    menus.Remove(menus.Find(a => a.Title == "Amendments"));

}
if (RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName) && RoleManager.IsMenuRestricted(UserPrincipal.Current.LenderId.Value, "Tasks"))
{
    menus.Remove(menus.Find(a => a.Title == "My Production Tasks"));

}
// User Story 2118 Hide Menu Items from Lender for Jan 10


//Below code is to allow WLM to see Financial Analysis:Task 2305
if (RoleManager.IsAccountExecutiveOrWorkloadManagerRole(UserPrincipal.Current.UserName))
{
    //karri#168
    //menus.Remove(menus.Find(a => a.Title == "Financial Analysis"));
}
if (RoleManager.IsAccountExecutiveRole(UserPrincipal.Current.UserName))
{
    //karri#168
    //menus.Remove(menus.Find(a => a.Title == "Financial Analysis"));
}

//Allow the special Account Executive
//if (RoleManager.IsAccountExecutiveRole(UserPrincipal.Current.UserName) && UserPrincipal.Current.UserData.IsotherAe==false)
//{
//    menus.Remove(menus.Find(a => a.Title == "Production"));
//}

if (RoleManager.IsAccountExecutiveRole(UserPrincipal.Current.UserName) && UserPrincipal.Current.UserData.IsotherAe == true)
{
    menus.Remove(menus.Find(a => a.Title == "Tasks"));
    menus.Remove(menus.Find(a => a.Title == "Asset Management"));
}




if ((HttpContext.Current.Request.FilePath.Contains("WLMMissingProjectReportDetail") ||
        HttpContext.Current.Request.FilePath.Contains("AEMissingProjectReportDetail"))
    || HttpContext.Current.User.Identity.IsAuthenticated)
{
    //String[] roles = Roles.GetRolesForUser();        
    String[] roles = RoleManager.GetUserRoles(UserPrincipal.Current.UserName);
    var links = from item in menus
                where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                .Any(x => roles.Contains(x) || x == "All")
                select item;
    int menuLevel = 1;
    foreach (MenuNodeModel link in links)
    {
        link.TitleDisplay = link.Title;

        string url = Url.Action(link.Action, link.Controller);
       // string Uri = Url.Action("GetReports", "AWSRerports");

        var childrenLinks = from item in links
                            where link.MenuLevel == menuLevel && item.ParentNode == link.Title
                            select item;

        if (childrenLinks.Any())
        {
            // display the appropriate task count, ( unopened, reassigned) tasks
            if (link.Title == "Tasks")
            {
                int toalTaskCnt = 0;
                if (childrenLinks.Where(x => x.Title.ToLower().Equals("my tasks")).Count() > 0)
                {
                    var taskManager = new TaskManager();
                    int myUnopenedTaskCount = taskManager.GetMyUnOpenedTaskCount();
                    if(myUnopenedTaskCount > 0)
                    {
                        var childLink = childrenLinks.Where(x => x.Title.ToLower().Equals("my tasks")).FirstOrDefault();
                        childLink.TitleDisplay = string.Format("{0}({1})", childLink.Title, myUnopenedTaskCount);
                        toalTaskCnt += myUnopenedTaskCount;
                    }
                    else
                    {
                        childrenLinks.Where(x => x.Title.ToLower().Equals("my tasks")).FirstOrDefault().TitleDisplay = "My Tasks";
                    }
                }

                if (childrenLinks.Where(x => x.Title.ToLower().Equals("my asset management tasks")).Count() > 0)
                {
                    var taskManager = new TaskManager();
                    int myUnopenedTaskCount = taskManager.GetMyUnOpenedTaskCount();
                    if (myUnopenedTaskCount > 0)
                    {
                        var childLink = childrenLinks.Where(x => x.Title.ToLower().Equals("my asset management tasks")).FirstOrDefault();
                        childLink.TitleDisplay = string.Format("{0}({1})", childLink.Title, myUnopenedTaskCount);
                        toalTaskCnt += myUnopenedTaskCount;
                    }
                    else
                    {
                        childrenLinks.Where(x => x.Title.ToLower().Equals("my asset management tasks")).FirstOrDefault().TitleDisplay = "My Asset Management Tasks";
                    }
                }
                if (childrenLinks.Where(x => x.Title.ToLower().Equals("my reassigned tasks")).Count() > 0)
                {
                    var reassgnTaskManager = new TaskReAssignmentManager();
                    int myReassgnTaskCount = reassgnTaskManager.GetReAssignedTasksCountByUserName(UserPrincipal.Current.UserName);
                    if (myReassgnTaskCount > 0)
                    {
                        var childLink = childrenLinks.Where(x => x.Title.ToLower().Equals("my reassigned tasks")).FirstOrDefault();
                        childrenLinks.Where(x => x.Title.ToLower().Equals("my reassigned tasks")).FirstOrDefault().TitleDisplay = string.Format("{0}({1})", childLink.Title, myReassgnTaskCount);
                        toalTaskCnt += myReassgnTaskCount;
                    }
                    else
                    {
                        childrenLinks.Where(x => x.Title.ToLower().Equals("my reassigned tasks")).FirstOrDefault().TitleDisplay = "My ReAssigned Tasks";
                    }
                }
                if (childrenLinks.Where(x => x.Title == "My Production Tasks").Count() > 0)
                {
                    var queueManager = new BusinessService.Production.ProductionQueueManager();
                    int myUnopenedProdTaskCount = queueManager.GetMyOpenProdTasks();
                    if (myUnopenedProdTaskCount > 0)
                    {
                        var childLink = childrenLinks.Where(x => x.Title == "My Production Tasks").FirstOrDefault();
                        childLink.TitleDisplay = string.Format("{0}({1})", childLink.Title, myUnopenedProdTaskCount);
                        toalTaskCnt += myUnopenedProdTaskCount;
                    }
                    else
                    {
                        childrenLinks.Where(x => x.Title == "My Production Tasks").FirstOrDefault().TitleDisplay = "My Production Tasks";
                    }
                }
                if (toalTaskCnt > 0)
                {
                    link.TitleDisplay = string.Format("{0}({1})", link.Title, toalTaskCnt);
                }
                else
                {
                    link.TitleDisplay = link.Title;
                }
            }
            //if (link.Title == "Production")
            //{
            //    int toalTaskCnt = 0;               
            //    if (childrenLinks.Where(x => x.Title == "My Production Tasks").Count() > 0)
            //    {
            //        var queueManager = new BusinessService.Production.ProductionQueueManager();
            //        int myUnopenedTaskCount = queueManager.GetMyOpenProdTasks();
            //        if (myUnopenedTaskCount > 0)
            //        {
            //            var childLink = childrenLinks.Where(x => x.Title == "My Production Tasks").FirstOrDefault();
            //            childLink.TitleDisplay = string.Format("{0}({1})", childLink.Title, myUnopenedTaskCount);
            //            toalTaskCnt += myUnopenedTaskCount;
            //        }
            //        else
            //        {
            //            childrenLinks.Where(x => x.Title == "My Production Tasks").FirstOrDefault().TitleDisplay = "My Production Tasks";
            //        }
            //    }
            //    if (toalTaskCnt > 0)
            //    {
            //        link.TitleDisplay = string.Format("{0}({1})", link.Title, toalTaskCnt);
            //    }
            //    else
            //    {
            //        link.TitleDisplay = link.Title;
            //    }
            //}
                @:<li class="dropdown"><a class="dropdown-toggle" style="cursor:default;" data-toggle="dropdown" href="@url" >@link.TitleDisplay <b class="caret"></b></a>@DropDownMenu(childrenLinks, links, menuLevel + 1)</li>
            }

            if (link != links.Last())
            {
                @:<li class="divider-vertical"></li>
            }
        }
    }
    else
    {
        var links = from item in menus
                    where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                    .Any(x => new String[] { "All", "Anonymous" }.Contains(x))
                    select item;
        foreach (var link in links)
        {
            @:<li> @Html.ActionLink(link.Title, link.Action, link.Controller)</li>
     }
    }
    @:</ul></div></div>
}


@helper DropDownMenu(IEnumerable<MenuNodeModel> menuList, IEnumerable<MenuNodeModel> allMenu, int menuLevel)
{
    @:<ul class="dropdown-menu">
        foreach (MenuNodeModel menu in menuList)
        {
            if (menu.Title == "Separator")
            {
                @:<li class="divider"></li>
                continue;
    }

    string url = Url.Action(menu.Action, menu.Controller);
    var childrenLinks = from item in allMenu
                        where item.ParentNode == menu.Title && menu.MenuLevel == menuLevel
                        select item;

    var menuTitle = "";

    if (menu.Title == "My Tasks" || menu.Title == "My ReAssigned Tasks" || menu.Title == "My Production Tasks" || menu.Title == "My Asset Management Tasks")
    {
        menuTitle = menu.TitleDisplay;
    }
    else
    {
        menuTitle = menu.Title;
    }



    if (!childrenLinks.Any() && menu.Title != "232 Healthcare Portal Training" && menu.Title != "Loan Servicing documents, checklist and instructions" && menu.Title != "Active Users" && menu.Title != "Loans Report")
    {

                    @:<li><a href="@url">@menuTitle</a></li>

    }
   else if (menu.Title == "Active Users")
    {
            @:
            <li><a href="@Url.Action("GetReports", "AWSRerports" )" target="_blank">@menuTitle</a></li>
    }

  else  if (menu.Title == "Loans Report")
    {
            @:
            <li><a href="@Url.Action("LoansReport", "AWSRerports" )" target="_blank">@menuTitle</a></li>
    }
    else if (menu.Title == "232 Healthcare Portal Training")
    {

                   @:<li><a href="@url" target="_blank">@menuTitle</a></li>
            }
            else if (menu.Title == "Loan Servicing documents, checklist and instructions")
            {

                @:<li><a href="@url" target="_blank">@menuTitle</a></li>
            }
            else if (menu.Title == "News")
            {

                @:<li><a href="@url" target="_blank">@menuTitle</a></li>
            }

else
{
                @:<li class="dropdown-submenu"><a href="@url" class="inactiveLink">@menuTitle</a>@DropDownMenu(childrenLinks, allMenu, menuLevel + 1)</li>
            }
        }
        @:</ul>
}





@BuildMenu()



