﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h4 class="error">Sorry, an error occurred while processing your request.</h4>
</hgroup>

<div>
    @if (ViewData["ErrorId"] != null)
    {
        <p><b>Please go to the “Contact Us” tab on the menu bar and provide the error ID number:</b> <b class="error">@ViewData["ErrorId"]</b> <b> in the message when you submit the query.</b></p>        
        <p><b>Thank you for your patience!</b></p>
    }
</div>