﻿@model HUDHealthcarePortal.Model.AssetManagement.ReserveForReplacementFormModel

@{
    ViewBag.Title = "CreateTicket";
}
<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
@*<link href="../../Content/formUpload.css" rel="stylesheet">*@




<div>

    @*<div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">R4R Files Uploading Page</h4>

        </div>*@
    @*<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title" id="myModalLabel">R4R Files Uploading Page</h4>
        </div>*@



    <div class="row">

        <span class="col-md-4 text-left">
            @Html.Label("Files section marked with ", new { style = "color: black;" })
            @Html.Label("*", new { style = "color: red;" })
            @Html.Label(" are mandatory", new { style = "color: black;" })
        </span>
    </div>

    <div class="row">
        <div id="statusFill">
        </div>
        <span class="col-md-4 text-right">
            @Html.LabelFor(m => m.FileName9250, "Attach 9250:")
            @Html.Label("*", new { style = "color: red;" })
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.FileName9250, new { title = "", id = "FileName9250" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-4 text-right"></span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.File9250, new { type = "file", @class = "fileClass" })
            @Html.LabelFor(m => m.File9250, "Attach File", new { id = "File9250", @class = "fileClass", @style = "width: 100px !important; padding: 5px !important;" })
            <button type="button" class="filedelete" id="btnClearUploadFile9250" name="clearUpload_File9250" style="width: 100px !important; padding: 5px !important;">Remove File</button>

        </span>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div id="statusFill">
        </div>
        <span class="col-md-4 text-right">
            @Html.LabelFor(m => m.FileName9250A, "Attach 9250a:")
            @Html.Label("*", new { style = "color: red;" })
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.FileName9250A, new { title = "", id = "FileName9250A" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-4 text-right"></span>
        <span class="col-md-4">
            @*comented by naveen
                <input class="fileClass" id="file_File9250A" name="WP" type="file" value="File9250A">
                <label id="file_File9250A" for="file_File9250A" class="fileClass"><strong> Attach </strong></label>*@

            @Html.TextBoxFor(m => m.File9250A, new { type = "file", @class = "fileClass" })
            @Html.LabelFor(m => m.File9250A, "Attach File", new { id = "File9250A", @class = "fileClass", @style = "width: 100px !important; padding: 5px !important;" })
            <button type="button" class="filedelete" id="btnClearUploadFile9250a" name="clearUpload_File9250A" style="width: 100px !important; padding: 5px !important;">Remove File</button>
            @*comented by naveen<button class="DeleteClass" type="button" id="Deletefile_File9250A" name="Deletefile_File9250A" style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
        </span>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div id="statusFill">
        </div>
        <span class="col-md-4 text-right">
            @Html.LabelFor(m => m.FileNameInvoices, "Attach Invoice:")
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.FileNameInvoices, new { title = "", id = "FileNameInvoices" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-4 text-right"></span>
        <span class="col-md-4">
            @*comented by naveen<input class="fileClass" id="file_InvoiceFile" name="WP" type="file" value="InvoiceFile">
                <label id="file_InvoiceFile" for="file_InvoiceFile" class="fileClass"><strong> Attach </strong></label>*@
            @Html.TextBoxFor(m => m.InvoiceFile, new { type = "file", @class = "fileClass" })
            @Html.LabelFor(m => m.InvoiceFile, "Attach File", new { id = "InvoiceFile", @class = "fileClass", @style = "width: 100px !important; padding: 5px !important;" })
            <button type="button" class="filedelete" id="btnClearUploadInvoiceFile" name="clearUpload_InvoiceFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>
            @*comented by naveen<button class="DeleteClass" type="button" id="Deletefile_InvoiceFile" name="Deletefile_InvoiceFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
        </span>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div id="statusFill">
        </div>
        <span class="col-md-4 text-right">
            @Html.LabelFor(m => m.FileNameReceipts, "Attach Receipt:")
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.FileNameReceipts, new { title = "", id = "FileNameReceipts" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-4 text-right"></span>
        <span class="col-md-4">
            @*comented by naveen<input class="fileClass" id="file_ReceiptFile" name="WP" type="file" value="ReceiptFile">
                <label id="file_ReceiptFile" for="file_ReceiptFile" class="fileClass"><strong> Attach </strong></label>*@
            @Html.TextBoxFor(m => m.ReceiptFile, new { type = "file", @class = "fileClass" })
            @Html.LabelFor(m => m.ReceiptFile, "Attach File", new { id = "ReceiptFile", @class = "fileClass", @style = "width: 100px !important; padding: 5px !important;" })
            <button type="button" class="filedelete" id="btnClearUploadReceiptFile" name="clearUpload_ReceiptFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>
            @*comented by naveen<button class="DeleteClass" type="button" id="Deletefile_ReceiptFile" name="Deletefile_ReceiptFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
        </span>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div id="statusFill">
        </div>
        <span class="col-md-4 text-right">
            @Html.LabelFor(m => m.FileNameContracts, "Attach Contract:")
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.FileNameContracts, new { title = "", id = "FileNameContracts" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-4 text-right"></span>
        <span class="col-md-4">
            @*comented by naveen<input class="fileClass" id="file_ContractFile" name="WP" type="file" value="ContractFile">
                <label id="file_ContractFile" for="file_ContractFile" class="fileClass"><strong> Attach </strong></label>*@
            @Html.TextBoxFor(m => m.ContractFile, new { type = "file", @class = "fileClass" })
            @Html.LabelFor(m => m.ContractFile, "Attach File", new { id = "ContractFile", @class = "fileClass", @style = "width: 100px !important; padding: 5px !important;" })
            <button type="button" class="filedelete" id="btnClearUploadContractFile" name="clearUpload_ContractFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>
            @*comented by naveen<button class="DeleteClass" type="button" id="Deletefile_ContractFile" name="Deletefile_ContractFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
        </span>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div id="statusFill">
        </div>
        <span class="col-md-4 text-right">
            @Html.LabelFor(m => m.FileNamePictures, "Attach Picture:")
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.FileNamePictures, new { title = "", id = "FileNamePictures" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-4 text-right"></span>
        <span class="col-md-4">
            @*<input class="fileClass" id="file_PictureFile" name="WP" type="file" value="PictureFile">
                <label id="file_PictureFile" for="file_PictureFile" class="fileClass"><strong> Attach </strong></label>*@
            @Html.TextBoxFor(m => m.PictureFile, new { type = "file", @class = "fileClass" })
            @Html.LabelFor(m => m.PictureFile, "Attach File", new { id = "PictureFile", @class = "fileClass", @style = "width: 100px !important; padding: 5px !important;" })
            <button type="button" class="filedelete" id="btnClearUploadPictureFile" name="clearUpload_PictureFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>
            @*<button class="DeleteClass" type="button" id="Deletefile_PictureFile" name="Deletefile_PictureFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
        </span>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div id="statusFill">
        </div>
        <span class="col-md-4 text-right">
            @Html.LabelFor(m => m.FileNameOthers, "Attach Other:")
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.FileNameOthers, new { title = "", id = "FileNameOthers" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-4 text-right"></span>
        <span class="col-md-4">
            @*<input class="fileClass" id="file_OtherFile" name="WP" type="file" value="OtherFile">
                <label id="file_OtherFile" for="file_OtherFile" class="fileClass"><strong> Attach </strong></label>*@
            @Html.TextBoxFor(m => m.OtherFile, new { type = "file", @class = "fileClass" })
            @Html.LabelFor(m => m.OtherFile, "Attach File", new { id = "OtherFile", @class = "fileClass", @style = "width: 100px !important; padding: 5px !important;" })
            <button type="button" class="filedelete" id="btnClearOtherFile" name="clearUpload_OtherFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>
            @*<button class="DeleteClass" type="button" id="Deletefile_OtherFile" name="Deletefile_OtherFile" style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
        </span>
    </div>
    @*<span class="col-md-3 required">
            <button type="button" class="close" data-dismiss="modal">Close</button>
        </span>*@

</div>

<script type="text/javascript">
    function closeWin() {
        window.close();
    }



    $(document).ready(

    function () {
        $('#Describe').hide();
        $('#AttachmentsDescription').hide();
        $('#txtReserveAccountBalance').autoNumeric('init', { vMin: 0, mDec: 2 });
        $('#txtReserveAccountBalanceConfirm').autoNumeric('init', { vMin: 0, mDec: 2 });
        $('#txtPurchaseAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
        $('#txtRequestedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
        $('#txtApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });

        // CPark (7/26/2015) - Moved and Modified $("#btnSubmit").click(function () to end of file

        if ('@Model.IsDisplayAcceptPopup' == 'True' && $('#txtAgreementAccepted').val() != 'true') {
            $("#txtPopup").val(true);
            if ($('#txtAgreementAccepted').val() != 'true')
                $('#dialogCommon').dialog('open');
        }

        if ('@Model.IsAgreementAccepted' == 'True') {
            $('#dialogCommon').dialog('open');
        }

        $("#dialogCommon").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog("close");
            },
            open: function (event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == "False")
                    $(".ui-dialog-titlebar-close").hide();
            },
        });



        $('.datepicker').datepicker();

        $('#datePicker').change(function () {
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            }
        });
        $('#datePic').change(function () {
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            } else {
                var diff = (today - userSelectedDate) / 1000;
                var days = Math.floor((Math.abs(Math.floor(diff))) / (24 * 60 * 60));
                if (days > 30) {
                    alert("As of Date should not be greater than 30 days");
                    $(this).val('');
                }
            }
        });
        //Hide Servicer/Hud Remarks by default
        document.getElementById("servicerRemarks").style.display = 'none';
        document.getElementById("lineId").style.display = 'none';
        if ('@Model.IsLoggedInUserLender' == 'True') {
            if ('@Model.IsCommentEntered' == 'True') {
                document.getElementById("servicerRemarks").style.display = 'block';
                document.getElementById("lineId").style.display = 'block';
            }
            document.getElementById("ApprovedAmount").style.display = 'none';
        }



        $("#missingFhabtn").click(function () {
            $('#dialogMissingFha').dialog('open');
        });

        if ('@Model.IsDisplayFhaPopup' == 'True') {
            $('#dialogMissingFha').dialog('open');
        }

        if ('@Model.IsFhaNumberMissing' == 'True') {
            alert("Your submission has been accepted");
        }



        $("#File9250").change(function () {
            //debugger;
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            r4RFormAttachmentHelper.checkFileType(formAttachmentFileTypes, '#FileName9250', '#File9250');
            $("#spinner").hide();




        });

        $("#btnClearUploadFile9250").click(function () {
            $('#File9250').val(null);
            $('#FileName9250').val(null);
        });

        $("#File9250A").change(function () {
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            r4RFormAttachmentHelper.checkFileType(formAttachmentFileTypes, '#FileName9250A', '#File9250A');


        });

        $("#btnClearUploadFile9250a").click(function () {
            $('#File9250A').val(null);
            $('#FileName9250A').val(null);
        });

        $("#InvoiceFile").change(function () {
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            r4RFormAttachmentHelper.checkFileType(formAttachmentFileTypes, '#FileNameInvoices', '#InvoiceFile');

        });

        $("#btnClearUploadInvoiceFile").click(function () {
            $('#InvoiceFile').val(null);
            $('#FileNameInvoices').val(null);
        });

        $("#ReceiptFile").change(function () {
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            r4RFormAttachmentHelper.checkFileType(formAttachmentFileTypes, '#FileNameReceipts', '#ReceiptFile');


        });

        $("#btnClearUploadReceiptFile").click(function () {
            $('#ReceiptFile').val(null);
            $('#FileNameReceipts').val(null);
        });

        $("#ContractFile").change(function () {
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            r4RFormAttachmentHelper.checkFileType(formAttachmentFileTypes, '#FileNameContracts', '#ContractFile');


        });

        $("#btnClearUploadContractFile").click(function () {
            $('#ContractFile').val(null);
            $('#FileNameContracts').val(null);
        });

        $("#PictureFile").change(function () {
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            r4RFormAttachmentHelper.checkFileType(formAttachmentFileTypes, '#FileNamePictures', '#PictureFile');


        });

        $("#btnClearUploadPictureFile").click(function () {
            $('#PictureFile').val(null);
            $('#FileNamePictures').val(null);
        });

        $("#OtherFile").change(function () {
            //debugger;
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            r4RFormAttachmentHelper.checkFileType(formAttachmentFileTypes, '#FileNameOthers', '#OtherFile');
            var fileName = $("#OtherFile").val();
            // change function called twice on change of file.
            if (fileName != null && fileName != "") {
                $('#Describe').show();
                $('#AttachmentsDescription').show();
            }

        });



        $("#FileNameOthers").change(function () {
            //debugger;
            if ($("#FileNameOthers").val().length == 0) {
                $('#Describe').hide();

                $('#AttachmentsDescription').val("");
                $('#AttachmentsDescription').hide();
            }
            else {
                $('#Describe').show();
                $('#AttachmentsDescription').show();
            }
        });

        $("#btnClearOtherFile").click(function () {
            $('#OtherFile').val(null);
            $('#FileNameOthers').val(null);

            $('#Describe').hide();

            $('#AttachmentsDescription').val("");
            $('#AttachmentsDescription').hide();
        });

        //allows only numbers in textfield
        $("#txtZipCode").keypress(function (event) {

            var evt = (event) ? event : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });
        var r4RFormAttachmentHelper = {
            checkFileType: function (fileTypes, filenamevalue, fileplaceholder) {
               // debugger;
                $("#spinner").show();
                var fileName = $(fileplaceholder).val();
                // change function called twice on change of file.
                if (fileName != null && fileName != "") {
                    if (fileTypes != "") {
                        var fileTypeCheck = fileTypes + ',';
                        var fileNameSegments = fileName.match(/\.([^\.]+)$/);
                        var ext = "";
                        // if file has an extension.
                        if (fileNameSegments != null) {
                            ext = "." + fileNameSegments[1] + ',';
                            ext = ext.toLowerCase();
                        }
                        if (fileNameSegments == null || fileTypeCheck.indexOf(ext, 0) == -1) {
                            $(fileplaceholder).val(null);
                            $(filenamevalue).val(null);
                            alert("The file is not in the expected format. Please make sure the file you are attaching is in accepted format (" + fileTypes + ").");
                            return false;
                        }
                    }
                    $(filenamevalue).val($(fileplaceholder).val().split('\\').pop());
                }
                return false;
            }
        }
    });

            window.onload = function () {
                alert("@ViewBag.Message");
            };
</script>
@* Hareesh Added Alerts for Uploads and Delete functionality*@

<script>
    $('.fileClass').on('change', function (e) {
        var fileType = this.id;
        var SectionNameSplit = this.id.split('_');
       

        var Size = 0;
        var cnt = this.files.length;
        var Name = this.files[0].name;

        //File9250
        for (i = 0; i < cnt; i++) {
            Size += this.files[i].size;
            //alert(Size);
        }

        if (Size > 1073741824 && cnt > 1) {
            //show an alert to the user
            alert("Your Allowed file size exceeded. (Max. 1 GB) Or Must Select ONE File only");

            //reset file upload control
            return false;
        }

        for (i = 0; i < cnt; i++) {
            var uploadFile = this.files[i];
            if (!(/\.(pdf|PDF)$/i).test(uploadFile.name)) {
                alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format pdf.');
                return false;
            }
        }
        var files = e.target.files;

        //fhaRequestViewModel["CreditLetterFile"] = files[0];
        //debugger;
        if (files.length > 0) {
            //alert(2);
            if (window.FormData !== undefined) {
                var data = new FormData();
                //var data = $("#r4rform").serialize();
                //alert(3);
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }


                data.append("UploadedFileSection", fileType);
                //$("#spinner").attr('class', 'overlay');
                $.ajax({
                    url: '@Url.Action("R4RStartUploadFile", "ReserveForReplacement")',
                    data: data,
                    contentType: false,
                    dataType: 'json',
                    processData: false,
                    cache: false,
                    async: true,
                    type: 'POST',
                    enctype: 'multipart/form-data',


                    success: function (result) {

                        if (result.returnvalue) {

                            alert("File is Loaded Successfully");
                            //status = true;
                        }
                        else {
                            alert(" File is NOT Loaded Successfully, Reload it once again");
                            //status = false;
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });



            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

</script>


<script>
    $(".filedelete").on('click', function (event) {
        event.stopPropagation();
        var SectionNameSplit = this.id.split('_');
       
        //debugger;
        if (SectionNameSplit[1] == 'File9250') {
            if ($('#FileName9250').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'File9250A') {
            //alert(2);
            if ($('#FileName9250A').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'InvoiceFile') {
            if ($('#FileNameInvoices').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'ReceiptFile') {
            if ($('#FileNameReceipts').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'ContractFile') {
            if ($('#FileNameContracts').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'PictureFile') {
            if ($('#FileNamePictures').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'OtherFile') {
            if ($('#FileNameOthers').val() == '') {
                return false;
            }
        }
        //alert(3);
        var data = new FormData();
        data.append("FHANumber", $('#txtFha').val());
        data.append("TaskInstanceId", $('#TaskInstanceId').val());
        data.append("FileSectionName", document.getElementById(this.id).name);

            $.ajax({
                            url: '@Url.Action("R4RDeleteUploadFile", "ReserveForReplacement")',
                            data: data,
                            contentType: false,
                            processData: false,
                            cache: false,
                            type: 'POST',
                            success: function (response) {
                                //alert(1);
                                if (response.returnvalue) {

                                    alert("File Deleted Successfully");
                                }
                                //else if (response === 'unauthorized')
                                //{
                                //    alert("Unauthorized to Delete this file");
                                //}
                                else if (response.returnvalue) {
                                    alert("File Deleted not Successful Please try Again later");
                                }
                                else
                                {
                                    //alert("File Deleted not Successful: " + response);
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                            }
            });
    });


    $("#PictureFile").change(function () {
        var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
        r4RFormAttachmentHelper.checkFileType(formAttachmentFileTypes, '#FileNamePictures', '#PictureFile');
    });

</script>