﻿@model HUDHealthcarePortal.Model.HD_TICKET_ViewModel
@*//karri:#149*@
@{
    ViewBag.Title = "CreateTicket";
}
@*@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "v" }))
{
    
    <div>
        @Html.TextBox("file", "", new { type = "file" })
        <input type="submit" value="Upload" />
    </div>
}
@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "v" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" })
        <input type="submit" value="Upload" />
    </div>
}*@
  
@using (Html.BeginForm("SubmitForm", "HelpDesk", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "fhaRequestForm" }))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid" style="">
        <div class="row">
            <span class="col-md-4 text-right">   </span>
            <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Help Desk primary submission details</b></h4> </span>
        </div>
    </div>
    <br />

    <script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div id="fields" style="margin-left:190px">
                <span>@Html.Label("Fields with ")</span>
                <span>@Html.Label("*", new { style = "color: red;" })</span>
                <span>@Html.Label(" are editable and mandatory")</span>
            </div>
        </div>
    </div>
    
    <div class="container-fluid" style="padding-right: 228px;">
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Ticket ID")
            </span>
            <span class="col-md-3 required">
                @*@Html.TextBoxFor(m => m.TICKET_ID, new { @id = "ticketid", name = "ticketid", @readonly = "readonly" })*@
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Created By")
            </span>
            <span class="col-md-3 ">
                @Html.TextBoxFor(m => m.CREATED_BY_USERDISPLAYNAME, new { @id = "createdby", name = "createdby" })
                @*@Html.TextBox("createdby", (String)ViewBag.CREATED_BY_USERNAME, new { name = "createdby", @readonly = "readonly" })*@
                @*@Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Title", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.ISSUE, new { @id = "title", name = "title" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Created On")
            </span>
            <span class="col-md-3 ">
                @Html.TextBoxFor(m => m.CREATED_ON, new { @id = "createdon", name = "createdon", @readonly = "readonly" })
                @*@Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Issue Type", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @*@Html.DropDownListFor(m => m.CATEGORY, new SelectList(Model.TicketCategoryList),"d")*@
                @*@Html.DropDownListFor(model => model.ProjectActionTypeId, Model.ProjectActionTypeList, "Select Project Action Type", new { @id = "projectActionType" })*@
                @Html.DropDownListFor(model => model.CATEGORY, Model.TicketCategoryList, "Select Issue Type", new { @id = "category" })
                @Html.HiddenFor(m => m.CATEGORY, new { @id = "hidCategory" })
                
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Assigned To")
            </span>
            <span class="col-md-3 ">
                @Html.TextBoxFor(m => m.ASSIGNED_TO_USERDISPLAYNAME, new { @id = "assignedtofullname", name = "assignedtofullname", @readonly = "readonly" })
                @*@Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Last Modified Date")
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.LAST_MODIFIED_ON, new { @id = "lastmodifiedon", name = "lastmodifiedon", @readonly = "readonly" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Assigned Date")
            </span>
            <span class="col-md-3 ">
                @Html.TextBoxFor(m => m.ASSIGNED_DATE, new { @id = "assigneddate", name = "assigneddate", @readonly = "readonly" })
                @*@Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Recreation Steps", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextAreaFor(m => m.RECREATION_STEPS, new { @id = "recsteps", style = "margin: 0px; width: 320px; height: 103px;", rows ="5", htmlAttributes = new { @class = "form-control" } })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Problem Description", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextAreaFor(m => m.DESCRIPTION, new { @id = "descsteps", style = "margin: 0px; width: 320px; height: 103px;", rows = "5", htmlAttributes = new { @class = "form-control" } })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-3 required">
                @Html.Label("File Attachments", new { @class = "required" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-3 required">
                
                  <input class="fileClass" id="file_File1" name="WP" type="file" style="text-align:right;">                                              
                   <button class="DeleteClass" type="button" id="Deletefile_File1"  value="DelFile1" name="Deletefile_File1" style="width: 50px !important; padding: 5px !important;">Delete</button>
                  
            </span>
            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-3 required">
                <input class="fileClass" id="file_File2" name="WP" type="file">
                <button class="DeleteClass" type="button" id="Deletefile_File2" value="DelFile2" name="Deletefile_File2" style="width: 50px !important; padding: 5px !important;">Delete</button>
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-3 required">
                <input class="fileClass" id="file_File3" name="WP" type="file">
                <button class="DeleteClass" type="button" id="Deletefile_File3" value="DelFile3" name="Deletefile_File3" style="width: 50px !important; padding: 5px !important;">Delete</button>
            </span>
            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-3 required">
                <input class="fileClass" id="file_File4" name="WP" type="file">
                <button class="DeleteClass" type="button" id="Deletefile_File4" value="DelFile4" name="Deletefile_File4" style="width: 50px !important; padding: 5px !important;">Delete</button>
            </span>
        </div>
        @Html.HiddenFor(m => m.PRIORITY, new { @id = "filepathuniquenumber" });

        @Html.Partial("~/Views/HelpDesk/_HelpDeskSubmit.cshtml")
       
        
    </div>

}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
<style>
   
</style>

<script>
    $('.fileClass').on('change', function (e) {
       
        //alert(this.id);
        var SectionNameSplit = this.id.split('_');
        //alert(SectionNameSplit[1]);
        //alert($("#file_File1").val().length);
        //alert(this.value);

        ////??? while text deletion from the file upload control, this event is getting triggered, hence checking the lenght as validation
        if (this.value.length == 0)
            return;
        //if ($("#file_File1").val().length == 0)
        //    return;
        //if ($("#file_File2").val().length == 0)
        //    return;
        //if ($("#file_File3").val().length == 0)
        //    return;
        //if ($("#file_File4").val().length == 0)
        //    return;
        
        //display only file name but not path
        var filePathMetaData = this.value.split('\\');
        //alert(filePathMetaData[filePathMetaData.length - 1]);
        //debugger;
        var actualFileName = filePathMetaData[filePathMetaData.length - 1];

        var Size = 0;
        var cnt = this.files.length;
        var Name = this.files[0].name;

        //File9250
        for (i = 0; i < cnt; i++) {
            Size += this.files[i].size;
        }
        //alert(Name + "; file count:" + cnt);

        if (Size > 1073741824 && cnt > 1) {
            //show an alert to the user
            alert("Your Allowed file size exceeded. (Max. 1 GB) Or Must Select ONE File only");

            //reset file upload control
            return false;
        }

        for (i = 0; i < cnt; i++) {
            var uploadFile = this.files[i];
            if (!(/\.(TXT|gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                return false;
            }
        }
        var files = e.target.files;

        //fhaRequestViewModel["CreditLetterFile"] = files[0];
      
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                //var data = $("#r4rform").serialize();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
               

                data.append("UploadedFileSection", SectionNameSplit[1]);
                data.append("filepathUniqueID", $("#filepathuniquenumber").val());
                

                $("#spinner").attr('class', 'overlay');
                $.ajax({
                    url: '@Url.Action("UploadFile", "HelpDesk")',
                    data: data,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    cache: false,
                    async: true,
                    type: 'POST',
                    success: function (response) {
                        //the return objects are success, responseMessage
                        if (response.success) {
                            
                            alert("File Uploaded Successfully");                            
                        }
                        else{
                            alert("File Uploaded Failed");
                        }
                       
                    },
                    error: function (error) {
                        alert(error);
                    }
                });

               
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

</script>


<script>
    $(".DeleteClass").on('click', function (event) {
        event.stopPropagation();
        var SectionNameSplit = this.id.split('_');
        //alert($("#file_File1").val());
        //alert($("#file_File1").val());
        
            var data = new FormData();
           
            data.append("FileSectionName", SectionNameSplit[1]);
            data.append("filepathUniqueID", $("#filepathuniquenumber").val());

            $.ajax({
                            url: '@Url.Action("DeleteFile", "HelpDesk")',
                            data: data,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            cache: false,
                            async: true,
                            type: 'POST',
                            success: function (response) {
                                //the return objects are success, responseMessage
                                if (response.success) {

                                    alert("File deleted Successfully");
                                    //alert(SectionNameSplit);
                                    if (SectionNameSplit[1] == "File1")
                                        $("#file_File1").val('');
                                    else if (SectionNameSplit[1] == "File2")
                                        $("#file_File2").val('');
                                    else if (SectionNameSplit[1] == "File3")
                                        $("#file_File3").val('');
                                    else if (SectionNameSplit[1] == "File4")
                                        $("#file_File4").val('');
                                    //file_File1

                                }
                                else {
                                    alert("File deletion Failed");
                                }

                            },
                            error: function (error) {
                                alert(error);
                            }
                });
        });
</script>

<script>
    //button submit click event for validation on title, type, recretion steps and problem description
    //the submit buttoin is in _HelpDeskSubmit.cshtml
    $(document).ready(function () {
        $("#butnSubmit").click(function () {

            //alert(document.getElementById("category").value);
            if ($('#category').val() == '') {
                alert("Please select your Issue Type");
                $('#category').focus();
                return false;
            }

            if ($('#title').val() == '') {
                alert("Please select Title for the reporting issue");
                $('#title').focus();
                return false;
            }

            if ($('#recsteps').val() == '') {
                alert("Please submit your recreation steps in few lines");
                $('#recsteps').focus();
                return false;
            }

            if ($('#descsteps').val() == '') {
                alert("Please submit your description of the issue!");
                $('#descsteps').focus();
                return false;
            }

            
            //if ($('#category').val() == '' || ) {
            //    alert("Please submit your description of the issue!");
            //    $('#descsteps').focus();
            //    return false;
            //}

        });
    });
</script>