﻿@model HUDHealthcarePortal.Model.HD_TICKET_ViewModel
@*//karri:#149*@
@{
    ViewBag.Title = "CreateTicket";
}
<script src="~/Scripts/jquery.mask.js"></script>

@*@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "v" }))
    {

        <div>
            @Html.TextBox("file", "", new { type = "file" })
            <input type="submit" value="Upload" />
        </div>
    }
    @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "v" }))
    {

        <div>
            @Html.TextBox("file", "", new { type = "file" })
            <input type="submit" value="Upload" />
        </div>
    }*@

<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
     #recsteps {
         max-height:200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
      
    }
    #descsteps{
         max-height:200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

<style>
    #tablecolor {
        color: black;
        display: block;
    }

    .DeleteClass {
        background-color: #2b669a;
    }
</style>

@using (Html.BeginForm("SubmitForm", "HelpDesk", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "helpdeskForm" }))
{
    @Html.AntiForgeryToken()
    <div>
        <section id="helpdeskform" style="width: 1200px; height: 320px;">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-2 text-right">
                        @Html.Label("FHA  Number")
                    </span>
                    <span class="col-md-2">
                        @Html.TextBoxFor(m => m.FHANumber, new { @id = "helpdeskFHANumbers", @class = "updateableFields", maxlength = 9, minlength = 9 })
                        @* <input type="text" id="helpdeskFHANumbers" value="@Model.FHANumber"  />*@
                        @* @Html.HiddenFor(m => m.FHANumber, new { id = "txtFhanumber", maxlength = 9, minlength = 9 })*@
                    </span>
                </div>

                <div class="row">
                    <span class="col-md-2 text-right">
                        @Html.Label("Project Number")
                        @* @Html.Label("*", new { style = "color: red;" })*@
                    </span>
                    <span class="col-md-2 required">
                        @Html.TextBoxFor(m => m.PropertyId, new { id = "txtPropertyId1" })
                        @* @Html.ValidationMessageFor(m => m.PropertyId)*@
                    </span>
                </div>

                <div class="row">
                    <span class="col-md-2 text-right">
                        @Html.Label("Property Name")
                    </span>
                    <span class="col-md-2 required">
                        @Html.TextBoxFor(m => m.PropertyName, new { id = "txtPropertyName", title = "Property Name" })
                        @Html.ValidationMessageFor(m => m.PropertyName)
                    </span>
                </div>
                <div class="row">
                   @* <div class="col-sm-1"></div>*@
                    <div class="col-sm-2" align="right">@Html.Label("Ticket Title", new { @class = "required" })</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.ISSUE, new { @id = "title", name = "title" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Category Type", new { @class = "required" })</div>
                    <div class="col-sm-2" align="left">
                        @Html.DropDownListFor(model => model.CATEGORY, Model.TicketCategoryList, "Select Category Type", new { @id = "category" })
                        @Html.HiddenFor(m => m.CATEGORY, new { @id = "hidCategory" })
                    </div>

                   
                </div>
                <div class="row">

                    <div class="col-sm-2" align="right">@Html.Label("Sub Category Type", new { @class = "required" })</div>
                    <div class="col-sm-2" align="left">
                        @Html.DropDownListFor(model => model.SUBCATEGORY, Model.TicketSubCategoryList, "Select SubCateogry Type", new { @id = "subcategory" })
                        @Html.HiddenFor(m => m.SUBCATEGORY, new { @id = "hidSubCategory" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Created On")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.CREATED_ON, new { @id = "createdon", name = "createdon", @readonly = "readonly" })</div>
                </div>
                <div class="row">

                    <div class="col-sm-2" align="right">@Html.Label(" Action Type", new { @class = "required" })</div>
                    <div class="col-sm-2" align="left">
                        @Html.DropDownListFor(model => model.ONACTION, Model.TicketOnActionList, "Select Action Type", new { @id = "onaction" })
                        @Html.HiddenFor(m => m.ONACTION, new { @id = "hidOnAction" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1" align="right"></div>
                    <div class="col-sm-3" align="right" style="margin-left: 86px;margin-top: 15px;">@Html.Label("Actions and Comments Log!")</div>

                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right" style="display:none;">@Html.Label("Assigned To")</div>
                    <div class="col-sm-2" align="left" style="display:none;">@Html.TextBoxFor(m => m.ASSIGNED_TO_USERDISPLAYNAME, new { @id = "assignedtofullname", name = "assignedtofullname", @readonly = "readonly" })</div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-sm-2" align="right">@Html.Label("Last Modified Date")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.LAST_MODIFIED_ON, new { @id = "lastmodifiedon", name = "lastmodifiedon", @readonly = "readonly" })</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Assigned Date")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.ASSIGNED_DATE, new { @id = "assigneddate", name = "assigneddate", @readonly = "readonly" })</div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Issue Description", new { @class = "required" })</div>
                    <div class="col-sm-5" align="left">
                    @Html.TextAreaFor(m => m.DESCRIPTION, new { @id = "descsteps", @maxlength = "500", style = "margin: 0px;height: 103px;", placeholder = "Please provide comments regarding the issue that you encountered or the question you may have (max 500 chars)" })
                    </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="col-sm-1" align="left">
                            <div class="editor-field1" style="margin-top: -108px;margin-left: 686px;">                              
                                @Html.TextAreaFor(m => m.CONVERSATION, new { @id = "comments", style = "margin: 0px;height: 110px;width:521px;font-size:smaller;background-color: aliceblue", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Re-creation Steps", new { @class = "required" })</div>
                    <div class="col-sm-5" align="left">@Html.TextAreaFor(m => m.RECREATION_STEPS, new { @id = "recsteps", @maxlength = "500", style = "margin: 0px;height: 103px;", placeholder = "Please provide the steps that you encountered prior to receiving the issue (max 500 chars)" })</div>
                    <div class="col-sm-2">
                        <div class="col-sm-5" align="left">
                            <div class="editor-field">
                                @*@Html.TextBoxFor(m => m.USERCOMMENTS, new { @id = "usercomments", @maxlength="100", style = "font-size:smaller;blue;background-color: antiquewhite; height:50px;width:300px;", name = "usercomments", placeholder = "submit your comments to help desk!! (max 100 chars)" })*@
                                @Html.TextAreaFor(m => m.USERCOMMENTS, new { @id = "usercomments", @maxlength = "500", style = "font-size:smaller;blue;background-color: antiquewhite; height:103px;width:521px; margin: 0px;", name = "usercomments", placeholder = "submit your comments to help desk!! (max 100 chars)" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Attachments and/or Screenshots")</div>
                    <div class="col-sm-5" align="left">
                        <div class="col-sm-2">
                            <table width="100%">
                                <tr>
                                    <td width="150px">
                                        <input class="fileClass" id="file_File1" type="file" style="display: none;">
                                        <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File1" onclick="document.getElementById('file_File1').click();" />
                                    <td>
                                        <input type="button" class="DeleteClass" id="Deletefile_File1" value="Remove File" style="color:white;" />
                                        @*<button type="button" class="DeleteClass" id="Deletefile_File1"  style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
                                        @*<a href="#" class="DeleteClass" id="Deletefile_File1" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150px">
                                        <input class="fileClass" id="file_File2" type="file" style="display: none;">
                                        <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File2" onclick="document.getElementById('file_File2').click();" />
                                    <td>
                                        <input type="button" class="DeleteClass" id="Deletefile_File2" value="Remove File" style="color:white;" />
                                        @*<a href="#" class="DeleteClass" id="Deletefile_File2" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150px">
                                        <input class="fileClass" id="file_File3" type="file" style="display: none;">
                                        <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File3" onclick="document.getElementById('file_File3').click();" />
                                    <td>
                                        <input type="button" class="DeleteClass" id="Deletefile_File3" value="Remove File" style="color:white;" />
                                        @*<a href="#" class="DeleteClass" id="Deletefile_File3" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                    </td>
                                </tr>

                                <tr>
                                    <td width="150px">
                                        <input class="fileClass" id="file_File4" type="file" style="display: none;">
                                        <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File4" onclick="document.getElementById('file_File4').click();" />
                                    <td>
                                        <input type="button" class="DeleteClass" id="Deletefile_File4" value="Remove File" style="color:white;" />
                                        @*<button type="button" class="DeleteClass" id="Deletefile_File1"  style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
                                        @*<a href="#" class="DeleteClass" id="Deletefile_File1" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150px">
                                        <input class="fileClass" id="file_File5" type="file" style="display: none;">
                                        <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File5" onclick="document.getElementById('file_File5').click();" />
                                    <td>
                                        <input type="button" class="DeleteClass" id="Deletefile_File5" value="Remove File" style="color:white;" />
                                        @*<a href="#" class="DeleteClass" id="Deletefile_File2" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td width="150px">
                                        <input class="fileClass" id="file_File6" type="file" style="display: none;">
                                        <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File6" onclick="document.getElementById('file_File6').click();" />
                                    <td>
                                        <input type="button" class="DeleteClass" id="Deletefile_File6" value="Remove File" style="color:white;" />
                                        @*<a href="#" class="DeleteClass" id="Deletefile_File3" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-sm-2" align="right"></div>
                    <div class="col-sm-5" align="left">
                        <div class="col-sm-2">
                            <input id="butnSubmit" class="btn btn-primary" type="submit" name="agreeOrNot" value="Submit">
                            </div>
                        </div>
                     </div>


            <div class="container-fluid" style="padding-right: 228px;">


                @Html.HiddenFor(m => m.TEMPERORY_FILE_UNIQUEPATH, new { @id = "filepathuniquenumber" });

                @*@Html.Partial("~/Views/HelpDesk/_HelpDeskSubmit.cshtml")*@


            </div>
        </section>
    </div>

}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

<script>
    $('#status').val(0);
</script>

<script>
    $('.fileClass').on('change', function (e) {

        //alert(this.id);
        var SectionNameSplit = this.id.split('_');
        //alert(SectionNameSplit[1]);
        //alert($("#file_File1").val().length);
        //alert(this.value);

        ////??? while text deletion from the file upload control, this event is getting triggered, hence checking the lenght as validation
        if (this.value.length == 0)
            return;

        //display only file name but not path
        var filePathMetaData = this.value.split('\\');
        //alert(filePathMetaData[filePathMetaData.length - 1]);

        var txtId = "txt_" + this.id;
        document.getElementById(txtId).value = filePathMetaData[filePathMetaData.length - 1];

        //alert(this.id + '---' + document.getElementById(txtId).value)
        //by default Delete button is hidden, if the file name is loaded into text box then only delete button is diesplayed
        if (document.getElementById(txtId).value.length > 0 && document.getElementById(txtId).value != ' Attach File') {
            var filecontrolid = this.id.split('_');
            var butid = "Deletefile_" + filecontrolid[1];
            document.getElementById(butid).style.display = 'block';
        }

        //debugger;
        var actualFileName = filePathMetaData[filePathMetaData.length - 1];

        var Size = 0;
        var cnt = this.files.length;
        var Name = this.files[0].name;

        //File9250
        for (i = 0; i < cnt; i++) {
            Size += this.files[i].size;
        }
        //alert(Name + "; file count:" + cnt);

        if (Size > 1073741824 && cnt > 1) {
            //show an alert to the user
            alert("Your Allowed file size exceeded. (Max. 1 GB) Or Must Select ONE File only");

            //reset file upload control
            return false;
        }

        for (i = 0; i < cnt; i++) {
            var uploadFile = this.files[i];
            if (!(/\.(TXT|gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                return false;
            }
        }
        var files = e.target.files;

        //fhaRequestViewModel["CreditLetterFile"] = files[0];

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                //var data = $("#r4rform").serialize();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }


                data.append("UploadedFileSection", SectionNameSplit[1]);
                data.append("filepathUniqueID", $("#filepathuniquenumber").val());


                $("#spinner").attr('class', 'overlay');
                $.ajax({
                    url: '@Url.Action("UploadFile", "HelpDesk")',
                    data: data,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    cache: false,
                    async: true,
                    type: 'POST',
                    success: function (response) {
                        //the return objects are success, responseMessage
                        if (response.returnvalue) {

                            alert("File Uploaded Successfully");
                        }
                        else {
                            alert("File Uploaded Failed");
                        }

                    },
                    error: function (error) {
                        alert(error);
                    }
                });


            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

</script>

@*<script>
        $(".DeleteClass").on('click', function (event) {
            event.stopPropagation();
            //alert()
            var SectionNameSplit = this.id.split('_');
            //alert($("#file_File1").val());
            //alert($("#file_File1").val());
            //alert(this.id);

            var fileidentification = this.id.split('_');
            var txtId = "txt_file_" + fileidentification[1];
            document.getElementById(txtId).value = ' Attach File';
            document.getElementById(this.id).style.display = 'none';

            var data = new FormData();

            data.append("FileSectionName", SectionNameSplit[1]);
            data.append("filepathUniqueID", $("#filepathuniquenumber").val());

            $.ajax({
                url: '@Url.Action("DeleteFile", "HelpDesk")',
                data: data,
                dataType: 'json',
                contentType: false,
                processData: false,
                cache: false,
                async: true,
                type: 'POST',
                success: function (response) {
                    //the return objects are success, responseMessage
                    if (response.returnvalue) {

                        alert("File deleted Successfully");
                        //alert(SectionNameSplit);
                        if (SectionNameSplit[1] == "File1")
                            $("#file_File1").val('');
                        else if (SectionNameSplit[1] == "File2")
                            $("#file_File2").val('');
                        else if (SectionNameSplit[1] == "File3")
                            $("#file_File3").val('');
                        else if (SectionNameSplit[1] == "File4")
                            $("#file_File4").val('');
                        //file_File1

                    }
                    else {
                        alert("File deletion Failed");
                    }

                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    </script>*@

<script>
    //button submit click event for validation on title, type, recretion steps and problem description
    //the submit buttoin is in _HelpDeskSubmit.cshtml
    $(document).ready(function () {
        $('#helpdeskFHANumbers').mask("999-99999");
        $("#butnSubmit").click(function () {

            //alert(document.getElementById("category").value);
            if ($('#category').val() == '') {
                alert("Please select your Category Type");
                $('#category').focus();
                return false;
            }

            if ($('#subcategory').val() == '') {
                alert("Please select your SubCateogry Type");
                $('#subcategory').focus();
                return false;
            }

            if ($('#onaction').val() == '') {
                alert("Select type of action taken when encountering an error");
                $('#subcategory').focus();
                return false;
            }

            if ($('#title').val() == '') {
                alert("Please select Title for the reporting issue");
                $('#title').focus();
                return false;
            }

            if ($('#recsteps').val() == '') {
                alert("Please submit your recreation steps in few lines");
                $('#recsteps').focus();
                return false;
            }

            if ($('#descsteps').val() == '') {
                alert("Please submit your description of the issue!");
                $('#descsteps').focus();
                return false;
            }

            //if ($('#helpdeskFHANumbers').val() == '') {
            //    alert("Please enter FHA Number");
            //    $('#helpdeskFHANumbers').focus();
            //    return false;
            //}


            //if ($('#category').val() == '' || ) {
            //    alert("Please submit your description of the issue!");
            //    $('#descsteps').focus();
            //    return false;
            //}

        });



        // hareesh

        autocompleteTextBox.on('autocompleteselect', function(event, ui) {
            searchTextTyped = ui.item.value;
            autocompleteMatch(searchTextTyped, possibleValues);

            updatehelpdeskPropertyInfo(searchTextTyped);
        });

        autocompleteTextBox.bind('blur', function () {

            if ($('#helpdeskFHANumbers').val() !== "" && !(/^[0-9]{3}-[0-9]{5}$/i).test($('#helpdeskFHANumbers').val())) {
                alert("Please enter a valid FHA Number");
                $('#helpdeskFHANumbers').val("");
                autocompleteTextBox.focus();
                return false;
            }
            else {
                updatehelpdeskPropertyInfo($(this).val());
            }

        });

        function updatehelpdeskPropertyInfo(selectedFHANumber) {
            if ($.inArray(selectedFHANumber, possibleValues) != -1) {
                if (fhaNumberLoaded != selectedFHANumber) {
                    $.ajax({
                        url: '@Url.Action("GetHelpdeskPropertyInfo", "HelpDesk")',
                        data: { selectedFhaNumber: selectedFHANumber },
                        dataType: 'json',
                        type: 'GET',
                        success: function(data) {
                            if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                                $('#txtPropertyName').val("");
                                $('#txtPropertyId1').val("");

                            } else {
                                $('#txtPropertyName').val(data.PropertyName);
                                $('#txtPropertyId1').val(data.PropertyId);

                            }
                            $('#helpdeskFHANumbers').val(selectedFHANumber);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                        }
                    });
                }
            } else {
                $('#txtPropertyName').val("");
                $('#txtPropertyId1').val(" ");
                $('#helpdeskFHANumbers').val("");
            }

            fhaNumberLoaded = selectedFHANumber;
        }
    });
</script>


@* hareesh*@

<script>
    $(".DeleteClass").on('click', function (event) {
        event.stopPropagation();
        var SectionNameSplit = this.id.split('_');

        //debugger;
        if (SectionNameSplit[1] == 'File1') {
            if ($('#file_File1').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'File2') {
            //alert(2);
            if ($('#file_File2').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'File3') {
            if ($('#file_File3').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'File4') {
            if ($('#file_File4').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'File5') {
            if ($('#file_File5').val() == '') {
                return false;
            }
        }
        else if (SectionNameSplit[1] == 'File6') {
            if ($('#file_File6').val() == '') {
                return false;
            }
        }
        var fileidentification = this.id.split('_');
        var txtId = "txt_file_" + fileidentification[1];
        document.getElementById(txtId).value = ' Attach File';
        document.getElementById(this.id).style.display = 'block';
        //alert(3);
        //var data = new FormData();
        //data.append("FHANumber", $('#txtFha').val());
        //data.append("TaskInstanceId", $('#TaskInstanceId').val());
        //data.append("FileSectionName", document.getElementById(this.id).name);
        var data = new FormData();

        data.append("FileSectionName", SectionNameSplit[1]);
        data.append("filepathUniqueID", $("#filepathuniquenumber").val());

        $.ajax({
            url: '@Url.Action("DeleteFile", "HelpDesk")',
            data: data,
            dataType: 'json',
            contentType: false,
            processData: false,
            cache: false,
            async: true,
            type: 'POST',
            success: function (response) {
                //alert(1);
                if (response.returnvalue) {

                    alert("File Deleted Successfully");
                }
                    //else if (response === 'unauthorized')
                    //{
                    //    alert("Unauthorized to Delete this file");
                    //}
                else if (response.returnvalue) {
                    alert("File Deleted not Successful Please try Again later");
                }
                else {
                    //alert("File Deleted not Successful: " + response);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    });

</script>

<script>
    var autocompleteTextBox = $('#helpdeskFHANumbers');
        var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
        var fhaNumberLoaded = "";
</script>


<script src="/Scripts/Shared/autocomplete.js"></script>
