﻿
@model HD_TICKET_ViewModel
@*//karri:#149*@
@{
    ViewBag.Title = "GroupTaskView";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

@*<style>
    .modal-content{
        width:1300px;
        height:470px;
        position:center;
         left: 0px;
        top: 0px;
          right: 0px;
        
    }
    .modal-dialog{
       display:block;
       height:100%;
       width:100%;
       position:center;
       top:0;
       bottom:0;
       left:0;
       right:0;
      
       
    }

    #modalbody {
        position: center;
        left: 0px;
        top: 0px;
        width: 300%;
        height: 150%;
        right: 0px;
    }
        
</style>*@
<style>
     

    #modalbody {
        position: center;
        left: 0px;
        top: 0px;
        width: 300%;
        height: 150%;
        right: 0px;
        
    }

    #modelContent {
        position: center;
        left: 0px;
        top: 0px;
        width: 150%;
        height: 150%;
        right: 0px;
              
    }

    #btnproceed {
        text-align: center;
        width: 100%;
        color: white;
    }

    .close {
        color: #0C1D7D;
    }
    .modal-dialog {
        display: block;
        height: 55%;
        width: 55%;
        position:center;
    }
    .modal-header{
        color:#0C1D7D;
    }
    h4{
      color:#0C1D7D; 
      font-size:large;
    }
    
</style>
<h5>SEARCH By Options:</h5> 
@using (Html.BeginForm("SearchHelpDeskTicket", "HelpDesk", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-2">
            <label>Status type</label>
        </div>
        <div class="col-sm-2">
            <div class="input-group">
               @Html.DropDownListFor(model => model.ISSUE, Model.TicketStatusList, "Select Status Type", new { @id = "issuetype" })
            </div>
        </div>
        <div class="col-sm-2">
            <label>Category type</label>
        </div>
        <div class="col-sm-2">
            <div class="input-group">
                @Html.DropDownListFor(model => model.CATEGORY, Model.TicketCategoryList, "Select Category Type", new { @id = "categorytype" })
            </div>
        </div>
        
        <div class="col-sm-2">
            <div class="input-group">
                <span class="button">
                    <input type="button" class="btn btn-default" value="Search" onclick="FilterResults()" />
                </span>
                <span class="button">
                    <input type="button" class="btn btn-default" value="Reset" onclick="ResetFilterResults()" />
                </span>
            </div>
        </div>
    </div>

}


<div>
    <table id="LenderGroupTaskGrid"></table>
    <div id="pager"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //debugger
        $("#LenderGroupTaskGrid").jqGrid({

            url: "/HelpDesk/GetTicketsData",
            datatype: 'json',
            mtype: "GET",

            colNames: ['TICKET ID', 'STATUS', 'ISSUE NAME', 'ISSUE CATEGORY', 'USER NAME', 'CREATED DATE', 'ASSIGNED DATE', 'HELP DESK NAME'],
            colModel: [
              {
                  name: "TICKET_ID", index: "TICKET ID", width: 100, align: 'left', sortable: true, type: 'link',
                  cellattr: function (cellvalue, options, rowObject) {
                      if (rowObject.TICKET_ID != null) {

                          return ' style=" text-decoration: underline;Color:blue"';
                      }
                  },
                  formatter: function (cellvalue, options, rowObject) {
                      if (rowObject.TICKET_ID == null) {
                          return " "
                      }
                      else {
                          return '<a href="#" onclick="createModal(' + rowObject.TICKET_ID + ')" style=" text-decoration: underline;Color:blue" >' + rowObject.TICKET_ID + '</a>';
                      }
                  }

              },
                {
                    name: 'STATUS', index: 'STATUS', width: 70,sortable:true,
                    align:'center',
                    editable:true,
                    cellEdit:true,
                    edittype: 'select', 
                    formatter: 'select',                   
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.STATUS === 0) {
                            return cellvalue = "OPEN"
                        }
                        if (rowObject.STATUS === 1) {
                            return cellvalue = "INPROGRESS"
                        }
                        else if (rowObject.STATUS === 2) {
                            return cellvalue = "REJECTED"
                        }
                        else if (rowObject.STATUS === 3) {
                            return cellvalue = "CLOSED"
                        }
                        
                    }
                },
                { Key: false, name: 'ISSUE', index: 'ISSUE', editable: false },
                {
                    name: 'CATEGORY', index: 'CATEGORY', width: 70,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.CATEGORY === 0) {
                            return cellvalue = "Data Issue"
                        }
                        if (rowObject.CATEGORY === 1) {
                            return cellvalue = "Technical"
                        }
                        else if (rowObject.CATEGORY === 2) {
                            return cellvalue = "Functional"
                        }
                    }
                },
                { Key: false, name: 'CREATED_BY_USERNAME', index: 'CREATED_BY_USERNAME', editable: false },
                { Key: false, name: 'CREATED_ON', index: 'CREATED_ON', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },                
                { Key: false, name: 'ASSIGNED_DATE', index: 'ASSIGNED_DATE', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { Key: false, name: 'ASSIGNED_TO', index: 'ASSIGNED_TO', editable: false }
            ],
            pager: jQuery('#pager'),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            caption: 'Group Task',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
            loadComplete: function () {
                //debugger;
            },
            loadError: function (xhr, status, error) {
                // debugger;

            },
            autowidth: true,
            multiselect: false

        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false },






  {
      //Delete options
      zIndex: 100,
      url: '/TodoList/Delete',
      closeOnEscape: true,
      CloseAfterEdit: true,
      recreateForm: true,
      msg: "Are you sure you want to delete this task?",
      afterComplete: function (response) {
          if (response.responseText) {
              alert(response.responseText);
          }

      }
  });
        //$("LenderGroupTaskGrid").jqGrid('navGrid')

    });

    function getKPIParameters()
    {
        
    }
// Implemented by hareesh
    function FilterResults() {
              $("#LenderGroupTaskGrid").jqGrid('setGridParam', {
            url: '@Url.Action("FilterHelpDeskTicket", "HelpDesk")',
            datatype: 'json',
            postData: { "status": $('#issuetype').val(), "categorytype": $('#categorytype').val() }
        }).trigger('reloadGrid');

    }
    // Implemented by hareesh
    function ResetFilterResults()
    {
        $("#LenderGroupTaskGrid").jqGrid('setGridParam', {
            url: '@Url.Action("GetTicketsData", "HelpDesk")',
            datatype: 'json',
            postData: { "status": '', "categorytype": '' }
        }).trigger('reloadGrid');

        var dropDown = document.getElementById("issuetype");
        dropDown.selectedIndex = "Select Status Type";
        var dropDown = document.getElementById("categorytype");
        dropDown.selectedIndex = "Select Category Type";


    }
</script>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="position:fixed; width:768px;">

        <div class="modal-content" id="modelContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">View Ticket</h4>
            </div>
            <div class="modal-body" id="modalbody">

            </div>

            @*<div class="modal-footer">
                <button type="button" id="btnproceed"  class="btn btn-primary" data-dismiss="modal">Proceed</button>
            </div>*@

        </div>
    </div>
</div>


<script>
    function createModal(ticketid) {
        //alert(ticketid);
        $('#modalbody').load('/HelpDesk/GetTicketIDForDetails?id=' + ticketid);
        //$('#modelContent').load('/HelpDesk/GetTicketIDForDetails?id=' + ticketid);
          $('#myModal').modal('show');
    }
            
</script>