﻿@model EntityObject.Entities.HCP_live.HD_TICKET_NOTIFICATIONS

@{
    ViewBag.Title = "MyNotifications";
    //HDNOTIFICATIONS
}

<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>


<h5>My Notifications:</h5>


<div>
    <table id="LenderGroupTaskGrid"></table>
    <div id="jqGridPager"></div>
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        //debugger
        $("#LenderGroupTaskGrid").jqGrid({

            url: "/HelpDesk/GetMyNotifications",
            datatype: 'json',
            mtype: "GET",

            colNames: ['TICKET ID', 'TICKET TITLE', 'NOTIFICATION DATE', 'NOTIFICATION MESSAGE'],
            colModel: [
                { Key: false, name: 'TICKET_ID', index: 'TICKET_ID', editable: false },
                { Key: false, name: 'TITLE', index: 'TITLE', editable: false },
                { Key: false, name: 'LOGDATE', index: 'LOGDATE', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { Key: false, name: 'MESSAGE', index: 'MESSAGE', editable: false },
            ],
            pager: jQuery('#pager'),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            caption: 'Notifications',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
            loadComplete: function () {
                //debugger;
            },
            loadError: function (xhr, status, error) {
                // debugger;

            },
            autowidth: true,
            multiselect: false

        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false });
        //$("LenderGroupTaskGrid").jqGrid('navGrid')

    });


</script>*@






<script>
    $(document).ready(function () {
        $("#LenderGroupTaskGrid").jqGrid({
            url: "/HelpDesk/GetMyNotifications",
            datatype: "json",
            mtype: "GET",
            colNames: ['TICKET ID', 'TICKET TITLE', 'NOTIFICATION DATE', 'NOTIFICATION MESSAGE'],
            colModel: [
                 { Key: false, name: 'TICKET_ID', index: 'TICKET_ID', editable: false },
                 { Key: false, name: 'TITLE', index: 'TITLE', editable: false },
                 { Key: false, name: 'LOGDATE', index: 'LOGDATE', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                 { Key: false, name: 'MESSAGE', index: 'MESSAGE', editable: false },
            ],
            height: '100%',
            rowNum: 40,
            rowList: [40, 80, 120, 160,200 ],
            rownumbers: true,
            viewrecords: true,
            autowidth: true,
            autoencode: true,
            loadonce: true,
            sortable: true,
            pager: true,
            pager: "#jqGridPager",
            caption: 'Notifications',
            emptyrecords: 'No records to display',
            loadComplete: function () {
                var $self = $(this);
                if ($self.jqGrid("getGridParam", "datatype") === "json") {
                    setTimeout(function () {
                        $self.trigger("reloadGrid"); // Call to fix client-side sorting
                    }, 50);
                }
            }
        });
        jQuery("#LenderGroupTaskGrid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false, search: false });
    });
</script>