﻿@model HUDHealthcarePortal.Model.HD_TICKET_ViewModel
@*//karri:#149*@
@{
    ViewBag.Title = "CreateTicket";
}

@*Styles*@
<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>



    @using (Html.BeginForm("SubmitForm", "HelpDesk", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "fhaRequestForm" }))
    {
        @Html.AntiForgeryToken()

        <div>
            <section id="helpdeskform" style="width: 1200px; height: 350px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2" align="right">@Html.Label("Ticket ID")</div>
                        <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.TICKET_ID, new { @id = "ticketid", name = "ticketid", @readonly = "readonly" })</div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2" align="right">@Html.Label("Created By")</div>
                        <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.CREATED_BY_USERDISPLAYNAME, new { @id = "createdbyfullname", name = "createdbyfullname", @readonly = "readonly" })</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" align="right">@Html.Label("Title", new { @class = "required" })</div>
                        <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.ISSUE, new { @id = "title", name = "title", @readonly = "readonly" })</div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2" align="right">@Html.Label("Created On")</div>
                        <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.CREATED_ON, new { @id = "createdon", name = "createdon", @readonly = "readonly" })</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" align="right">@Html.Label("Issue Type", new { @class = "required" })</div>
                        <div class="col-sm-2" align="left">
                            @Html.DropDownListFor(model => model.CATEGORY, Model.TicketCategoryList, new { @readonly = "readonly", @disabled = "disabled" })
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2" align="right">@Html.Label("Assigned To")</div>
                        <div class="col-sm-2" align="left">
                            @if (Model.IS_HELPDESK_USER != true)
                            {
                                @*@Html.TextBoxFor(m => m.ASSIGNED_TO, new { @id = "assignedto", name = "assignedto", @readonly = "readonly" })*@
                                @Html.DropDownListFor(model => model.ASSIGNED_TO, Model.TicketAsigneeList, "Select HelpDesk Assignee", new { @id = "assignedto", @disabled = "disabled" })
                            }
                            @if (Model.IS_HELPDESK_USER == true)
                            {
                                @Html.DropDownListFor(model => model.ASSIGNED_TO, Model.TicketAsigneeList, "Select HelpDesk Assignee", new { @id = "assignedto" })
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" align="right">@Html.Label("Last Modified Date")</div>
                        <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.LAST_MODIFIED_ON, new { @id = "lastmodifiedon", name = "lastmodifiedon", @readonly = "readonly" })</div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2" align="right">@Html.Label("Assigned Date")</div>
                        <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.ASSIGNED_DATE, new { @id = "assigneddate", name = "assigneddate", @readonly = "readonly" })</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" align="right">@Html.Label("Recreation Steps", new { @class = "required" })</div>
                        <div class="col-sm-5" align="left">@Html.TextAreaFor(m => m.RECREATION_STEPS, new { @id = "recsteps", style = "margin: 0px;height: 103px;", @readonly = "readonly" })</div>
                        <div class="col-sm-2">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2" align="right">@Html.Label("Issue Description", new { @class = "required" })</div>
                        <div class="col-sm-5" align="left">@Html.TextAreaFor(m => m.DESCRIPTION, new { @id = "issuedesc", style = "margin: 0px;height: 103px;", @readonly = "readonly" })</div>
                        <div class="col-sm-2">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-2" align="right">@Html.Label("File Attachments")</div>
                        <div class="col-sm-5" align="left" style="text-decoration:underline">

                        </div>
                    </div>

                    <div class="row">
                        @if (Model.File1 != null)
                        {
                            <div class="col-sm-2" align="right">#1</div>
                            <div class="col-sm-5" align="left" style="text-decoration:underline">
                                @Html.ActionLink(Model.File1, "DownloadTaskFile", new { taskInstanceId = Model.File1, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;" })
                            </div>
                        }
                    </div>

                    <div class="row">
                        @if (Model.File2 != null)
                        {
                            <div class="col-sm-2" align="right">#2</div>
                            <div class="col-sm-5" align="left" style="text-decoration:underline">
                                @Html.ActionLink(Model.File2, "DownloadTaskFile", new { taskInstanceId = Model.File2, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;" })
                            </div>
                        }
                    </div>
                    <div class="row">
                        @if (Model.File3 != null)
                        {
                            <div class="col-sm-2" align="right">#3</div>
                            <div class="col-sm-5" align="left" style="text-decoration:underline">
                                @Html.ActionLink(Model.File3, "DownloadTaskFile", new { taskInstanceId = Model.File3, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;" })
                            </div>
                        }
                    </div>

                    <div class="row">
                        <div class="col-sm-2" align="right">@Html.Label("Query Status")</div>
                        <div class="col-sm-5" align="left">
                            @if (Model.TICKET_ID <= 0)
                            {
                                @Html.DropDownListFor(m => m.STATUS, Model.TicketStatusList, "Ticket Status", new { @id = "status", @disabled = "disabled" })
                            }
                            else if (Model.IS_HELPDESK_USER != true)
                            {
                                @Html.DropDownListFor(m => m.STATUS, Model.TicketStatusList, "Ticket Status", new { @id = "status", @disabled = "disabled" })
                            }
                            else if (Model.IS_HELPDESK_USER == true)
                            {
                                @Html.DropDownListFor(m => m.STATUS, Model.TicketStatusList, "Ticket Status", new { @id = "status" })
                            }
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4" align="left">
                            @if (Model.TICKET_ID <= 0)
                            { <input id="butnSubmit"  class="btn btn-primary" type="submit" name="agreeOrNot" value="Submit">
                            }
                            @if (Model.IS_HELPDESK_USER == true && Model.TICKET_ID > 0 && Model.STATUS != 3)
                            {
                                <input id="butnSubmit"  class="btn btn-primary"  type="submit" name="agreeOrNot" value="Update">
                            }
                        </div>
                        <div class="col-sm-4" align="left">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                    </div>


                </div>


                <div class="container-fluid" style="padding-right: 228px;">


                    @Html.HiddenFor(m => m.CREATED_BY_USERNAME)
                    @Html.HiddenFor(m => m.PREVIOUS_STATUS)
                    @Html.HiddenFor(m => m.PREVIOUS_ASSIGNMENTDATE)
                    @Html.HiddenFor(m => m.PREVIOUS_ASSIGNEE)


                </div>
            </section>
        </div>


    }

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

<script type="text/javascript">

    $("#btnclose").click(function () {
         self.close();
    });
</script>

<script>
    //button submit click event for validation on title, type, recretion steps and problem description
    //the submit buttoin is in _HelpDeskSubmit.cshtml
    $(document).ready(function () {
        $("#butnSubmit").click(function () {
            
            //alert(document.getElementById("category").value);
            if ($('#assignedto').val() == '') {
                alert("Please select help desk assignee name");
                $('#assignedto').focus();
                return false;
            }
            
            if($('#status').val() == 0)
            {
                alert("Ticket Status cannot be in OPEN state, change to InProgress or any");
                return false;
            }

        });
    });
</script>